/* screen - about */

.about {
  align-items: flex-end;
  background-color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  height: 3600px;
  overflow: hidden;
  padding: 73px 0;
  width: 1440px;
}

.about .image-container {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 19.0px;
  min-width: 1217px;
}

.about .image-46:hover {
  transform: scale(1.3);
}

.about .image-47:hover {
  transform: scale(1.3);
}

.about .image-48:hover {
  transform: scale(1.3);
}

.about .group-container {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 107px;
  margin-left: 111.25px;
  margin-top: 140px;
  min-width: 1085px;
}

.about .group-container-1 {
  height: 573px;
  position: relative;
  width: 963px;
}

.about .overlap-group7 {
  height: 573px;
  left: 0;
  position: absolute;
  top: 0;
  width: 963px;
}

.about .image-59 {
  display: block;
  height: 553px;
  left: 547px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 20px;
  transform: translate(25px, 0);
  width: 416px;
}

.about .image-59.animate-enter23 {
  animation: animate-enter23-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .hilm-ashan-inn {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-50px, 0);
  width: 761px;
}

.about .hilm-ashan-inn.animate-enter24 {
  animation: animate-enter24-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(-50px, 0);
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
transform: translate(-50px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .group-427321985 {
  cursor: pointer;
  height: 90px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 468px;
  transition: all 0.5s ease-in-out;
  width: 270px;
}

.about .group-427321985.animate-enter28 {
  animation: animate-enter28-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter28-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .group-427321985:hover {
  transform: translate(0, -10px);
}

.about .overlap-group-1 {
  height: 86px;
  left: -1px;
  position: relative;
  width: 269px;
}

.about .vector-20 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 238px;
}

.about .download-resume {
  color: var(--white);
  font-family: var(--font-family-manrope-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  /* color: var(--white);
  font-family: var(--font-family-nats-regular);
  font-size: 32px;
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 264px; */
}

.about .group-427321953 {
  height: 435px;
  margin-top: 48.0px;
  opacity: 0;
  position: relative;
  transform: scale(0.1);
  width: 16px;
}

.about .group-427321953.animate-enter27 {
  animation: animate-enter27-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter27-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.about .group-427321986 {
  height: 233px;
  margin-right: -203px;
  margin-top: 129px;
  opacity: 0;
  position: relative;
  width: 1401px;
}

.about .group-427321986.animate-enter32 {
  animation: animate-enter32-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .toast-container {
  height: 75px;
}

.about .toast {
  letter-spacing: 0;
  line-height: normal;
}

.about .overlap-group5 {
  height: 39px;
  left: 466px;
  position: absolute;
  top: 18px;
  width: 925px;
}

.about .lead-product-designer {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .name {
  left: 418px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 12px;
  width: 507px;
}

.about .flex-container-1055 {
  height: 154px;
}

.about .group-427321987 {
  height: 175px;
  margin-right: -142px;
  margin-top: 87px;
  opacity: 0;
  position: relative;
  width: 1340px;
}

.about .group-427321987.animate-enter31 {
  animation: animate-enter31-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .baunfire {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 172px;
}

.about .overlap-group {
  height: 39px;
  left: 466px;
  position: absolute;
  top: 18px;
  width: 866px;
}

.about .creative-director {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .x-201 {
  left: 359px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 10px;
  width: 507px;
}

.about .flex-container-1058 {
  height: 96px;
}

.about .group-427321988 {
  height: 117px;
  margin-right: -142px;
  margin-top: 105px;
  opacity: 0;
  position: relative;
  width: 1340px;
}

.about .group-427321988.animate-enter30 {
  animation: animate-enter30-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter30-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .mccann {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 172px;
}

.about .ux-designer {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .user-research-and {
  left: 466px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 79px;
  width: 507px;
}

.about .group-427321989 {
  height: 117px;
  margin-right: -142px;
  margin-top: 105px;
  opacity: 0;
  position: relative;
  width: 1340px;
}

.about .group-427321989.animate-enter29 {
  animation: animate-enter29-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter29-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .wunderman {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 232px;
}

.about .visual-designer {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .created-brand-styl {
  left: 466px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 79px;
  width: 507px;
}

.about .overlap-group6 {
  align-self: center;
  height: 801px;
  margin-left: 19.0px;
  margin-top: 97px;
  position: relative;
  width: 1013px;
}

.about .image-60 {
  display: block;
  height: 454px;
  left: 395px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 347px;
  transform: translate(25px, 0);
  width: 618px;
}

.about .image-60.animate-enter25 {
  animation: animate-enter25-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(25px, 0);
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .lve-been-to16-coun {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-50px, 0);
  width: 986px;
}

.about .lve-been-to16-coun.animate-enter26 {
  animation: animate-enter26-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(-50px, 0);
}

@keyframes animate-enter26-frames {
  from{opacity: 0;
transform: translate(-50px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .image-container-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 60px;
  margin-right: 44.0px;
  margin-top: 234px;
  min-width: 662px;
}

.about .image-44.animate-enter21 {
  animation: animate-enter21-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter21-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .image-45.animate-enter22 {
  animation: animate-enter22-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .image-45:hover {
  transform: translate(0, -20px);
}

.about .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 466px;
  position: absolute;
  top: 79px;
  width: 507px;
}

.about .toast-1 {
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}
