/* screen - about */

.about {
  background-color: var(--cod-gray);
  height: 6141px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.about .expertise-vRTBB9 {
  background-color: transparent;
  display: block;
  height: 22px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 2669px;
  transform: translate(0, 25px);
  width: 124px;
}

.about .expertise-vRTBB9.animate-enter214 {
  animation: animate-enter214-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter214-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .overshare-vRTBB9 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 4284px;
  transform: translate(0, 25px);
  width: 138px;
}

.about .overshare-vRTBB9.animate-enter215 {
  animation: animate-enter215-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter215-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .x2-e01-ef68-69-a-e851-c71105c-vRTBB9 {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: 553px;
  left: 800px;
  opacity: 0;
  position: absolute;
  top: 690px;
  width: 416px;
}

.about .x2-e01-ef68-69-a-e851-c71105c-vRTBB9.animate-enter217 {
  animation: animate-enter217-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter217-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.about .x2-e01-ef68-69-a-e851-c71105c-STwpBg {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: 553px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 416px;
}

.about .x2-e01-ef68-69-a-e851-c71105c-STwpBg.animate-enter216 {
  animation: animate-enter216-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter216-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.about .group-2-vRTBB9 {
  background-color: transparent;
  display: block;
  height: 267px;
  left: 1341px;
  opacity: 0;
  position: absolute;
  top: 661px;
  transform: translate(0, 25px);
  width: 50px;
}

.about .group-2-vRTBB9.animate-enter218 {
  animation: animate-enter218-frames 2.00s ease-in-out 3.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter218-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .scroll-ThIpew {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 216px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: auto;
}

.about .path-2-ThIpew {
  background-color: transparent;
  height: 196px;
  left: 24px;
  position: absolute;
  top: -2px;
  width: 2px;
}

.about .hi-lm-ash-a-des-vRTBB9 {
  background-color: transparent;
  display: block;
  font-weight: 800;
  height: 700px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 140px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 262px;
  transform: translate(0, 25px);
  width: 878px;
}

.about .span1-bJIxjY {
}

.about .span2-bJIxjY {
  color: var(--white);
  font-family: var(--font-family-applecoloremoji);
  font-size: var(--font-size-xxxl);
}

.about .span3-bJIxjY {
}

.about .span4-bJIxjY {
}

.about .span5-bJIxjY {
}

.about .span6-bJIxjY {
}

.about .span7-bJIxjY {
}

.about .span8-bJIxjY {
}

.about .span9-bJIxjY {
}

.about .span10-bJIxjY {
}

.about .span11-bJIxjY {
}

.about .hi-lm-ash-a-des-vRTBB9.animate-enter219 {
  animation: animate-enter219-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter219-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .experiences-at-baunf-vRTBB9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 270px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1749px;
  transform: translate(0, 25px);
  width: 1085px;
}

.about .span1-7Prh7p {
  line-height: 90px;
}

.about .span2-7Prh7p {
  line-height: 90px;
}

.about .span3-7Prh7p {
  line-height: 90px;
}

.about .span4-7Prh7p {
  line-height: 90px;
}

.about .span5-7Prh7p {
  line-height: 90px;
}

.about .span6-7Prh7p {
  line-height: 90px;
}

.about .span7-7Prh7p {
  line-height: 90px;
}

.about .span8-7Prh7p {
  line-height: 90px;
}

.about .span9-7Prh7p {
  line-height: 90px;
}

.about .span10-7Prh7p {
  line-height: 90px;
}

.about .experiences-at-baunf-vRTBB9.animate-enter220 {
  animation: animate-enter220-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter220-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .collaboration-with-n-vRTBB9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 270px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 90px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2190px;
  transform: translate(0, 25px);
  width: 1136px;
}

.about .span1-q82tMf {
}

.about .span2-q82tMf {
}

.about .collaboration-with-n-vRTBB9.animate-enter221 {
  animation: animate-enter221-frames 2.00s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter221-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .i-have-specialized-i-vRTBB9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 180px;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: 90px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1414px;
  transform: translate(0, 25px);
  width: 1085px;
}

.about .span1-Km1hxJ {
}

.about .span2-Km1hxJ {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
}

.about .span3-Km1hxJ {
}

.about .span4-Km1hxJ {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
}

.about .span5-Km1hxJ {
}

.about .span6-Km1hxJ {
  color: var(--white);
  font-family: var(--font-family-applecoloremoji);
  font-size: var(--font-size-xl);
}

.about .span7-Km1hxJ {
}

.about .span8-Km1hxJ {
}

.about .span9-Km1hxJ {
}

.about .i-have-specialized-i-vRTBB9.animate-enter222 {
  animation: animate-enter222-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter222-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .art-direction-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2823px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.about .art-direction-vRTBB9.animate-enter223 {
  animation: animate-enter223-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter223-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .art-direction-vRTBB9:hover {
  filter: blur(10px);
}

.about .digital-design-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 3045px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.about .digital-design-vRTBB9.animate-enter224 {
  animation: animate-enter224-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter224-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .digital-design-vRTBB9:hover {
  filter: blur(10px);
}

.about .product-design-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 3268px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: 885px;
}

.about .product-design-vRTBB9.animate-enter225 {
  animation: animate-enter225-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter225-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .product-design-vRTBB9:hover {
  filter: blur(10px);
}

.about .visual-identity-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 3490px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.about .visual-identity-vRTBB9.animate-enter226 {
  animation: animate-enter226-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter226-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .visual-identity-vRTBB9:hover {
  filter: blur(10px);
}

.about .motion-graphic-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 3935px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: 885px;
}

.about .motion-graphic-vRTBB9.animate-enter227 {
  animation: animate-enter227-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter227-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .motion-graphic-vRTBB9:hover {
  filter: blur(10px);
}

.about .prototyping-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 200px;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 3713px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.about .prototyping-vRTBB9.animate-enter228 {
  animation: animate-enter228-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter228-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .prototyping-vRTBB9:hover {
  filter: blur(10px);
}

.about .path-4-copy-vRTBB9 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 2722px;
  transform: scaleX(0);
  width: 1241px;
}

.about .path-4-copy-vRTBB9.animate-enter229 {
  animation: animate-enter229-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter229-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.about .path-4-copy-2-vRTBB9 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 4338px;
  transform: scaleX(0);
  width: 1241px;
}

.about .path-4-copy-2-vRTBB9.animate-enter230 {
  animation: animate-enter230-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter230-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.about .e04-d31-b9-e95-20-bebf066-a36-vRTBB9 {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: 500px;
  left: 500px;
  opacity: 0;
  position: absolute;
  top: 4786px;
  width: 680px;
}

.about .e04-d31-b9-e95-20-bebf066-a36-vRTBB9.animate-enter231 {
  animation: animate-enter231-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter231-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.about .group-4-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 486px;
  opacity: 0;
  position: absolute;
  top: 5575px;
  width: 290px;
}

.about .group-4-vRTBB9.animate-enter232 {
  animation: animate-enter232-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter232-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.about .group-2-hOhzSu {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 290px;
}

.about .sayhi-MxvgXe {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.about .hi-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 813px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 5555px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.about .hi-vRTBB9.animate-enter233 {
  animation: animate-enter233-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter233-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.about .hi-vRTBB9:hover {
  transform: translate(0, -20px);
}

.about .copyright-2021-ash-vRTBB9 {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 6041px;
  white-space: nowrap;
  width: auto;
}

.about .lve-been-to-16-coun-vRTBB9 {
  background-color: transparent;
  display: block;
  font-weight: 800;
  height: 360px;
  left: 209px;
  letter-spacing: 0.00px;
  line-height: 90px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4491px;
  transform: translate(0, 25px);
  width: 1057px;
}

.about .span1-7CSKGK {
}

.about .span2-7CSKGK {
}

.about .span3-7CSKGK {
}

.about .span4-7CSKGK {
}

.about .span5-7CSKGK {
}

.about .span6-7CSKGK {
}

.about .span7-7CSKGK {
}

.about .span8-7CSKGK {
}

.about .span9-7CSKGK {
}

.about .span10-7CSKGK {
}

.about .lve-been-to-16-coun-vRTBB9.animate-enter234 {
  animation: animate-enter234-frames 3.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter234-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.about .about-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.about .about-vRTBB9:hover {
  transform: translate(0, -5px);
}

.about .work-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.about .work-vRTBB9:hover {
  transform: translate(0, -5px);
}

.about .ashcui-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.about .rectangle-vRTBB9 {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.about .image-vRTBB9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1307px;
  opacity: 0;
  position: absolute;
  top: 6014px;
  transform: translate(0, 25px);
  width: 33px;
}

.about .image-vRTBB9.animate-enter235 {
  animation: animate-enter235-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter235-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
