/* screen - ava */

.ava {
  background-color: var(--cod-gray);
  height: 31617px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.ava .role-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.ava .role-GiHQA9.animate-enter169 {
  animation: animate-enter169-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter169-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .ava-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.ava .ava-GiHQA9.animate-enter170 {
  animation: animate-enter170-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter170-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .rectangle-GiHQA9 {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.ava .about-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.ava .about-GiHQA9:hover {
  transform: translate(0, -5px);
}

.ava .work-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.ava .work-GiHQA9:hover {
  transform: translate(0, -5px);
}

.ava .ashcui-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.ava .x2019-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 406px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.ava .x2019-GiHQA9.animate-enter171 {
  animation: animate-enter171-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter171-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.ava .path-5-GiHQA9.animate-enter172 {
  animation: animate-enter172-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter172-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .ahumanizedplatf-rganizeyourtrip-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 64px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1235px;
  transform: translate(0, 25px);
  width: 506px;
}

.ava .ahumanizedplatf-rganizeyourtrip-GiHQA9.animate-enter173 {
  animation: animate-enter173-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter173-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .this-project-is-abou-GiHQA9 {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 210px;
  left: 732px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1344px;
  transform: translate(0, 25px);
  width: 581px;
}

.ava .this-project-is-abou-GiHQA9.animate-enter174 {
  animation: animate-enter174-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter174-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .getty-images-946509292-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 30197px;
  transform: translate(0, 25px);
  width: 1238px;
}

.ava .getty-images-946509292-GiHQA9.animate-enter176 {
  animation: animate-enter176-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter176-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .getty-images-946509292-SOcH8x {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.ava .getty-images-946509292-SOcH8x.animate-enter175 {
  animation: animate-enter175-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter175-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group-2-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1181px;
  pointer-events: auto;
  position: absolute;
  top: 30046px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.ava .group-2-GiHQA9:hover {
  transform: translate(0, -5px);
}

.ava .nextproject-lC7bJG {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.ava .path-6-lC7bJG {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.ava .path-6-lC7bJG:hover {
  filter: blur(10px);
}

.ava .thanks-for-scrolling-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 29961px;
  white-space: nowrap;
  width: auto;
}

.ava .thanks-for-scrolling-GiHQA9.animate-enter177 {
  animation: animate-enter177-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter177-frames {
  from{}
to{}
}

.ava .path-5-7bdFr3 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 30144px;
  transform: scaleX(0);
  width: 1238px;
}

.ava .path-5-7bdFr3.animate-enter178 {
  animation: animate-enter178-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter178-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .layout-GiHQA9 {
  background-color: transparent;
  height: 711px;
  left: 101px;
  position: absolute;
  top: 1696px;
  width: 1239px;
}

.ava .thoughtfulbrand-aginganimations-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 107px;
  opacity: 0;
  position: absolute;
  top: 2607px;
  transform: translate(0, 25px);
  width: 428px;
}

.ava .thoughtfulbrand-aginganimations-GiHQA9.animate-enter179 {
  animation: animate-enter179-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter179-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .by-thoughtfully-surf-GiHQA9 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 90px;
  left: 107px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2714px;
  transform: translate(0, 25px);
  width: 503px;
}

.ava .by-thoughtfully-surf-GiHQA9.animate-enter180 {
  animation: animate-enter180-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter180-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-LgRivs {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 2556px;
  transform: scaleX(0);
  width: 1236px;
}

.ava .path-5-LgRivs.animate-enter181 {
  animation: animate-enter181-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter181-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .high-03-GiHQA9 {
  background-color: transparent;
  height: 4595px;
  left: 102px;
  position: absolute;
  top: 24316px;
  width: 1238px;
}

.ava .high-03-oI7Qfx {
  background-color: transparent;
  height: 4595px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-04-GiHQA9 {
  background-color: transparent;
  height: 3244px;
  left: 105px;
  position: absolute;
  top: 17521px;
  width: 1232px;
}

.ava .high-04-zvKMaI {
  background-color: transparent;
  height: 3244px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1232px;
}

.ava .user-centered-research-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 20969px;
  transform: translate(0, 25px);
  width: 366px;
}

.ava .user-centered-research-GiHQA9.animate-enter182 {
  animation: animate-enter182-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter182-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-copy-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 20916px;
  transform: scaleX(0);
  width: 1242px;
}

.ava .path-5-copy-GiHQA9.animate-enter183 {
  animation: animate-enter183-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter183-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .high-06-GiHQA9 {
  background-color: transparent;
  height: 4526px;
  left: 102px;
  position: absolute;
  top: 7674px;
  width: 1238px;
}

.ava .bitmap-GiHQA9 {
  background-color: transparent;
  height: 2786px;
  left: 102px;
  position: absolute;
  top: 12200px;
  width: 1238px;
}

.ava .rectangle-7bdFr3 {
  background-color: transparent;
  height: 512px;
  left: 340px;
  overflow: hidden;
  position: absolute;
  top: 14334px;
  width: 763px;
}

.ava .high-01-copy-GiHQA9 {
  background-color: transparent;
  height: 1838px;
  left: 101px;
  position: absolute;
  top: 2906px;
  width: 1238px;
}

.ava .high-01-copy-4VssP4 {
  background-color: transparent;
  height: 1838px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-05-GiHQA9 {
  background-color: transparent;
  height: 3489px;
  left: 102px;
  position: absolute;
  top: 4185px;
  width: 1238px;
}

.ava .screen-shot-202-25-at-114224-pm-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 539px;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-202-25-at-114224-pm-GiHQA9.animate-enter185 {
  animation: animate-enter185-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter185-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .screen-shot-202-25-at-114224-pm-AUxCDM {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-202-25-at-114224-pm-AUxCDM.animate-enter184 {
  animation: animate-enter184-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter184-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .website-design-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.ava .website-design-GiHQA9.animate-enter186 {
  animation: animate-enter186-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter186-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.ava .group-GiHQA9.animate-enter187 {
  animation: animate-enter187-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter187-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .uiux-design-FGOH63 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.ava .design-direction-FGOH63 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.ava .brand-identity-FGOH63 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.ava .animation-FGOH63 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.ava .high-02-GiHQA9 {
  background-color: transparent;
  height: 3228px;
  left: 102px;
  position: absolute;
  top: 21088px;
  width: 1238px;
}

.ava .high-02-Sx11Au {
  background-color: transparent;
  height: 3228px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-09-GiHQA9 {
  background-color: transparent;
  height: 2073px;
  left: 102px;
  position: absolute;
  top: 14986px;
  width: 1238px;
}

.ava .high-09-P3Xs21 {
  background-color: transparent;
  height: 2073px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .extendingthebra-fulcolorpalette-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 17261px;
  transform: translate(0, 25px);
  width: 369px;
}

.ava .extendingthebra-fulcolorpalette-GiHQA9.animate-enter188 {
  animation: animate-enter188-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter188-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .delightful-colors-ar-GiHQA9 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 104px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 17369px;
  transform: translate(0, 25px);
  width: 512px;
}

.ava .delightful-colors-ar-GiHQA9.animate-enter189 {
  animation: animate-enter189-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter189-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-copy-7bdFr3 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 17208px;
  transform: scaleX(0);
  width: 1243px;
}

.ava .path-5-copy-7bdFr3.animate-enter190 {
  animation: animate-enter190-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter190-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .high-04-copy-GiHQA9 {
  background-color: transparent;
  height: 952px;
  left: 102px;
  position: absolute;
  top: 28911px;
  width: 1238px;
}

.ava .high-04-copy-Ky1JoU {
  background-color: transparent;
  height: 952px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .group-2-7bdFr3 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 486px;
  opacity: 0;
  position: absolute;
  top: 31051px;
  width: 290px;
}

.ava .group-2-7bdFr3.animate-enter191 {
  animation: animate-enter191-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter191-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.ava .sayhi-qetDus {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.ava .copyright-2021-ash-GiHQA9 {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 31516px;
  white-space: nowrap;
  width: auto;
}

.ava .rectangle-LgRivs {
  background-color: transparent;
  height: 412px;
  left: 395px;
  overflow: hidden;
  position: absolute;
  top: 4833px;
  width: 652px;
}

.ava .x-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 26px;
  left: 877px;
  position: absolute;
  top: 30008px;
  transform: rotate(0deg);
  width: 26px;
}

.ava .x-GiHQA9.animate-enter192 {
  animation: animate-enter192-frames 5.00s linear 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter192-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.ava .image-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1308px;
  opacity: 0;
  position: absolute;
  top: 31488px;
  transform: translate(0, 25px);
  width: 33px;
}

.ava .image-GiHQA9.animate-enter193 {
  animation: animate-enter193-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter193-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .hi-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 815px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 31032px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.ava .hi-GiHQA9.animate-enter194 {
  animation: animate-enter194-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter194-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.ava .hi-GiHQA9:hover {
  transform: translate(0, -20px);
}
