/* screen - ava */

.ava {
  background-color: var(--black);
  height: 31617px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.ava .role-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.ava .role-GiHQA9.animate-enter120 {
  animation: animate-enter120-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter120-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .ava-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.ava .ava-GiHQA9.animate-enter121 {
  animation: animate-enter121-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter121-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .rectangle-GiHQA9 {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.ava .about-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.ava .about-GiHQA9:hover {
  transform: translate(0, -5px);
}

.ava .work-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.ava .work-GiHQA9:hover {
  transform: translate(0, -5px);
}

.ava .ashcui-GiHQA9 {
  background-color: transparent;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.ava .x2019-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 406px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.ava .x2019-GiHQA9.animate-enter122 {
  animation: animate-enter122-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter122-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-GiHQA9 {
  background-color: transparent;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 406px;
  width: 1237px;
}

.ava .ahumanizedplatf-rganizeyourtrip-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 64px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1235px;
  transform: translate(0, 25px);
  width: 506px;
}

.ava .ahumanizedplatf-rganizeyourtrip-GiHQA9.animate-enter123 {
  animation: animate-enter123-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter123-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .this-project-is-abou-GiHQA9 {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 210px;
  left: 732px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1344px;
  transform: translate(0, 25px);
  width: 581px;
}

.ava .this-project-is-abou-GiHQA9.animate-enter124 {
  animation: animate-enter124-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter124-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .getty-images-946509292-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 30197px;
  transform: translate(0, 25px);
  width: 1238px;
}

.ava .getty-images-946509292-GiHQA9.animate-enter126 {
  animation: animate-enter126-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter126-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .getty-images-946509292-SOcH8x {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.ava .getty-images-946509292-SOcH8x.animate-enter125 {
  animation: animate-enter125-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter125-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group-2-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1181px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 30046px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.ava .group-2-GiHQA9.animate-enter127 {
  animation: animate-enter127-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter127-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group-2-GiHQA9:hover {
  filter: blur(10px);
}

.ava .nextproject-lC7bJG {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.ava .path-6-lC7bJG {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.ava .path-6-lC7bJG:hover {
  filter: blur(10px);
}

.ava .thanks-for-scrolling-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 29961px;
  white-space: nowrap;
  width: auto;
}

.ava .thanks-for-scrolling-GiHQA9.animate-enter128 {
  animation: animate-enter128-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter128-frames {
  from{}
to{}
}

.ava .path-5-7bdFr3 {
  background-color: transparent;
  height: 3px;
  left: 102px;
  position: absolute;
  top: 30144px;
  width: 1238px;
}

.ava .x-GiHQA9 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 897px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 30005px;
  white-space: nowrap;
  width: auto;
}

.ava .layout-GiHQA9 {
  background-color: transparent;
  height: 711px;
  left: 101px;
  position: absolute;
  top: 1696px;
  width: 1239px;
}

.ava .thoughtfulbrand-aginganimations-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 107px;
  opacity: 0;
  position: absolute;
  top: 2607px;
  transform: translate(0, 25px);
  width: 428px;
}

.ava .thoughtfulbrand-aginganimations-GiHQA9.animate-enter129 {
  animation: animate-enter129-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter129-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .by-thoughtfully-surf-GiHQA9 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 90px;
  left: 107px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2714px;
  transform: translate(0, 25px);
  width: 503px;
}

.ava .by-thoughtfully-surf-GiHQA9.animate-enter130 {
  animation: animate-enter130-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter130-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-LgRivs {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 2556px;
  width: 1236px;
}

.ava .high-03-GiHQA9 {
  background-color: transparent;
  height: 4595px;
  left: 102px;
  position: absolute;
  top: 24316px;
  width: 1238px;
}

.ava .high-03-oI7Qfx {
  background-color: transparent;
  height: 4595px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-04-GiHQA9 {
  background-color: transparent;
  height: 3244px;
  left: 105px;
  position: absolute;
  top: 17521px;
  width: 1232px;
}

.ava .high-04-zvKMaI {
  background-color: transparent;
  height: 3244px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1232px;
}

.ava .user-centered-research-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 20969px;
  transform: translate(0, 25px);
  width: 366px;
}

.ava .user-centered-research-GiHQA9.animate-enter131 {
  animation: animate-enter131-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter131-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-copy-GiHQA9 {
  background-color: transparent;
  height: 3px;
  left: 100px;
  position: absolute;
  top: 20916px;
  width: 1242px;
}

.ava .high-06-GiHQA9 {
  background-color: transparent;
  height: 4526px;
  left: 102px;
  position: absolute;
  top: 7674px;
  width: 1238px;
}

.ava .bitmap-GiHQA9 {
  background-color: transparent;
  height: 2786px;
  left: 102px;
  position: absolute;
  top: 12200px;
  width: 1238px;
}

.ava .rectangle-7bdFr3 {
  background-color: transparent;
  height: 512px;
  left: 340px;
  overflow: hidden;
  position: absolute;
  top: 14334px;
  width: 763px;
}

.ava .high-01-copy-GiHQA9 {
  background-color: transparent;
  height: 1838px;
  left: 101px;
  position: absolute;
  top: 2906px;
  width: 1238px;
}

.ava .high-01-copy-4VssP4 {
  background-color: transparent;
  height: 1838px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-05-GiHQA9 {
  background-color: transparent;
  height: 3489px;
  left: 102px;
  position: absolute;
  top: 4185px;
  width: 1238px;
}

.ava .screen-shot-202-25-at-114224-pm-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 539px;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-202-25-at-114224-pm-GiHQA9.animate-enter133 {
  animation: animate-enter133-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter133-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .screen-shot-202-25-at-114224-pm-AUxCDM {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-202-25-at-114224-pm-AUxCDM.animate-enter132 {
  animation: animate-enter132-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter132-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .website-design-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.ava .website-design-GiHQA9.animate-enter134 {
  animation: animate-enter134-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter134-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.ava .group-GiHQA9.animate-enter135 {
  animation: animate-enter135-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter135-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .uiux-design-FGOH63 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.ava .design-direction-FGOH63 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.ava .brand-identity-FGOH63 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.ava .animation-FGOH63 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.ava .high-02-GiHQA9 {
  background-color: transparent;
  height: 3228px;
  left: 102px;
  position: absolute;
  top: 21088px;
  width: 1238px;
}

.ava .high-02-Sx11Au {
  background-color: transparent;
  height: 3228px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .high-09-GiHQA9 {
  background-color: transparent;
  height: 2073px;
  left: 102px;
  position: absolute;
  top: 14986px;
  width: 1238px;
}

.ava .high-09-P3Xs21 {
  background-color: transparent;
  height: 2073px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .extendingthebra-fulcolorpalette-GiHQA9 {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 17261px;
  transform: translate(0, 25px);
  width: 369px;
}

.ava .extendingthebra-fulcolorpalette-GiHQA9.animate-enter136 {
  animation: animate-enter136-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter136-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .delightful-colors-ar-GiHQA9 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 104px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 17369px;
  transform: translate(0, 25px);
  width: 512px;
}

.ava .delightful-colors-ar-GiHQA9.animate-enter137 {
  animation: animate-enter137-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter137-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5-copy-7bdFr3 {
  background-color: transparent;
  height: 3px;
  left: 100px;
  position: absolute;
  top: 17208px;
  width: 1243px;
}

.ava .high-04-copy-GiHQA9 {
  background-color: transparent;
  height: 952px;
  left: 102px;
  position: absolute;
  top: 28911px;
  width: 1238px;
}

.ava .high-04-copy-Ky1JoU {
  background-color: transparent;
  height: 952px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.ava .group-2-7bdFr3 {
  background-color: transparent;
  height: 182px;
  left: 486px;
  position: absolute;
  top: 31031px;
  width: 466px;
}

.ava .sayhi-qetDus {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.ava .path-qetDus {
  background-color: transparent;
  height: 6px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.ava .textlabel-qetDus {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.ava .copyright-2021-ash-GiHQA9 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 31516px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.ava .copyright-2021-ash-GiHQA9.animate-enter138 {
  animation: animate-enter138-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter138-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .textlabel-GiHQA9 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 66px;
  left: 1300px;
  letter-spacing: 0.00px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 31482px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}

.ava .rectangle-LgRivs {
  background-color: transparent;
  height: 412px;
  left: 395px;
  overflow: hidden;
  position: absolute;
  top: 4833px;
  width: 652px;
}
