/* screen - ava */

.ava {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  min-height: 31617px;
  padding: 0 55.0px;
  width: 1440px;
}

.ava .flex-col {
  flex-direction: column;
  gap: 66px;
  min-height: 94px;
  width: 1236px;
}

.ava .rectangle {
  background-color: var(--cod-gray);
  height: 11px;
  margin-right: 5.0px;
  width: 311px;
}

.ava .flex-row {
  min-width: 1236px;
}

.ava .work:hover {
  transform: translate(0, -5px);
}

.ava .about:hover {
  transform: translate(0, -5px);
}

.ava .name {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 160px;
  margin-left: 47.0px;
  margin-top: 103px;
  opacity: 0;
  transform: translate(0, 25px);
  white-space: nowrap;
}

.ava .name.animate-enter224 {
  animation: animate-enter224-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter224-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .overlap-group4 {
  align-self: flex-end;
  height: 88px;
  margin-top: 48px;
  position: relative;
  width: 1284px;
}

.ava .overlap-group3 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1237px;
}

.ava .number {
  font-weight: 700;
  left: 2px;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.ava .number.animate-enter225 {
  animation: animate-enter225-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter225-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .path-5 {
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  width: 1237px;
}

.ava .path-5.animate-enter226 {
  animation: animate-enter226-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: scaleX(0);
}

@keyframes animate-enter226-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .website-design {
  font-weight: 700;
  left: 1036px;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 8px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.ava .website-design.animate-enter240 {
  animation: animate-enter240-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter240-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .screen-shot-2021-10-25-at-114224-pm {
  height: 550px;
  margin-left: 4.0px;
  margin-top: 45px;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-2021-10-25-at-114224-pm.animate-enter239 {
  animation: animate-enter239-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter239-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .screen-shot-2021-10-25-at-114224-pm-1 {
  display: block;
  height: 550px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 25px);
  width: 1240px;
}

.ava .screen-shot-2021-10-25-at-114224-pm-1.animate-enter238 {
  animation: animate-enter238-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter238-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-row-1 {
  gap: 492px;
  height: 319px;
  margin-right: 25.0px;
  margin-top: 146px;
  min-width: 1211px;
}

.ava .flex-col-1 {
  align-items: flex-start;
  gap: 52px;
  margin-top: 1px;
  min-height: 220px;
  width: 138px;
}

.ava .role {
  display: block;
  height: 18px;
  margin-left: 2px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 86px;
}

.ava .role.animate-enter223 {
  animation: animate-enter223-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter223-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .group {
  height: 150px;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 138px;
}

.ava .group.animate-enter241 {
  animation: animate-enter241-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter241-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .design-direction {
  color: var(--mercury);
  font-weight: 400;
  left: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ava .animation {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 120px;
  white-space: nowrap;
}

.ava .flex-col-2 {
  align-items: flex-start;
  gap: 45px;
  min-height: 319px;
  width: 581px;
}

.ava .ahumanizedplatformto {
  display: block;
  height: 64px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 506px;
}

.ava .ahumanizedplatformto.animate-enter227 {
  animation: animate-enter227-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter227-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .this-project-is-abou {
  color: var(--mercury);
  font-weight: 400;
  line-height: 30px;
  min-height: 210px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 581px;
}

.ava .this-project-is-abou.animate-enter228 {
  animation: animate-enter228-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter228-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-col-3 {
  align-items: flex-start;
  margin-left: 1.0px;
  margin-top: 142px;
  min-height: 974px;
  width: 1239px;
}

.ava .layout {
  height: 711px;
  width: 1239px;
}

.ava .path-5-1 {
  height: 4px;
  margin-left: 1.5px;
  margin-top: 148px;
  width: 1236px;
}

.ava .path-5-1.animate-enter235 {
  animation: animate-enter235-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: scaleX(0);
}

@keyframes animate-enter235-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .thoughtfulbrandstory {
  display: block;
  height: 63px;
  margin-left: 6px;
  margin-top: 48px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 428px;
}

.ava .thoughtfulbrandstory.animate-enter233 {
  animation: animate-enter233-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter233-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .by-thoughtfully-surf {
  align-self: flex-start;
  color: var(--white);
  font-weight: 400;
  line-height: 30px;
  margin-left: 52.0px;
  margin-top: 44px;
  min-height: 90px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 503px;
}

.ava .by-thoughtfully-surf.animate-enter234 {
  animation: animate-enter234-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter234-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-col-4 {
  align-items: flex-start;
  margin-left: 4.0px;
  margin-top: 102px;
  min-height: 14418px;
  width: 1243px;
}

.ava .overlap-group {
  height: 4768px;
  margin-left: 0.5px;
  position: relative;
  width: 1239px;
}

.ava .high-01-copy {
  background-image: url(../img/ava-high-01-copy-AC0EA5C1-BC89-4681-A2EE-5C6910012CDB.png);
  background-size: 100% 100%;
  height: 1838px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1238px;
}

.ava .high-05 {
  height: 3489px;
  left: 1px;
  position: absolute;
  top: 1279px;
  width: 1238px;
}

.ava .rectangle-1 {
  background-image: url(https://media.giphy.com/media/qDOXLG4djYuD7nwGj6/giphy.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 412px;
  left: 294px;
  position: absolute;
  top: 1927px;
  width: 652px;
}

.ava .high-06 {
  height: 4526px;
  margin-left: 1.5px;
  width: 1238px;
}

.ava .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/ava-bitmap-DC93D37D-852B-4E0F-9E5B-86E9E8B0FF78.jpg);
  background-size: 100% 100%;
  display: flex;
  height: 2786px;
  justify-content: flex-end;
  margin-left: 1.5px;
  min-width: 1238px;
  padding: 140px 237px;
}

.ava .rectangle-2 {
  background-image: url(https://media.giphy.com/media/hgKJGWTIY4EprLA0qu/giphy.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 512px;
  width: 763px;
}

.ava .high-09 {
  background-image: url(../img/ava-high-09-20EC8C7D-7A06-4560-8F35-BBE60943E0BE.png);
  background-size: 100% 100%;
  height: 2073px;
  margin-left: 1.5px;
  width: 1238px;
}

.ava .path-5-copy {
  height: 3px;
  margin-top: 148px;
  width: 1243px;
}

.ava .path-5-copy.animate-enter244 {
  animation: animate-enter244-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: scaleX(0);
}

@keyframes animate-enter244-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .extendingthebrandwit {
  display: block;
  height: 63px;
  margin-left: 4.5px;
  margin-top: 50px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 369px;
}

.ava .extendingthebrandwit.animate-enter242 {
  animation: animate-enter242-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter242-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .delightful-colors-ar {
  align-self: flex-start;
  color: var(--white);
  font-weight: 400;
  line-height: 30px;
  margin-left: 49.0px;
  margin-top: 45px;
  min-height: 60px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 512px;
}

.ava .delightful-colors-ar.animate-enter243 {
  animation: animate-enter243-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter243-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-col-5 {
  align-items: flex-start;
  margin-left: 1.0px;
  margin-top: 92px;
  min-height: 12342px;
  width: 1242px;
}

.ava .high-04 {
  align-self: flex-end;
  background-image: url(../img/ava-high-04-FF398428-9A9B-48FC-A08D-9199784E0A9A.png);
  background-size: 100% 100%;
  height: 3244px;
  margin-right: 4.5px;
  width: 1232px;
}

.ava .path-5-copy-1 {
  display: block;
  height: 3px;
  margin-top: 150px;
  transform: scaleX(0);
  width: 1242px;
}

.ava .path-5-copy-1.animate-enter237 {
  animation: animate-enter237-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: scaleX(0);
}

@keyframes animate-enter237-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .user-centered-research {
  display: block;
  height: 18px;
  margin-left: 5.5px;
  margin-top: 50px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 366px;
}

.ava .user-centered-research.animate-enter236 {
  animation: animate-enter236-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter236-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .high-02 {
  background-image: url(../img/ava-high-02-AB292C6D-9DC6-4591-8A99-AEBE5CD521E6.png);
  background-size: 100% 100%;
  height: 3228px;
  margin-left: 2.5px;
  margin-top: 101px;
  width: 1238px;
}

.ava .high-03 {
  background-image: url(../img/ava-high-03-56153F14-2B34-4C4B-8A07-C4A7B3CE6529.png);
  background-size: 100% 100%;
  height: 4595px;
  margin-left: 2.5px;
  width: 1238px;
}

.ava .high-04-copy {
  background-image: url(../img/ava-high-04-copy-E19422E9-960C-460F-973B-1670BA3689F1.png);
  background-size: 100% 100%;
  height: 952px;
  margin-left: 2.5px;
  width: 1238px;
}

.ava .group-container {
  align-items: center;
  display: flex;
  gap: 278px;
  margin-left: 2.0px;
  margin-top: 98px;
  min-width: 1238px;
}

.ava .overlap-group2 {
  height: 160px;
  position: relative;
  width: 801px;
}

.ava .thanks-for-scrolling {
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 160px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ava .thanks-for-scrolling.animate-enter231 {
  animation: animate-enter231-frames 1.50s ease-in-out 0.00s 1 normal forwards;
}

@keyframes animate-enter231-frames {
  from{}
to{}
}

.ava .x {
  display: block;
  height: 26px;
  left: 775px;
  position: absolute;
  top: 47px;
  transform: rotate(0deg);
  width: 26px;
}

.ava .x.animate-enter246 {
  animation: animate-enter246-frames 5.00s linear 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter246-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.ava .group-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 36.0px;
  min-height: 26px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.ava .group-2:hover {
  transform: translate(0, -5px);
}

.ava .nextproject {
  height: 11px;
  margin-left: 2px;
  margin-top: 3px;
  width: 157px;
}

.ava .path-6 {
  cursor: pointer;
  height: 2px;
  margin-left: 0.5px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.ava .path-6:hover {
  filter: blur(10px);
}

.ava .flex-col-6 {
  align-items: center;
  margin-left: 1.5px;
  margin-top: 24px;
  min-height: 1068px;
  width: 1238px;
}

.ava .path-5-2 {
  height: 3px;
  margin-right: 0.5px;
  width: 1238px;
}

.ava .path-5-2.animate-enter232 {
  animation: animate-enter232-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: scaleX(0);
}

@keyframes animate-enter232-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.ava .getty-images-946509292 {
  height: 570px;
  margin-left: 0.5px;
  margin-top: 50px;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 1238px;
}

.ava .getty-images-946509292.animate-enter230 {
  animation: animate-enter230-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter230-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .getty-images-946509292-1.animate-enter229 {
  animation: animate-enter229-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter229-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-row-2 {
  gap: 39px;
  height: 181px;
  margin-right: 6.5px;
  margin-top: 265px;
  min-width: 463px;
}

.ava .group-2-1.animate-enter245 {
  animation: animate-enter245-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter245-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.ava .hi.animate-enter248 {
  animation: animate-enter248-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter248-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.ava .hi:hover {
  transform: translate(0, -20px);
}

.ava .flex-row-3 {
  align-self: flex-end;
  gap: 519px;
  height: 78px;
  margin-right: 44.0px;
  margin-top: 275px;
  min-width: 694px;
}

.ava .copyright-2021-ash {
  align-self: flex-end;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-width: 142px;
  text-align: right;
  white-space: nowrap;
}

.ava .image {
  cursor: pointer;
  display: block;
  height: 69px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 33px;
}

.ava .image.animate-enter247 {
  animation: animate-enter247-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter247-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ava .flex-col-7 {
  display: flex;
  flex-direction: column;
}

.ava .flex-row-4 {
  align-items: flex-start;
  display: flex;
}

.ava .path-5-3 {
  display: block;
  transform: scaleX(0);
}
