/* screen - benchling */

.benchling {
  background-color: var(--black);
  height: 16247px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.benchling .benchling-illu-ins-peptidesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 11791px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ins-peptidesv3-9v54ur.animate-enter165 {
  animation: animate-enter165-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter165-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ins-peptidesv3-JbcQPn {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ins-peptidesv3-JbcQPn.animate-enter164 {
  animation: animate-enter164-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter164-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-webs-verviewv4-web-9v54ur {
  background-color: transparent;
  display: block;
  height: 604px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 10753px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-webs-verviewv4-web-9v54ur.animate-enter167 {
  animation: animate-enter167-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter167-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-webs-verviewv4-web-q1x9CX {
  background-color: transparent;
  display: block;
  height: 604px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-webs-verviewv4-web-q1x9CX.animate-enter166 {
  animation: animate-enter166-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter166-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-on-servicesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 1254px;
  left: 788px;
  opacity: 0;
  position: absolute;
  top: 9855px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-on-servicesv3-9v54ur.animate-enter169 {
  animation: animate-enter169-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter169-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-on-servicesv3-xfT3kw {
  background-color: transparent;
  display: block;
  height: 1254px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-on-servicesv3-xfT3kw.animate-enter168 {
  animation: animate-enter168-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter168-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .full-bleed-lifestyle1-9v54ur {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.benchling .full-bleed-lifestyle1-9v54ur.animate-enter171 {
  animation: animate-enter171-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter171-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .full-bleed-lifestyle1-MznzVv {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.benchling .full-bleed-lifestyle1-MznzVv.animate-enter170 {
  animation: animate-enter170-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter170-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .website-design-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.benchling .website-design-9v54ur.animate-enter172 {
  animation: animate-enter172-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter172-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .role-9v54ur {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.benchling .role-9v54ur.animate-enter173 {
  animation: animate-enter173-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter173-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.benchling .benchling-9v54ur.animate-enter174 {
  animation: animate-enter174-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter174-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .rectangle-9v54ur {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.benchling .x2019-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 406px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.benchling .x2019-9v54ur.animate-enter175 {
  animation: animate-enter175-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter175-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-9v54ur {
  background-color: transparent;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 406px;
  width: 1237px;
}

.benchling .anelevatedwebpr-nlifescience-rd-9v54ur {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1235px;
  transform: translate(0, 25px);
  width: 462px;
}

.benchling .anelevatedwebpr-nlifescience-rd-9v54ur.animate-enter176 {
  animation: animate-enter176-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter176-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .traditional-rd-soft-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 300px;
  left: 732px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1343px;
  transform: translate(0, 25px);
  width: 606px;
}

.benchling .traditional-rd-soft-9v54ur.animate-enter177 {
  animation: animate-enter177-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter177-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .clearandconcisemessaging-9v54ur {
  background-color: transparent;
  height: 23px;
  left: 98px;
  position: absolute;
  top: 8286px;
  width: 452px;
}

.benchling .main-focus-for-the-b-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 100px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 8340px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .main-focus-for-the-b-9v54ur.animate-enter178 {
  animation: animate-enter178-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter178-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-Lhs6Wp {
  background-color: transparent;
  height: 4px;
  left: 98px;
  position: absolute;
  top: 8236px;
  width: 1238px;
}

.benchling .arefreshedbrandpalette-9v54ur {
  background-color: transparent;
  height: 23px;
  left: 99px;
  position: absolute;
  top: 12600px;
  width: 394px;
}

.benchling .with-the-purpose-of-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 99px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 12650px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .with-the-purpose-of-9v54ur.animate-enter179 {
  animation: animate-enter179-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter179-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .i-created-custom-ill-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 99px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 11609px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .i-created-custom-ill-9v54ur.animate-enter180 {
  animation: animate-enter180-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter180-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-dTSEyy {
  background-color: transparent;
  height: 4px;
  left: 100px;
  position: absolute;
  top: 12546px;
  width: 1238px;
}

.benchling .image02-9v54ur {
  background-color: transparent;
  display: block;
  height: 6299px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 1790px;
  transform: translate(0, 25px);
  width: 1237px;
}

.benchling .image02-9v54ur.animate-enter182 {
  animation: animate-enter182-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter182-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image02-HDxy5z {
  background-color: transparent;
  display: block;
  height: 6299px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1237px;
}

.benchling .image02-HDxy5z.animate-enter181 {
  animation: animate-enter181-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter181-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image06-9v54ur {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 12829px;
  transform: translate(0, 25px);
  width: 1242px;
}

.benchling .image06-9v54ur.animate-enter183 {
  animation: animate-enter183-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter183-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image07-9v54ur {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 13686px;
  transform: translate(0, 25px);
  width: 1242px;
}

.benchling .image07-9v54ur.animate-enter184 {
  animation: animate-enter184-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter184-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .group-2-9v54ur {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1179px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 14672px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.benchling .group-2-9v54ur.animate-enter185 {
  animation: animate-enter185-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter185-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .group-2-9v54ur:hover {
  filter: blur(10px);
}

.benchling .nextproject-juevKC {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.benchling .path-6-juevKC {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.benchling .path-6-juevKC:hover {
  filter: blur(10px);
}

.benchling .getty-images-946509292-9v54ur {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 14827px;
  transform: translate(0, 25px);
  width: 1238px;
}

.benchling .getty-images-946509292-9v54ur.animate-enter187 {
  animation: animate-enter187-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter187-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .getty-images-946509292-7VCFpN {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.benchling .getty-images-946509292-7VCFpN.animate-enter186 {
  animation: animate-enter186-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter186-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .brandedillustrations-9v54ur {
  background-color: transparent;
  height: 18px;
  left: 102px;
  position: absolute;
  top: 11559px;
  width: 316px;
}

.benchling .path-5-copy-2-9v54ur {
  background-color: transparent;
  height: 4px;
  left: 98px;
  position: absolute;
  top: 11506px;
  width: 1238px;
}

.benchling .benchling-illu-gene-therapyv2-9v54ur {
  background-color: transparent;
  display: block;
  height: 1466px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 8289px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-gene-therapyv2-9v54ur.animate-enter189 {
  animation: animate-enter189-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter189-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-gene-therapyv2-4m7vpd {
  background-color: transparent;
  display: block;
  height: 1466px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-gene-therapyv2-4m7vpd.animate-enter188 {
  animation: animate-enter188-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter188-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .referral-lp-9v54ur {
  background-color: transparent;
  display: block;
  height: 1924px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 8729px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .referral-lp-9v54ur.animate-enter191 {
  animation: animate-enter191-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter191-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .referral-lp-ZtPUmx {
  background-color: transparent;
  display: block;
  height: 1924px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .referral-lp-ZtPUmx.animate-enter190 {
  animation: animate-enter190-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter190-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image01-9v54ur {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 11791px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .image01-9v54ur.animate-enter193 {
  animation: animate-enter193-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter193-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image01-yk7KHx {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .image01-yk7KHx.animate-enter192 {
  animation: animate-enter192-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter192-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-therapyv3-copy-9v54ur {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 12133px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-therapyv3-copy-9v54ur.animate-enter195 {
  animation: animate-enter195-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter195-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-therapyv3-copy-8j3ANO {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-therapyv3-copy-8j3ANO.animate-enter194 {
  animation: animate-enter194-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter194-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ns-vaccinesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 12132px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ns-vaccinesv3-9v54ur.animate-enter197 {
  animation: animate-enter197-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter197-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ns-vaccinesv3-w9Vt9z {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ns-vaccinesv3-w9Vt9z.animate-enter196 {
  animation: animate-enter196-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter196-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .thanks-for-scrolling-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 14591px;
  white-space: nowrap;
  width: auto;
}

.benchling .thanks-for-scrolling-9v54ur.animate-enter198 {
  animation: animate-enter198-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter198-frames {
  from{}
to{}
}

.benchling .path-5-kAHPQ5 {
  background-color: transparent;
  height: 3px;
  left: 102px;
  position: absolute;
  top: 14774px;
  width: 1238px;
}

.benchling .x-9v54ur {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 897px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 14635px;
  white-space: nowrap;
  width: auto;
}

.benchling .group-9v54ur {
  background-color: transparent;
  display: block;
  height: 109px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 93px;
}

.benchling .group-9v54ur.animate-enter199 {
  animation: animate-enter199-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter199-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .ui-design-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.benchling .span1-UiY1rz {
}

.benchling .span2-UiY1rz {
  color: var(--mercury);
  font-family: var(--font-family-pingfangsc-light);
  font-size: var(--font-size-m);
}

.benchling .span3-UiY1rz {
}

.benchling .animation-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}

.benchling .illustration-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 39px;
  white-space: nowrap;
  width: auto;
}

.benchling .about-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.benchling .about-9v54ur:hover {
  transform: translate(0, -5px);
}

.benchling .work-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.benchling .work-9v54ur:hover {
  transform: translate(0, -5px);
}

.benchling .ashcui-9v54ur {
  background-color: transparent;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.benchling .group-2-Lhs6Wp {
  background-color: transparent;
  height: 182px;
  left: 486px;
  position: absolute;
  top: 15661px;
  width: 466px;
}

.benchling .sayhi-4flXtH {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.benchling .path-4flXtH {
  background-color: transparent;
  height: 6px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.benchling .textlabel-4flXtH {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.benchling .copyright-2021-ash-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 16146px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.benchling .copyright-2021-ash-9v54ur.animate-enter200 {
  animation: animate-enter200-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter200-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .textlabel-9v54ur {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 66px;
  left: 1300px;
  letter-spacing: 0.00px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 16111px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}
