/* screen - benchling */

.benchling {
  background-color: var(--cod-gray);
  height: 16247px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.benchling .benchling-illu-ins-peptidesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 11791px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ins-peptidesv3-9v54ur.animate-enter1 {
  animation: animate-enter1-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ins-peptidesv3-JbcQPn {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ins-peptidesv3-JbcQPn.animate-enter {
  animation: animate-enter-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-webs-verviewv4-web-9v54ur {
  background-color: transparent;
  display: block;
  height: 604px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 10753px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-webs-verviewv4-web-9v54ur.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-webs-verviewv4-web-q1x9CX {
  background-color: transparent;
  display: block;
  height: 604px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-webs-verviewv4-web-q1x9CX.animate-enter2 {
  animation: animate-enter2-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-on-servicesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 1254px;
  left: 788px;
  opacity: 0;
  position: absolute;
  top: 9855px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-on-servicesv3-9v54ur.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-on-servicesv3-xfT3kw {
  background-color: transparent;
  display: block;
  height: 1254px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-on-servicesv3-xfT3kw.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .full-bleed-lifestyle1-9v54ur {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.benchling .full-bleed-lifestyle1-9v54ur.animate-enter7 {
  animation: animate-enter7-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .full-bleed-lifestyle1-MznzVv {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.benchling .full-bleed-lifestyle1-MznzVv.animate-enter6 {
  animation: animate-enter6-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .website-design-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.benchling .website-design-9v54ur.animate-enter8 {
  animation: animate-enter8-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .role-9v54ur {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.benchling .role-9v54ur.animate-enter9 {
  animation: animate-enter9-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .title-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.benchling .title-9v54ur.animate-enter10 {
  animation: animate-enter10-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .rectangle-9v54ur {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.benchling .x2019-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 406px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.benchling .x2019-9v54ur.animate-enter11 {
  animation: animate-enter11-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-9v54ur {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.benchling .path-5-9v54ur.animate-enter12 {
  animation: animate-enter12-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter12-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.benchling .anelevatedwebpr-nlifescience-rd-9v54ur {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1235px;
  transform: translate(0, 25px);
  width: 462px;
}

.benchling .anelevatedwebpr-nlifescience-rd-9v54ur.animate-enter13 {
  animation: animate-enter13-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .traditional-rd-soft-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 300px;
  left: 732px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1343px;
  transform: translate(0, 25px);
  width: 606px;
}

.benchling .traditional-rd-soft-9v54ur.animate-enter14 {
  animation: animate-enter14-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .clearandconcisemessaging-9v54ur {
  background-color: transparent;
  height: 23px;
  left: 98px;
  position: absolute;
  top: 8286px;
  width: 452px;
}

.benchling .main-focus-for-the-b-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 100px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 8340px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .main-focus-for-the-b-9v54ur.animate-enter15 {
  animation: animate-enter15-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-Lhs6Wp {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 8236px;
  transform: scaleX(0);
  width: 1238px;
}

.benchling .path-5-Lhs6Wp.animate-enter16 {
  animation: animate-enter16-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter16-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.benchling .arefreshedbrandpalette-9v54ur {
  background-color: transparent;
  height: 23px;
  left: 99px;
  position: absolute;
  top: 12600px;
  width: 394px;
}

.benchling .with-the-purpose-of-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 99px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 12650px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .with-the-purpose-of-9v54ur.animate-enter17 {
  animation: animate-enter17-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter17-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .i-created-custom-ill-9v54ur {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 99px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 11609px;
  transform: translate(0, 25px);
  width: 513px;
}

.benchling .i-created-custom-ill-9v54ur.animate-enter18 {
  animation: animate-enter18-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter18-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .path-5-dTSEyy {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 12546px;
  transform: scaleX(0);
  width: 1238px;
}

.benchling .path-5-dTSEyy.animate-enter19 {
  animation: animate-enter19-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter19-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.benchling .image02-9v54ur {
  background-color: transparent;
  display: block;
  height: 6299px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 1800px;
  transform: translate(0, 25px);
  width: 1237px;
}

.benchling .image02-9v54ur.animate-enter21 {
  animation: animate-enter21-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter21-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image02-HDxy5z {
  background-color: transparent;
  display: block;
  height: 6299px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1237px;
}

.benchling .image02-HDxy5z.animate-enter20 {
  animation: animate-enter20-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter20-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image06-9v54ur {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 12829px;
  transform: translate(0, 25px);
  width: 1242px;
}

.benchling .image06-9v54ur.animate-enter22 {
  animation: animate-enter22-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image07-9v54ur {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 13686px;
  transform: translate(0, 25px);
  width: 1242px;
}

.benchling .image07-9v54ur.animate-enter23 {
  animation: animate-enter23-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .group-2-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1179px;
  pointer-events: auto;
  position: absolute;
  top: 14672px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.benchling .group-2-9v54ur:hover {
  transform: translate(0, -5px);
}

.benchling .nextproject-juevKC {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.benchling .path-6-juevKC {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.benchling .path-6-juevKC:hover {
  filter: blur(10px);
}

.benchling .getty-images-946509292-9v54ur {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 14827px;
  transform: translate(0, 25px);
  width: 1238px;
}

.benchling .getty-images-946509292-9v54ur.animate-enter25 {
  animation: animate-enter25-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .getty-images-946509292-7VCFpN {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.benchling .getty-images-946509292-7VCFpN.animate-enter24 {
  animation: animate-enter24-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .brandedillustrations-9v54ur {
  background-color: transparent;
  height: 18px;
  left: 102px;
  position: absolute;
  top: 11559px;
  width: 316px;
}

.benchling .path-5-copy-2-9v54ur {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 11506px;
  transform: scaleX(0);
  width: 1238px;
}

.benchling .path-5-copy-2-9v54ur.animate-enter26 {
  animation: animate-enter26-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter26-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.benchling .benchling-illu-gene-therapyv2-9v54ur {
  background-color: transparent;
  display: block;
  height: 1466px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 8289px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-gene-therapyv2-9v54ur.animate-enter28 {
  animation: animate-enter28-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter28-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-gene-therapyv2-4m7vpd {
  background-color: transparent;
  display: block;
  height: 1466px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-gene-therapyv2-4m7vpd.animate-enter27 {
  animation: animate-enter27-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter27-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .referral-lp-9v54ur {
  background-color: transparent;
  display: block;
  height: 1924px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 8729px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .referral-lp-9v54ur.animate-enter30 {
  animation: animate-enter30-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter30-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .referral-lp-ZtPUmx {
  background-color: transparent;
  display: block;
  height: 1924px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .referral-lp-ZtPUmx.animate-enter29 {
  animation: animate-enter29-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter29-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image01-9v54ur {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 11791px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .image01-9v54ur.animate-enter32 {
  animation: animate-enter32-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .image01-yk7KHx {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .image01-yk7KHx.animate-enter31 {
  animation: animate-enter31-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-therapyv3-copy-9v54ur {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 12133px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-therapyv3-copy-9v54ur.animate-enter34 {
  animation: animate-enter34-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter34-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-therapyv3-copy-8j3ANO {
  background-color: transparent;
  display: block;
  height: 268px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-therapyv3-copy-8j3ANO.animate-enter33 {
  animation: animate-enter33-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter33-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ns-vaccinesv3-9v54ur {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 12132px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ns-vaccinesv3-9v54ur.animate-enter36 {
  animation: animate-enter36-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter36-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .benchling-illu-ns-vaccinesv3-w9Vt9z {
  background-color: transparent;
  display: block;
  height: 269px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.benchling .benchling-illu-ns-vaccinesv3-w9Vt9z.animate-enter35 {
  animation: animate-enter35-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter35-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .thanks-for-scrolling-9v54ur {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 14591px;
  white-space: nowrap;
  width: auto;
}

.benchling .thanks-for-scrolling-9v54ur.animate-enter37 {
  animation: animate-enter37-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter37-frames {
  from{}
to{}
}

.benchling .path-5-kAHPQ5 {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 14774px;
  transform: scaleX(0);
  width: 1238px;
}

.benchling .path-5-kAHPQ5.animate-enter38 {
  animation: animate-enter38-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter38-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.benchling .group-9v54ur {
  background-color: transparent;
  display: block;
  height: 109px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 93px;
}

.benchling .group-9v54ur.animate-enter39 {
  animation: animate-enter39-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter39-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.benchling .ui-design-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.benchling .span1-UiY1rz {
}

.benchling .span2-UiY1rz {
  color: var(--mercury);
  font-family: var(--font-family-pingfangsc-light);
  font-size: var(--font-size-m);
}

.benchling .span3-UiY1rz {
}

.benchling .animation-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 79px;
  white-space: nowrap;
  width: auto;
}

.benchling .illustration-Y23BGW {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 39px;
  white-space: nowrap;
  width: auto;
}

.benchling .about-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.benchling .about-9v54ur:hover {
  transform: translate(0, -5px);
}

.benchling .work-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.benchling .work-9v54ur:hover {
  transform: translate(0, -5px);
}

.benchling .ashcui-9v54ur {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.benchling .group-2-Lhs6Wp {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 486px;
  opacity: 0;
  position: absolute;
  top: 15681px;
  width: 290px;
}

.benchling .group-2-Lhs6Wp.animate-enter40 {
  animation: animate-enter40-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter40-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.benchling .sayhi-4flXtH {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.benchling .hi-9v54ur {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 814px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 15661px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.benchling .hi-9v54ur.animate-enter41 {
  animation: animate-enter41-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter41-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.benchling .hi-9v54ur:hover {
  transform: translate(0, -20px);
}

.benchling .copyright-2021-ash-9v54ur {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 16146px;
  white-space: nowrap;
  width: auto;
}

.benchling .x-9v54ur {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 877px;
  position: absolute;
  top: 14638px;
  transform: rotate(0deg);
  width: 24px;
}

.benchling .x-9v54ur.animate-enter42 {
  animation: animate-enter42-frames 5.23s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter42-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.benchling .image-9v54ur {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1309px;
  opacity: 0;
  position: absolute;
  top: 16109px;
  transform: translate(0, 25px);
  width: 33px;
}

.benchling .image-9v54ur.animate-enter43 {
  animation: animate-enter43-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter43-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
