/* screen - dlight */

.dlight {
  background-color: var(--cod-gray);
  height: 13032px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.dlight .full-bleed-lifestyle1-FBnW7p {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.dlight .full-bleed-lifestyle1-FBnW7p.animate-enter121 {
  animation: animate-enter121-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter121-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .full-bleed-lifestyle1-id1NlH {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.dlight .full-bleed-lifestyle1-id1NlH.animate-enter120 {
  animation: animate-enter120-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter120-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .dlight-FBnW7p {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.dlight .dlight-FBnW7p.animate-enter122 {
  animation: animate-enter122-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter122-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .rectangle-FBnW7p {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.dlight .about-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1266px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.dlight .about-FBnW7p:hover {
  transform: translate(0, -5px);
}

.dlight .work-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1127px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.dlight .work-FBnW7p:hover {
  transform: translate(0, -5px);
}

.dlight .ashcui-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 101px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.dlight .aredesignedwebsitewithpurpose-FBnW7p {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 730px;
  opacity: 0;
  position: absolute;
  top: 1240px;
  transform: translate(0, 25px);
  width: 540px;
}

.dlight .aredesignedwebsitewithpurpose-FBnW7p.animate-enter123 {
  animation: animate-enter123-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter123-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .thoughtfulbrandstorytelling-FBnW7p {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 7287px;
  transform: translate(0, 25px);
  width: 428px;
}

.dlight .thoughtfulbrandstorytelling-FBnW7p.animate-enter124 {
  animation: animate-enter124-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter124-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .customiconography-FBnW7p {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 10279px;
  transform: translate(0, 25px);
  width: 309px;
}

.dlight .customiconography-FBnW7p.animate-enter125 {
  animation: animate-enter125-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter125-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .brandedillustrations-FBnW7p {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 9001px;
  transform: translate(0, 25px);
  width: 305px;
}

.dlight .brandedillustrations-FBnW7p.animate-enter126 {
  animation: animate-enter126-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter126-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .x2019-FBnW7p {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.dlight .x2019-FBnW7p.animate-enter127 {
  animation: animate-enter127-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter127-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .website-design-FBnW7p {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.dlight .website-design-FBnW7p.animate-enter128 {
  animation: animate-enter128-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter128-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .role-FBnW7p {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.dlight .role-FBnW7p.animate-enter129 {
  animation: animate-enter129-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter129-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .dlight-is-the-leadi-FBnW7p {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1307px;
  transform: translate(0, 25px);
  width: 583px;
}

.dlight .dlight-is-the-leadi-FBnW7p.animate-enter130 {
  animation: animate-enter130-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter130-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .subpages-are-designe-FBnW7p {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7358px;
  transform: translate(0, 25px);
  width: 503px;
}

.dlight .span1-9dSElC {
  font-style: normal;
}

.dlight .span2-9dSElC {
  font-family: var(--font-family-pingfangsc-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  letter-spacing: 0.00px;
}

.dlight .span3-9dSElC {
  font-style: normal;
}

.dlight .subpages-are-designe-FBnW7p.animate-enter131 {
  animation: animate-enter131-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter131-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .a-custom-icon-set-wa-FBnW7p {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 10338px;
  transform: translate(0, 25px);
  width: 512px;
}

.dlight .a-custom-icon-set-wa-FBnW7p.animate-enter132 {
  animation: animate-enter132-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter132-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .we-created-custom-il-FBnW7p {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9059px;
  transform: translate(0, 25px);
  width: 512px;
}

.dlight .we-created-custom-il-FBnW7p.animate-enter133 {
  animation: animate-enter133-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter133-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .group-FBnW7p {
  background-color: transparent;
  display: block;
  height: 110px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 93px;
}

.dlight .group-FBnW7p.animate-enter134 {
  animation: animate-enter134-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter134-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .ui-design-ofHHPj {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.dlight .animation-ofHHPj {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.dlight .illustration-ofHHPj {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.dlight .path-5-FBnW7p {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 7234px;
  transform: scaleX(0);
  width: 1237px;
}

.dlight .path-5-FBnW7p.animate-enter135 {
  animation: animate-enter135-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter135-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.dlight .path-5-QixK0x {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 10226px;
  transform: scaleX(0);
  width: 1243px;
}

.dlight .path-5-QixK0x.animate-enter136 {
  animation: animate-enter136-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter136-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.dlight .path-5-copy-FBnW7p {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 8948px;
  transform: scaleX(0);
  width: 1243px;
}

.dlight .path-5-copy-FBnW7p.animate-enter137 {
  animation: animate-enter137-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter137-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.dlight .typography-FBnW7p {
  background-color: transparent;
  display: block;
  height: 805px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 10493px;
  transform: translate(0, 25px);
  width: 1238px;
}

.dlight .typography-FBnW7p.animate-enter138 {
  animation: animate-enter138-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter138-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .path-5-FQEwzV {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.dlight .path-5-FQEwzV.animate-enter139 {
  animation: animate-enter139-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter139-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.dlight .group-3-FBnW7p {
  background-color: transparent;
  display: block;
  height: 5397px;
  left: 108px;
  opacity: 0;
  position: absolute;
  top: 1689px;
  transform: translate(0, 25px);
  width: 1226px;
}

.dlight .group-3-FBnW7p.animate-enter140 {
  animation: animate-enter140-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter140-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .x4-bj0dgs {
  background-color: transparent;
  height: 4845px;
  left: 0px;
  position: absolute;
  top: 552px;
  width: 1226px;
}

.dlight .x4-N36Z4I {
  background-color: transparent;
  height: 4845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1226px;
}

.dlight .x2-bj0dgs {
  background-color: transparent;
  height: 651px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1226px;
}

.dlight .x5-FBnW7p {
  background-color: transparent;
  height: 616px;
  left: 102px;
  position: absolute;
  top: 7776px;
  width: 580px;
}

.dlight .x7-FBnW7p {
  background-color: transparent;
  display: block;
  height: 1130px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 7668px;
  transform: translate(0, 25px);
  width: 580px;
}

.dlight .x7-FBnW7p.animate-enter142 {
  animation: animate-enter142-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter142-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .x7-c41F4H {
  background-color: transparent;
  display: block;
  height: 1130px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 580px;
}

.dlight .x7-c41F4H.animate-enter141 {
  animation: animate-enter141-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter141-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .dlightdesktop2-FBnW7p {
  background-color: transparent;
  display: block;
  height: 1511px;
  left: 753px;
  opacity: 0;
  position: absolute;
  top: 7287px;
  transform: translate(0, 25px);
  width: 581px;
}

.dlight .dlightdesktop2-FBnW7p.animate-enter144 {
  animation: animate-enter144-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter144-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .dlightdesktop2-FymDT1 {
  background-color: transparent;
  display: block;
  height: 1511px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 581px;
}

.dlight .dlightdesktop2-FymDT1.animate-enter143 {
  animation: animate-enter143-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter143-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .x8-FBnW7p {
  background-color: transparent;
  display: block;
  height: 804px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 9272px;
  transform: translate(0, 25px);
  width: 1235px;
}

.dlight .x8-FBnW7p.animate-enter145 {
  animation: animate-enter145-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter145-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .rectangle-QixK0x {
  background-color: #f9f9f9;
  height: 47px;
  left: 108px;
  position: absolute;
  top: 2347px;
  width: 1226px;
}

.dlight .google-twitter-feed-FBnW7p {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 11632px;
  transform: translate(0, 25px);
  width: 1240px;
}

.dlight .google-twitter-feed-FBnW7p.animate-enter147 {
  animation: animate-enter147-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter147-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .google-twitter-feed-nmWpaq {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.dlight .google-twitter-feed-nmWpaq.animate-enter146 {
  animation: animate-enter146-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter146-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .group-2-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1181px;
  pointer-events: auto;
  position: absolute;
  top: 11480px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.dlight .group-2-FBnW7p:hover {
  transform: translate(0, -5px);
}

.dlight .nextproject-8HijX0 {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.dlight .path-6-8HijX0 {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.dlight .path-6-8HijX0:hover {
  filter: blur(10px);
}

.dlight .thanks-for-scrolling-FBnW7p {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 11395px;
  white-space: nowrap;
  width: auto;
}

.dlight .thanks-for-scrolling-FBnW7p.animate-enter148 {
  animation: animate-enter148-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter148-frames {
  from{}
to{}
}

.dlight .path-5-KM02Ds {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 11578px;
  transform: scaleX(0);
  width: 1238px;
}

.dlight .path-5-KM02Ds.animate-enter149 {
  animation: animate-enter149-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter149-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.dlight .group-2-QixK0x {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 483px;
  opacity: 0;
  position: absolute;
  top: 12466px;
  width: 290px;
}

.dlight .group-2-QixK0x.animate-enter150 {
  animation: animate-enter150-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter150-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.dlight .sayhi-pxxUnN {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.dlight .copyright-2021-ash-FBnW7p {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 12931px;
  white-space: nowrap;
  width: auto;
}

.dlight .x-FBnW7p {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 875px;
  position: absolute;
  top: 11442px;
  transform: rotate(0deg);
  width: 24px;
}

.dlight .x-FBnW7p.animate-enter151 {
  animation: animate-enter151-frames 5.23s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter151-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.dlight .image-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1308px;
  opacity: 0;
  position: absolute;
  top: 12905px;
  transform: translate(0, 25px);
  width: 33px;
}

.dlight .image-FBnW7p.animate-enter152 {
  animation: animate-enter152-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter152-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.dlight .hi-FBnW7p {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 813px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 12447px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.dlight .hi-FBnW7p.animate-enter153 {
  animation: animate-enter153-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter153-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.dlight .hi-FBnW7p:hover {
  transform: translate(0, -20px);
}
