/* screen - favicon */

.favicon {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  min-width: 32px;
}

.favicon .overlap-group {
  align-items: center;
  background-color: var(--black);
  border-radius: 16px;
  display: flex;
  height: 32px;
  min-width: 32px;
  padding: 0 4px;
}

.favicon .ash {
  height: 6px;
  width: 23px;
}
