@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,600|Lexend+Mega:400|Source+Sans+Pro:400,400italic");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6192e41d64db1beb4c0ee0bd.6192e41eb0352fc40c52decb.SQN8iZh.hcp.png");

@font-face {
  font-family: "NATS-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NATS-Regular.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.frame-427322291 {
  align-items: center;
  background-color: var(--log-cabin);
  display: flex;
  gap: 821px;
  height: 118px;
  padding: 0 102px;
  width: 1440px;
}

.image-46 {
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 151px;
}

.group-427322032 {
  align-items: flex-start;
  display: flex;
  gap: 63px;
  min-width: 245px;
}

.image-47 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 85px;
}

.image-48 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 97px;
}

.image-50 {
  height: 64px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 371px;
  width: 16px;
}

.image-44 {
  display: block;
  height: 230px;
  object-fit: cover;
  opacity: 0;
  width: 412px;
}

.image-45 {
  cursor: pointer;
  display: block;
  height: 251px;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 190px;
}

.ash-cui_-black {
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 152px;
}

.group-427322033 {
  align-items: flex-start;
  display: flex;
  gap: 64px;
  min-width: 244px;
}

.work_-black {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 84px;
}

.about_-black {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 96px;
}

.at-a-glance {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 249px;
}

.line {
  display: block;
  height: 1px;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.1);
}

.group-427321956 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1238px;
}

.group-427321960 {
  cursor: pointer;
  height: 647px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1240px;
}

.group-427321959 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1239px;
}

.baunfire-google-san-jose {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1017px;
}

.image-42 {
  height: 549px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1237px;
}

.group-427321958 {
  cursor: pointer;
  height: 645px;
  margin-left: 1.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1241px;
}

.image-43 {
  height: 550px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1237px;
}

.ashcui {
  cursor: pointer;
  height: 17px;
  width: 124px;
}

.work {
  cursor: pointer;
  height: 11px;
  margin-left: 902px;
  margin-top: 2.0px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.about {
  cursor: pointer;
  height: 11px;
  margin-left: 77px;
  margin-top: 2.0px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.full-bleed-lifestyle_1 {
  height: 550px;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 1240px;
}

.ui-design {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.google_-twitter_-feed {
  height: 550px;
  margin-left: 1.5px;
  margin-top: 50px;
  opacity: 0;
  position: relative;
  transform: translate(0, 25px);
  width: 1240px;
}

.google_-twitter_-feed-1 {
  display: block;
  height: 550px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 25px);
  width: 1240px;
}

.group-2-1 {
  align-self: flex-end;
  background-image: url(../img/index-sayhi-91ED15C2-9104-484E-BA17-5ED4CFBF2834@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  filter: blur(10px);
  height: 162px;
  opacity: 0;
  width: 290px;
}

.hi {
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.flex-row-7 {
  align-items: flex-start;
  display: flex;
}

.uiux-design {
  color: var(--mercury);
  font-weight: 400;
  left: 0;
  line-height: 30px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.brand-identity {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.getty-images-946509292-1 {
  display: block;
  height: 570px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 25px);
  width: 1238px;
}

.flex {
  align-items: center;
  display: flex;
}

.anelevatedwebpresenc {
  display: block;
  height: 59px;
  opacity: 0;
  transform: translate(0, 25px);
  width: 462px;
}

.exhibition-design {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  text-align: right;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}