/* screen - google */

.google {
  background-color: var(--cod-gray);
  height: 11144px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.google .full-bleed-lifestyle1-HPj8ol {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.google .full-bleed-lifestyle1-HPj8ol.animate-enter84 {
  animation: animate-enter84-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter84-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .full-bleed-lifestyle1-2UdSN4 {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.google .full-bleed-lifestyle1-2UdSN4.animate-enter83 {
  animation: animate-enter83-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter83-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .google-HPj8ol {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.google .google-HPj8ol.animate-enter85 {
  animation: animate-enter85-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter85-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .about-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.google .about-HPj8ol:hover {
  transform: translate(0, -5px);
}

.google .work-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.google .work-HPj8ol:hover {
  transform: translate(0, -5px);
}

.google .ashcui-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.google .designing-san-j-s-downtown-west-HPj8ol {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1240px;
  transform: translate(0, 25px);
  width: 586px;
}

.google .designing-san-j-s-downtown-west-HPj8ol.animate-enter86 {
  animation: animate-enter86-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter86-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .by-san-josfor-san-jos-HPj8ol {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 4521px;
  transform: translate(0, 25px);
  width: 388px;
}

.google .by-san-josfor-san-jos-HPj8ol.animate-enter87 {
  animation: animate-enter87-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter87-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .localinspiration-HPj8ol {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 6512px;
  transform: translate(0, 25px);
  width: 241px;
}

.google .localinspiration-HPj8ol.animate-enter88 {
  animation: animate-enter88-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter88-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .mobile-HPj8ol {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 8608px;
  transform: translate(0, 25px);
  width: 96px;
}

.google .mobile-HPj8ol.animate-enter89 {
  animation: animate-enter89-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter89-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .path-5-HPj8ol {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 96px;
  opacity: 1;
  position: absolute;
  top: 8554px;
  transform: scaleX(0);
  width: 1245px;
}

.google .path-5-HPj8ol.animate-enter90 {
  animation: animate-enter90-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter90-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.google .x2020-HPj8ol {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.google .x2020-HPj8ol.animate-enter91 {
  animation: animate-enter91-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter91-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .website-design-HPj8ol {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.google .website-design-HPj8ol.animate-enter92 {
  animation: animate-enter92-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter92-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .role-HPj8ol {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.google .role-HPj8ol.animate-enter93 {
  animation: animate-enter93-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter93-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .with-googles-expans-HPj8ol {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1307px;
  transform: translate(0, 25px);
  width: 583px;
}

.google .with-googles-expans-HPj8ol.animate-enter94 {
  animation: animate-enter94-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter94-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .for-google-it-was-e-HPj8ol {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4591px;
  transform: translate(0, 25px);
  width: 503px;
}

.google .for-google-it-was-e-HPj8ol.animate-enter95 {
  animation: animate-enter95-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter95-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .with-mobile-visitors-HPj8ol {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 90px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 6567px;
  transform: translate(0, 25px);
  width: 512px;
}

.google .with-mobile-visitors-HPj8ol.animate-enter96 {
  animation: animate-enter96-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter96-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .with-mobile-visitors-OO7AyR {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 50px;
  left: 100px;
  line-height: 25px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 8666px;
  transform: translate(0, 25px);
  width: 544px;
}

.google .with-mobile-visitors-OO7AyR.animate-enter97 {
  animation: animate-enter97-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter97-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .group-HPj8ol {
  background-color: transparent;
  display: block;
  height: 110px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1307px;
  transform: translate(0, 25px);
  width: 93px;
}

.google .group-HPj8ol.animate-enter98 {
  animation: animate-enter98-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter98-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .ui-design-xHbfqa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.google .animation-xHbfqa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.google .illustration-xHbfqa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.google .desktop-comp1-HPj8ol {
  background-color: transparent;
  display: block;
  height: 2713px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 1607px;
  transform: translate(0, 25px);
  width: 1241px;
}

.google .desktop-comp1-HPj8ol.animate-enter100 {
  animation: animate-enter100-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter100-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .desktop-comp1-6rLTxu {
  background-color: transparent;
  display: block;
  height: 2713px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1241px;
}

.google .desktop-comp1-6rLTxu.animate-enter99 {
  animation: animate-enter99-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter99-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .desktop-comp2-HPj8ol {
  background-color: transparent;
  display: block;
  height: 1789px;
  left: 753px;
  opacity: 0;
  position: absolute;
  top: 4520px;
  transform: translate(0, 25px);
  width: 580px;
}

.google .desktop-comp2-HPj8ol.animate-enter101 {
  animation: animate-enter101-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter101-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .desktop-comp4-HPj8ol {
  background-color: transparent;
  display: block;
  height: 1295px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 5014px;
  transform: translate(0, 25px);
  width: 580px;
}

.google .desktop-comp4-HPj8ol.animate-enter103 {
  animation: animate-enter103-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter103-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .desktop-comp4-qxjjC8 {
  background-color: transparent;
  display: block;
  height: 1295px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 580px;
}

.google .desktop-comp4-qxjjC8.animate-enter102 {
  animation: animate-enter102-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter102-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .path-5-OO7AyR {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 4468px;
  transform: scaleX(0);
  width: 1237px;
}

.google .path-5-OO7AyR.animate-enter104 {
  animation: animate-enter104-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter104-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.google .color-palette-HPj8ol {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 6739px;
  transform: translate(0, 25px);
  width: 1242px;
}

.google .color-palette-HPj8ol.animate-enter105 {
  animation: animate-enter105-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter105-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .path-5-Ss7OGQ {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 6458px;
  transform: scaleX(0);
  width: 1243px;
}

.google .path-5-Ss7OGQ.animate-enter106 {
  animation: animate-enter106-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter106-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.google .typography-HPj8ol {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 7596px;
  transform: translate(0, 25px);
  width: 1242px;
}

.google .typography-HPj8ol.animate-enter107 {
  animation: animate-enter107-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter107-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .mobile-comp1-HPj8ol {
  background-color: transparent;
  display: block;
  height: 595px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 8815px;
  transform: translate(0, 25px);
  width: 350px;
}

.google .mobile-comp1-HPj8ol.animate-enter108 {
  animation: animate-enter108-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter108-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .mobile-comp3-HPj8ol {
  background-color: transparent;
  display: block;
  height: 595px;
  left: 545px;
  opacity: 0;
  position: absolute;
  top: 8815px;
  transform: translate(0, 25px);
  width: 350px;
}

.google .mobile-comp3-HPj8ol.animate-enter109 {
  animation: animate-enter109-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter109-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .mobile-comp2-HPj8ol {
  background-color: transparent;
  display: block;
  height: 595px;
  left: 990px;
  opacity: 0;
  position: absolute;
  top: 8815px;
  transform: translate(0, 25px);
  width: 350px;
}

.google .mobile-comp2-HPj8ol.animate-enter110 {
  animation: animate-enter110-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter110-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .path-5-xIpSyC {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.google .path-5-xIpSyC.animate-enter111 {
  animation: animate-enter111-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter111-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.google .google-twitter-feed-HPj8ol {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 9744px;
  transform: translate(0, 25px);
  width: 1240px;
}

.google .google-twitter-feed-HPj8ol.animate-enter113 {
  animation: animate-enter113-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter113-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .google-twitter-feed-EKDnrv {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.google .google-twitter-feed-EKDnrv.animate-enter112 {
  animation: animate-enter112-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter112-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .thanks-for-scrolling-HPj8ol {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9507px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.google .thanks-for-scrolling-HPj8ol.animate-enter114 {
  animation: animate-enter114-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter114-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .path-5-1nVHBx {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 9690px;
  transform: scaleX(0);
  width: 1238px;
}

.google .path-5-1nVHBx.animate-enter115 {
  animation: animate-enter115-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter115-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.google .group-2-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1178px;
  pointer-events: auto;
  position: absolute;
  top: 9587px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.google .group-2-HPj8ol:hover {
  transform: translate(0, -5px);
}

.google .nextproject-XySSdx {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.google .path-6-XySSdx {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.google .path-6-XySSdx:hover {
  filter: blur(10px);
}

.google .group-2-OO7AyR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 486px;
  opacity: 0;
  position: absolute;
  top: 10578px;
  width: 290px;
}

.google .group-2-OO7AyR.animate-enter116 {
  animation: animate-enter116-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter116-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.google .sayhi-ZB1dfL {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.google .copyright-2021-ash-HPj8ol {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 11044px;
  white-space: nowrap;
  width: auto;
}

.google .rectangle-HPj8ol {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.google .x-HPj8ol {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 875px;
  position: absolute;
  top: 9554px;
  transform: rotate(0deg);
  width: 24px;
}

.google .x-HPj8ol.animate-enter117 {
  animation: animate-enter117-frames 5.23s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter117-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.google .image-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1310px;
  opacity: 0;
  position: absolute;
  top: 11016px;
  transform: translate(0, 25px);
  width: 33px;
}

.google .image-HPj8ol.animate-enter118 {
  animation: animate-enter118-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter118-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.google .hi-HPj8ol {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 814px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 10558px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.google .hi-HPj8ol.animate-enter119 {
  animation: animate-enter119-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter119-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.google .hi-HPj8ol:hover {
  transform: translate(0, -20px);
}
