/* screen - homepage */

.homepage {
  align-items: center;
  background-color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  height: 5445px;
  padding: 73px 96px;
  width: 1440px;
}

.homepage .image-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 6px;
  min-width: 1217px;
}

.homepage .image-46:hover {
  transform: translate(0, -10px);
}

.homepage .image-47:hover {
  transform: translate(0, -10px);
}

.homepage .image-48:hover {
  transform: translate(0, -10px);
}

.homepage .overlap-group {
  align-self: flex-start;
  height: 1575px;
  margin-top: 100px;
  position: relative;
  width: 1243px;
}

.homepage .group-427321966 {
  cursor: pointer;
  height: 644px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 931px;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.homepage .group-427321966.animate-enter54 {
  animation: animate-enter54-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter54-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .group-427321966:hover {
  transform: scale(1.02);
}

.homepage .frame-42732228 {
  height: 550px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1237px;
}

.homepage .uiux-product-desig {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: 90px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 140px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1225px;
}

.homepage .span-1 {
  color: #5e5e5e;
}

.homepage .uiux-product-desig.animate-enter57 {
  animation: animate-enter57-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter57-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .image-41 {
  cursor: pointer;
  display: block;
  height: 15px;
  left: 1116px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 825px;
  transition: all 0.5s ease-in-out;
  width: 125px;
}

.homepage .image-41.animate-enter58 {
  animation: animate-enter58-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter58-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .image-41:hover {
  transform: translate(0, -10px);
}

.homepage .group-427321953 {
  height: 435px;
  left: 1205px;
  opacity: 0;
  position: absolute;
  top: 133px;
  transform: scale(0.1);
  width: 16px;
}

.homepage .group-427321953.animate-enter59 {
  animation: animate-enter59-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter59-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.homepage .group-427321967 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.homepage .group-427321967.animate-enter55 {
  animation: animate-enter55-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter55-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .group-427321967:hover {
  transform: scale(1.02);
}

.homepage .toast-branded-onli {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1126px;
}

.homepage .group-427321968 {
  cursor: pointer;
  height: 647px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.homepage .group-427321968.animate-enter56 {
  animation: animate-enter56-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter56-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .group-427321968:hover {
  transform: scale(1.02);
}

.homepage .toast-consumer-bra {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 572px;
  width: 1017px;
}

.homepage .group-427321969 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1239px;
}

.homepage .group-427321969.animate-enter50 {
  animation: animate-enter50-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter50-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .group-427321969:hover {
  transform: scale(1.02);
}

.homepage .group-427321970 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1239px;
}

.homepage .group-427321970.animate-enter51 {
  animation: animate-enter51-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter51-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .group-427321970:hover {
  transform: scale(1.02);
}

.homepage .personal-ava {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1017px;
}

.homepage .image-container-1 {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  margin-right: 44.0px;
  margin-top: 197px;
  min-width: 662px;
}

.homepage .image-44.animate-enter52 {
  animation: animate-enter52-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter52-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .image-45.animate-enter53 {
  animation: animate-enter53-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter53-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.homepage .image-45:hover {
  transform: translate(0, -30px);
}
