/* screen - homepage */

.homepage {
  background-color: var(--black);
  height: 6641px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.homepage .gns-zYNucu {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 101px;
  position: absolute;
  top: 73px;
  width: 1238px;
}

.homepage .about-copy-2-fTcNGJ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1166px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 5px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.homepage .about-copy-2-fTcNGJ:hover {
  filter: blur(10px);
}

.homepage .work-copy-2-fTcNGJ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1027px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 5px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.homepage .work-copy-2-fTcNGJ:hover {
  filter: blur(10px);
}

.homepage .ash-cui-fTcNGJ {
  background-color: transparent;
  font-weight: 600;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.homepage .group-3-zYNucu {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1244px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 1543px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 95px;
}

.homepage .group-3-zYNucu.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .group-3-zYNucu:hover {
  filter: blur(10px);
}

.homepage .view-all-xna5Rn {
  background-color: transparent;
  font-weight: 500;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.homepage .path-6-xna5Rn {
  background-color: transparent;
  height: 2px;
  left: 2px;
  position: absolute;
  top: 24px;
  width: 94px;
}

.homepage .select-work-2016-2-zYNucu {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: var(--font-family-archivoexpanded-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: 80px;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1505px;
  transform: translate(0, 25px);
  width: auto;
}

.homepage .select-work-2016-2-zYNucu.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .group-2-zYNucu {
  background-color: transparent;
  display: block;
  height: 267px;
  left: 1341px;
  opacity: 0;
  position: absolute;
  top: 661px;
  transform: translate(0, 25px);
  width: 50px;
}

.homepage .group-2-zYNucu.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 3.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .scroll-QUHdAM {
  background-color: transparent;
  font-weight: 400;
  height: 50px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 216px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: auto;
}

.homepage .path-2-QUHdAM {
  background-color: transparent;
  height: 196px;
  left: 24px;
  position: absolute;
  top: -2px;
  width: 2px;
}

.homepage .group-zYNucu {
  background-color: transparent;
  display: block;
  height: 1020px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 257px;
  transform: translate(0, 25px);
  width: 1078px;
}

.homepage .group-zYNucu.animate-enter3 {
  animation: animate-enter3-frames 3.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .digital-product-de-MePliD {
  background-color: transparent;
  font-weight: 800;
  height: 1020px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 170px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.homepage .span1-so6Hwa {
}

.homepage .span2-so6Hwa {
}

.homepage .span3-so6Hwa {
}

.homepage .span4-so6Hwa {
}

.homepage .span5-so6Hwa {
  color: var(--storm-dust);
  font-family: var(--font-family-pingfangsc-semibold);
  font-size: var(--font-size-xxxxl);
}

.homepage .span6-so6Hwa {
}

.homepage .span7-so6Hwa {
  color: #a5a5a5;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
}

.homepage .span8-so6Hwa {
}

.homepage .textlabel-MePliD {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-applecoloremoji);
  font-size: 35px;
  font-weight: 400;
  height: 46px;
  left: 619px;
  letter-spacing: 0.00px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 950px;
  white-space: nowrap;
  width: auto;
}

.homepage .full-bleed-lifestyle1-copy-zYNucu {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 98px;
  position: absolute;
  top: 1650px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-EMEv6K {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.homepage .thumbnail-copy-4-zYNucu {
  background-color: transparent;
  height: 550px;
  left: 100px;
  position: absolute;
  top: 2353px;
  width: 1236px;
}

.homepage .thumbnail-copy-4-xylAFC {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1236px;
}

.homepage .full-bleed-lifestyle1-copy-2-zYNucu {
  background-color: transparent;
  height: 550px;
  left: 98px;
  position: absolute;
  top: 3755px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-2-4BdoiT {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-3-zYNucu {
  background-color: transparent;
  height: 550px;
  left: 99px;
  position: absolute;
  top: 4456px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-3-7cqw0N {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-4-zYNucu {
  background-color: transparent;
  height: 550px;
  left: 97px;
  position: absolute;
  top: 5154px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-4-5xy2a2 {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.homepage .sheep-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 5737px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .sheep-copy-zYNucu.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .copy-9-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 5735px;
  white-space: nowrap;
  width: auto;
}

.homepage .plex-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1288px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 5040px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .plex-copy-zYNucu.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .copy-10-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 5037px;
  white-space: nowrap;
  width: auto;
}

.homepage .google-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1255px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4339px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .google-copy-zYNucu.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .dlight-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 3638px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .dlight-copy-zYNucu.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .copy-11-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 4336px;
  white-space: nowrap;
  width: auto;
}

.homepage .copy-12-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 3635px;
  white-space: nowrap;
  width: auto;
}

.homepage .ava-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1290px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 2938px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .ava-copy-zYNucu.animate-enter8 {
  animation: animate-enter8-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .copy-13-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 2934px;
  white-space: nowrap;
  width: auto;
}

.homepage .benchling-copy-zYNucu {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1224px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2231px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.homepage .benchling-copy-zYNucu.animate-enter9 {
  animation: animate-enter9-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .copy-14-zYNucu {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 2231px;
  white-space: nowrap;
  width: auto;
}

.homepage .full-bleed-lifestyle1-copy-5-zYNucu {
  background-color: transparent;
  height: 550px;
  left: 97px;
  position: absolute;
  top: 3054px;
  width: 1240px;
}

.homepage .full-bleed-lifestyle1-copy-5-4ryiM8 {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.homepage .footer-zYNucu {
  background-color: transparent;
  height: 519px;
  left: 479px;
  position: absolute;
  top: 6053px;
  width: 482px;
}

.homepage .group-4-bUVegb {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: 178px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 482px;
}

.homepage .group-4-bUVegb.animate-enter10 {
  animation: animate-enter10-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.homepage .group-2-W045hF {
  background-color: transparent;
  height: 178px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 482px;
}

.homepage .title-0mXrUa {
  background-color: transparent;
  font-weight: 700;
  height: 166px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: -6px;
  white-space: nowrap;
  width: auto;
}

.homepage .path-0mXrUa {
  background-color: transparent;
  height: 7px;
  left: 338px;
  position: absolute;
  top: 174px;
  width: 136px;
}

.homepage .textlabel-0mXrUa {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 431px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.homepage .group-bUVegb {
  background-color: transparent;
  display: block;
  height: 51px;
  left: 179px;
  opacity: 0;
  position: absolute;
  top: 468px;
  transform: translate(0, 25px);
  width: 123px;
}

.homepage .group-bUVegb.animate-enter11 {
  animation: animate-enter11-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .resume-JeA08w {
  background-color: transparent;
  font-weight: 400;
  height: 50px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.homepage .path-3-copy-3-JeA08w {
  background-color: transparent;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 124px;
}
