/* screen - in */

.in {
  background-color: var(--black);
  height: 15130px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.in .in-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.in .in-s06Wdb.animate-enter241 {
  animation: animate-enter241-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter241-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .rectangle-s06Wdb {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.in .luxurybrandingf-tattoostudio-in-s06Wdb {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 731px;
  opacity: 0;
  position: absolute;
  top: 1228px;
  transform: translate(0, 25px);
  width: 449px;
}

.in .luxurybrandingf-tattoostudio-in-s06Wdb.animate-enter242 {
  animation: animate-enter242-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter242-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .x2016-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.in .x2016-s06Wdb.animate-enter243 {
  animation: animate-enter243-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter243-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .role-s06Wdb {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1229px;
  transform: translate(0, 25px);
  width: 86px;
}

.in .role-s06Wdb.animate-enter244 {
  animation: animate-enter244-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter244-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .in-began-the-busines-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1345px;
  transform: translate(0, 25px);
  width: 565px;
}

.in .in-began-the-busines-s06Wdb.animate-enter245 {
  animation: animate-enter245-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter245-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-s06Wdb {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-s06Wdb.animate-enter247 {
  animation: animate-enter247-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter247-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-VCNvyL {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-VCNvyL.animate-enter246 {
  animation: animate-enter246-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter246-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .group-s06Wdb {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.in .group-s06Wdb.animate-enter248 {
  animation: animate-enter248-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter248-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .uiux-design-FyjPx9 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.in .design-direction-FyjPx9 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.in .brand-identity-FyjPx9 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.in .animation-FyjPx9 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.in .visual-identity-desi-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1090px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.in .visual-identity-desi-s06Wdb.animate-enter249 {
  animation: animate-enter249-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter249-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-s06Wdb {
  background-color: transparent;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 406px;
  width: 1237px;
}

.in .x0-01-s06Wdb {
  background-color: transparent;
  height: 1052px;
  left: 103px;
  position: absolute;
  top: 3531px;
  width: 1237px;
}

.in .bang-10-s06Wdb {
  background-color: transparent;
  height: 712px;
  left: 97px;
  position: absolute;
  top: 6924px;
  width: 1241px;
}

.in .bang-10-A2Z0Zh {
  background-color: transparent;
  height: 712px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1241px;
}

.in .bang-s06Wdb {
  background-color: transparent;
  height: 1286px;
  left: 100px;
  position: absolute;
  top: 8455px;
  width: 1240px;
}

.in .bang-xqZJvz {
  background-color: transparent;
  height: 1286px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .untitled-3-01-s06Wdb {
  background-color: transparent;
  height: 2508px;
  left: 103px;
  position: absolute;
  top: 10315px;
  width: 1240px;
}

.in .untitled-3-01-nIpT7q {
  background-color: transparent;
  height: 2508px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .group-2-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 23px;
  left: 1181px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 13552px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 158px;
}

.in .group-2-s06Wdb.animate-enter250 {
  animation: animate-enter250-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter250-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .group-2-s06Wdb:hover {
  filter: blur(10px);
}

.in .nextproject-AzoOD4 {
  background-color: transparent;
  height: 11px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 157px;
}

.in .path-6-AzoOD4 {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: -0px;
  pointer-events: auto;
  position: absolute;
  top: 22px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.in .path-6-AzoOD4:hover {
  filter: blur(10px);
}

.in .group-2-NyFeQa {
  background-color: transparent;
  height: 182px;
  left: 485px;
  position: absolute;
  top: 14534px;
  width: 466px;
}

.in .sayhi-p76iyN {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.in .path-p76iyN {
  background-color: transparent;
  height: 6px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.in .textlabel-p76iyN {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 424px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.in .copyright-2021-ash-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 15019px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.in .copyright-2021-ash-s06Wdb.animate-enter251 {
  animation: animate-enter251-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter251-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .textlabel-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 66px;
  left: 1301px;
  letter-spacing: 0.00px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 14985px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}

.in .thanks-for-scrolling-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 13464px;
  white-space: nowrap;
  width: auto;
}

.in .thanks-for-scrolling-s06Wdb.animate-enter252 {
  animation: animate-enter252-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter252-frames {
  from{}
to{}
}

.in .path-5-NyFeQa {
  background-color: transparent;
  height: 3px;
  left: 100px;
  position: absolute;
  top: 13648px;
  width: 1238px;
}

.in .x-s06Wdb {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 896px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 13508px;
  white-space: nowrap;
  width: auto;
}

.in .cleanlogowithne-lettheworkshine-s06Wdb {
  background-color: transparent;
  display: block;
  height: 58px;
  left: 104px;
  position: absolute;
  top: 7838px;
  width: 509px;
}

.in .cleanlogowithne-lettheworkshine-s06Wdb.animate-enter253 {
  animation: animate-enter253-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter253-frames {
  from{}
to{}
}

.in .animproveduserjourney-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  position: absolute;
  top: 4788px;
  width: 391px;
}

.in .animproveduserjourney-s06Wdb.animate-enter254 {
  animation: animate-enter254-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter254-frames {
  from{}
to{}
}

.in .anattractivebra-tyandmodernlogo-s06Wdb {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 103px;
  position: absolute;
  top: 2625px;
  width: 485px;
}

.in .anattractivebra-tyandmodernlogo-s06Wdb.animate-enter255 {
  animation: animate-enter255-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter255-frames {
  from{}
to{}
}

.in .customized-photography-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  position: absolute;
  top: 10032px;
  width: 389px;
}

.in .customized-photography-s06Wdb.animate-enter256 {
  animation: animate-enter256-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter256-frames {
  from{}
to{}
}

.in .the-goal-was-to-pres-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4854px;
  transform: translate(0, 25px);
  width: 513px;
}

.in .the-goal-was-to-pres-s06Wdb.animate-enter257 {
  animation: animate-enter257-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter257-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .the-new-website-need-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 270px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2729px;
  transform: translate(0, 25px);
  width: 513px;
}

.in .the-new-website-need-s06Wdb.animate-enter258 {
  animation: animate-enter258-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter258-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-copy-2-s06Wdb {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 7784px;
  width: 1237px;
}

.in .path-5-copy-4-s06Wdb {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 4734px;
  width: 1237px;
}

.in .path-5-copy-5-s06Wdb {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 2572px;
  width: 1237px;
}

.in .path-5-copy-3-s06Wdb {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 9978px;
  width: 1237px;
}

.in .ff-05-s06Wdb {
  background-color: transparent;
  height: 342px;
  left: 100px;
  position: absolute;
  top: 8113px;
  width: 1240px;
}

.in .ff-05-pYhWv2 {
  background-color: transparent;
  height: 342px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .sketch-01-s06Wdb {
  background-color: transparent;
  height: 420px;
  left: 103px;
  position: absolute;
  top: 3111px;
  width: 1236px;
}

.in .application-01-s06Wdb {
  background-color: transparent;
  height: 265px;
  left: 103px;
  position: absolute;
  top: 13102px;
  width: 1236px;
}

.in .application-01-pg7Zoj {
  background-color: transparent;
  height: 265px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1236px;
}

.in .optimizedformobile-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  position: absolute;
  top: 5964px;
  width: 307px;
}

.in .optimizedformobile-s06Wdb.animate-enter259 {
  animation: animate-enter259-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter259-frames {
  from{}
to{}
}

.in .in-provides-a-seamle-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 6020px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .in-provides-a-seamle-s06Wdb.animate-enter260 {
  animation: animate-enter260-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter260-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .by-using-the-neutral-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7940px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .by-using-the-neutral-s06Wdb.animate-enter261 {
  animation: animate-enter261-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter261-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .after-getting-permis-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 10100px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .after-getting-permis-s06Wdb.animate-enter262 {
  animation: animate-enter262-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter262-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-tZtrpw {
  background-color: transparent;
  height: 3px;
  left: 100px;
  position: absolute;
  top: 5912px;
  width: 1242px;
}

.in .applications-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  position: absolute;
  top: 12984px;
  width: 191px;
}

.in .applications-s06Wdb.animate-enter263 {
  animation: animate-enter263-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter263-frames {
  from{}
to{}
}

.in .path-5-copy-3-NyFeQa {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 12930px;
  width: 1237px;
}

.in .rectangle-NyFeQa {
  background-color: var(--white);
  height: 89px;
  left: 1235px;
  position: absolute;
  top: 8444px;
  width: 105px;
}

.in .rectangle-copy-4-s06Wdb {
  background-color: var(--white);
  height: 89px;
  left: 100px;
  position: absolute;
  top: 9741px;
  width: 1240px;
}

.in .about-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.in .about-s06Wdb:hover {
  transform: translate(0, -5px);
}

.in .work-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.in .work-s06Wdb:hover {
  transform: translate(0, -5px);
}

.in .ashcui-s06Wdb {
  background-color: transparent;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.in .rectangle-copy-2-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 5066px;
  width: 1234px;
}

.in .rectangle-copy-5-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 1718px;
  width: 1234px;
}

.in .rectangle-copy-3-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 6178px;
  width: 1234px;
}

.in .full-bleed-lifestyle1-NyFeQa {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 13700px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-NyFeQa.animate-enter265 {
  animation: animate-enter265-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter265-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-DMitFq {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-DMitFq.animate-enter264 {
  animation: animate-enter264-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter264-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
