/* screen - in */

.in {
  background-color: var(--cod-gray);
  height: 15130px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.in .in-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.in .in-s06Wdb.animate-enter109 {
  animation: animate-enter109-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter109-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .rectangle-s06Wdb {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.in .luxurybrandingf-tattoostudio-in-s06Wdb {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 731px;
  opacity: 0;
  position: absolute;
  top: 1228px;
  transform: translate(0, 25px);
  width: 449px;
}

.in .luxurybrandingf-tattoostudio-in-s06Wdb.animate-enter110 {
  animation: animate-enter110-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter110-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .x2016-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.in .x2016-s06Wdb.animate-enter111 {
  animation: animate-enter111-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter111-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .role-s06Wdb {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1229px;
  transform: translate(0, 25px);
  width: 86px;
}

.in .role-s06Wdb.animate-enter112 {
  animation: animate-enter112-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter112-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .in-began-the-busines-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1345px;
  transform: translate(0, 25px);
  width: 565px;
}

.in .in-began-the-busines-s06Wdb.animate-enter113 {
  animation: animate-enter113-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter113-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-s06Wdb {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-s06Wdb.animate-enter115 {
  animation: animate-enter115-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter115-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-VCNvyL {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-VCNvyL.animate-enter114 {
  animation: animate-enter114-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter114-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .group-s06Wdb {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.in .group-s06Wdb.animate-enter116 {
  animation: animate-enter116-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter116-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .uiux-design-FyjPx9 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.in .design-direction-FyjPx9 {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.in .brand-identity-FyjPx9 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.in .animation-FyjPx9 {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.in .visual-identity-desi-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1090px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.in .visual-identity-desi-s06Wdb.animate-enter117 {
  animation: animate-enter117-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter117-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-s06Wdb {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-s06Wdb.animate-enter118 {
  animation: animate-enter118-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter118-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .group-3-s06Wdb {
  background-color: transparent;
  display: block;
  height: 1472px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 3111px;
  transform: translate(0, 25px);
  width: 1237px;
}

.in .group-3-s06Wdb.animate-enter119 {
  animation: animate-enter119-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter119-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .x0-01-wWKmUZ {
  background-color: transparent;
  height: 1052px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 1237px;
}

.in .x0-01-Sru6Ai {
  background-color: transparent;
  height: 1052px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1237px;
}

.in .sketch-01-wWKmUZ {
  background-color: transparent;
  height: 420px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1236px;
}

.in .bang-10-s06Wdb {
  background-color: transparent;
  height: 712px;
  left: 97px;
  position: absolute;
  top: 6924px;
  width: 1241px;
}

.in .bang-10-A2Z0Zh {
  background-color: transparent;
  height: 712px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1241px;
}

.in .group-4-s06Wdb {
  background-color: transparent;
  display: block;
  height: 1716px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 8113px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .group-4-s06Wdb.animate-enter120 {
  animation: animate-enter120-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter120-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .bang-69qq8Z {
  background-color: transparent;
  height: 1286px;
  left: 0px;
  position: absolute;
  top: 342px;
  width: 1240px;
}

.in .bang-5qCyNq {
  background-color: transparent;
  height: 1286px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .ff-05-69qq8Z {
  background-color: transparent;
  height: 342px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .ff-05-H2mWef {
  background-color: transparent;
  height: 342px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.in .rectangle-69qq8Z {
  background-color: var(--white);
  height: 89px;
  left: 1135px;
  position: absolute;
  top: 331px;
  width: 105px;
}

.in .rectangle-copy-4-69qq8Z {
  background-color: var(--white);
  height: 89px;
  left: 0px;
  position: absolute;
  top: 1627px;
  width: 1240px;
}

.in .untitled-3-01-s06Wdb {
  background-color: transparent;
  display: block;
  height: 2508px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 10315px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .untitled-3-01-s06Wdb.animate-enter122 {
  animation: animate-enter122-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter122-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .untitled-3-01-nIpT7q {
  background-color: transparent;
  display: block;
  height: 2508px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .untitled-3-01-nIpT7q.animate-enter121 {
  animation: animate-enter121-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter121-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .group-2-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 1181px;
  pointer-events: auto;
  position: absolute;
  top: 13552px;
  transition: all 0.5s ease-in-out;
  width: 158px;
}

.in .group-2-s06Wdb:hover {
  transform: translate(0, -5px);
}

.in .nextproject-AzoOD4 {
  background-color: transparent;
  height: 11px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 157px;
}

.in .path-6-AzoOD4 {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: -0px;
  pointer-events: auto;
  position: absolute;
  top: 22px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.in .path-6-AzoOD4:hover {
  filter: blur(10px);
}

.in .group-2-NyFeQa {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 485px;
  opacity: 0;
  position: absolute;
  top: 14554px;
  width: 290px;
}

.in .group-2-NyFeQa.animate-enter123 {
  animation: animate-enter123-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter123-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.in .sayhi-p76iyN {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.in .copyright-2021-ash-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 15019px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.in .copyright-2021-ash-s06Wdb.animate-enter124 {
  animation: animate-enter124-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter124-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .thanks-for-scrolling-s06Wdb {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 13464px;
  white-space: nowrap;
  width: auto;
}

.in .thanks-for-scrolling-s06Wdb.animate-enter125 {
  animation: animate-enter125-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter125-frames {
  from{}
to{}
}

.in .path-5-NyFeQa {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 13648px;
  transform: scaleX(0);
  width: 1238px;
}

.in .path-5-NyFeQa.animate-enter126 {
  animation: animate-enter126-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter126-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .cleanlogowithne-lettheworkshine-s06Wdb {
  background-color: transparent;
  display: block;
  height: 58px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 7838px;
  transform: translate(0, 25px);
  width: 509px;
}

.in .cleanlogowithne-lettheworkshine-s06Wdb.animate-enter127 {
  animation: animate-enter127-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter127-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .animproveduserjourney-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 4788px;
  transform: translate(0, 25px);
  width: 391px;
}

.in .animproveduserjourney-s06Wdb.animate-enter128 {
  animation: animate-enter128-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter128-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .anattractivebra-tyandmodernlogo-s06Wdb {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 2625px;
  transform: translate(0, 25px);
  width: 485px;
}

.in .anattractivebra-tyandmodernlogo-s06Wdb.animate-enter129 {
  animation: animate-enter129-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter129-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .customized-photography-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 10032px;
  transform: translate(0, 25px);
  width: 389px;
}

.in .customized-photography-s06Wdb.animate-enter130 {
  animation: animate-enter130-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter130-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .the-goal-was-to-pres-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4854px;
  transform: translate(0, 25px);
  width: 513px;
}

.in .the-goal-was-to-pres-s06Wdb.animate-enter131 {
  animation: animate-enter131-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter131-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .the-new-website-need-s06Wdb {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 270px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2729px;
  transform: translate(0, 25px);
  width: 513px;
}

.in .the-new-website-need-s06Wdb.animate-enter132 {
  animation: animate-enter132-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter132-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-copy-2-s06Wdb {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 7784px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-copy-2-s06Wdb.animate-enter133 {
  animation: animate-enter133-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter133-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .path-5-copy-4-s06Wdb {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 4734px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-copy-4-s06Wdb.animate-enter134 {
  animation: animate-enter134-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter134-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .path-5-copy-5-s06Wdb {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 2572px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-copy-5-s06Wdb.animate-enter135 {
  animation: animate-enter135-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter135-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .path-5-copy-3-s06Wdb {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 9978px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-copy-3-s06Wdb.animate-enter136 {
  animation: animate-enter136-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter136-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .application-01-s06Wdb {
  background-color: transparent;
  display: block;
  height: 265px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 13102px;
  transform: translate(0, 25px);
  width: 1236px;
}

.in .application-01-s06Wdb.animate-enter138 {
  animation: animate-enter138-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter138-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .application-01-pg7Zoj {
  background-color: transparent;
  display: block;
  height: 265px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1236px;
}

.in .application-01-pg7Zoj.animate-enter137 {
  animation: animate-enter137-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter137-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .optimizedformobile-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 5964px;
  transform: translate(0, 25px);
  width: 307px;
}

.in .optimizedformobile-s06Wdb.animate-enter139 {
  animation: animate-enter139-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter139-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .in-provides-a-seamle-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 6020px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .in-provides-a-seamle-s06Wdb.animate-enter140 {
  animation: animate-enter140-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter140-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .by-using-the-neutral-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7940px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .by-using-the-neutral-s06Wdb.animate-enter141 {
  animation: animate-enter141-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter141-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .after-getting-permis-s06Wdb {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 10100px;
  transform: translate(0, 25px);
  width: 512px;
}

.in .after-getting-permis-s06Wdb.animate-enter142 {
  animation: animate-enter142-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter142-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-tZtrpw {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 5912px;
  transform: scaleX(0);
  width: 1242px;
}

.in .path-5-tZtrpw.animate-enter143 {
  animation: animate-enter143-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter143-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .applications-s06Wdb {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 12984px;
  transform: translate(0, 25px);
  width: 191px;
}

.in .applications-s06Wdb.animate-enter144 {
  animation: animate-enter144-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter144-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .path-5-copy-3-NyFeQa {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 12930px;
  transform: scaleX(0);
  width: 1237px;
}

.in .path-5-copy-3-NyFeQa.animate-enter145 {
  animation: animate-enter145-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter145-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.in .about-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.in .about-s06Wdb:hover {
  transform: translate(0, -5px);
}

.in .work-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.in .work-s06Wdb:hover {
  transform: translate(0, -5px);
}

.in .ashcui-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.in .rectangle-copy-2-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 5066px;
  width: 1234px;
}

.in .rectangle-copy-5-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 1718px;
  width: 1234px;
}

.in .rectangle-copy-3-s06Wdb {
  background-color: transparent;
  height: 692px;
  left: 104px;
  overflow: hidden;
  position: absolute;
  top: 6178px;
  width: 1234px;
}

.in .full-bleed-lifestyle1-NyFeQa {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 13700px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-NyFeQa.animate-enter147 {
  animation: animate-enter147-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter147-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .full-bleed-lifestyle1-DMitFq {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.in .full-bleed-lifestyle1-DMitFq.animate-enter146 {
  animation: animate-enter146-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter146-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .x-s06Wdb {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 876px;
  position: absolute;
  top: 13512px;
  transform: rotate(0deg);
  width: 24px;
}

.in .x-s06Wdb.animate-enter148 {
  animation: animate-enter148-frames 5.23s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter148-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.in .image-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1309px;
  opacity: 0;
  position: absolute;
  top: 15003px;
  transform: translate(0, 25px);
  width: 33px;
}

.in .image-s06Wdb.animate-enter149 {
  animation: animate-enter149-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter149-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.in .hi-s06Wdb {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 813px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 14534px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.in .hi-s06Wdb.animate-enter150 {
  animation: animate-enter150-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter150-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.in .hi-s06Wdb:hover {
  transform: translate(0, -20px);
}
