/* screen - index */

.index {
  background-color: var(--cod-gray);
  height: 6591px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.index .group-3-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1244px;
  pointer-events: auto;
  position: absolute;
  top: 1493px;
  transition: all 0.5s ease-in-out;
  width: 95px;
}

.index .group-3-IO3Fu5:hover {
  transform: translate(0, -5px);
}

.index .viewall-iyzWYA {
  background-color: transparent;
  height: 11px;
  left: 0px;
  position: absolute;
  top: 3px;
  width: 93px;
}

.index .path-6-iyzWYA {
  background-color: transparent;
  height: 2px;
  left: 2px;
  position: absolute;
  top: 24px;
  width: 94px;
}

.index .selectwork2016-2021-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 58px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1466px;
  transform: translate(0, 25px);
  width: 162px;
}

.index .selectwork2016-2021-IO3Fu5.animate-enter {
  animation: animate-enter-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .group-2-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 267px;
  left: 1341px;
  opacity: 0;
  position: absolute;
  top: 661px;
  transform: translate(0, 50px);
  width: 50px;
}

.index .group-2-IO3Fu5.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 50px);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 50px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .scroll-CDExF9 {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 234px;
  transform: rotate(-90deg);
  width: 48px;
}

.index .path-2-CDExF9 {
  background-color: transparent;
  height: 196px;
  left: 24px;
  position: absolute;
  top: -2px;
  width: 2px;
}

.index .full-bleed-lifestyle1-copy-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 1600px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-IO3Fu5.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-OJF0dx {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-OJF0dx.animate-enter2 {
  animation: animate-enter2-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .thumbnail-copy-4-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 2303px;
  transform: translate(0, 25px);
  width: 1236px;
}

.index .thumbnail-copy-4-IO3Fu5.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .thumbnail-copy-4-YJFhSQ {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1236px;
}

.index .thumbnail-copy-4-YJFhSQ.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-2-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 3705px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-2-IO3Fu5.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-2-HMIxzb {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-2-HMIxzb.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-3-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 4406px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-3-IO3Fu5.animate-enter9 {
  animation: animate-enter9-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-3-tOGbVE {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-3-tOGbVE.animate-enter8 {
  animation: animate-enter8-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-4-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 97px;
  opacity: 0;
  position: absolute;
  top: 5104px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-4-IO3Fu5.animate-enter11 {
  animation: animate-enter11-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-4-t8QccF {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-4-t8QccF.animate-enter10 {
  animation: animate-enter10-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copyright-2021-ash-IO3Fu5 {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 6490px;
  white-space: nowrap;
  width: auto;
}

.index .x-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 5695px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-IO3Fu5.animate-enter12 {
  animation: animate-enter12-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter12-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .plex-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1288px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4990px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .plex-copy-IO3Fu5.animate-enter13 {
  animation: animate-enter13-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .sheep-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 5688px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .sheep-IO3Fu5.animate-enter14 {
  animation: animate-enter14-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .x-865xPf {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 4997px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-865xPf.animate-enter15 {
  animation: animate-enter15-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter15-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .google-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1255px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4289px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .google-copy-IO3Fu5.animate-enter16 {
  animation: animate-enter16-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter16-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .dlight-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 3588px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .dlight-copy-IO3Fu5.animate-enter17 {
  animation: animate-enter17-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter17-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .x-AGMxPx {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 4296px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-AGMxPx.animate-enter18 {
  animation: animate-enter18-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter18-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .x-5nENan {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 3595px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-5nENan.animate-enter19 {
  animation: animate-enter19-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter19-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .ava-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1290px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 2888px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .ava-copy-IO3Fu5.animate-enter20 {
  animation: animate-enter20-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter20-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .x-xnCjKo {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 2894px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-xnCjKo.animate-enter21 {
  animation: animate-enter21-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter21-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .benchling-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1224px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2181px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .benchling-copy-IO3Fu5.animate-enter22 {
  animation: animate-enter22-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .x-P1udge {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 2191px;
  transform: rotate(0deg);
  width: 23px;
}

.index .x-P1udge.animate-enter23 {
  animation: animate-enter23-frames 5.00s linear infinite;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter23-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.index .full-bleed-lifestyle1-copy-5-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 97px;
  opacity: 0;
  position: absolute;
  top: 3004px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-5-IO3Fu5.animate-enter25 {
  animation: animate-enter25-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .full-bleed-lifestyle1-copy-5-B51MHc {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-5-B51MHc.animate-enter24 {
  animation: animate-enter24-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .group-4-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 485px;
  opacity: 0;
  position: absolute;
  top: 6025px;
  width: 290px;
}

.index .group-4-IO3Fu5.animate-enter26 {
  animation: animate-enter26-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter26-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.index .group-2-xlggqe {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 290px;
}

.index .sayhi-gGSxNk {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.index .hi-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 813px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 6010px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.index .hi-IO3Fu5.animate-enter27 {
  animation: animate-enter27-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter27-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.index .hi-IO3Fu5:hover {
  transform: translate(0, -20px);
}

.index .about-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.index .about-IO3Fu5:hover {
  transform: translate(0, -5px);
}

.index .work-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.index .work-IO3Fu5:hover {
  transform: translate(0, -5px);
}

.index .ashcui-IO3Fu5 {
  background-color: transparent;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.index .title-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 91px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 229px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: 969px;
}

.index .title-IO3Fu5.animate-enter28 {
  animation: animate-enter28-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter28-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .title-IO3Fu5:hover {
  filter: blur(10px);
}

.index .associate-design-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 582px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.index .associate-design-IO3Fu5.animate-enter29 {
  animation: animate-enter29-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter29-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .associate-design-IO3Fu5:hover {
  filter: blur(10px);
}

.index .with-a-passion-for-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 935px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: 1078px;
}

.index .span1-fCivxZ {
}

.index .span2-fCivxZ {
  color: var(--onyx-2);
  font-family: var(--font-family-pingfangsc-semibold);
  font-size: var(--font-size-xxxxl);
}

.index .span3-fCivxZ {
}

.index .with-a-passion-for-IO3Fu5.animate-enter30 {
  animation: animate-enter30-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter30-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .with-a-passion-for-IO3Fu5:hover {
  filter: blur(10px);
}

.index .animation-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1111px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: 1078px;
}

.index .animation-IO3Fu5.animate-enter31 {
  animation: animate-enter31-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .animation-IO3Fu5:hover {
  filter: blur(10px);
}

.index .director-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 758px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.index .director-IO3Fu5.animate-enter32 {
  animation: animate-enter32-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .director-IO3Fu5:hover {
  filter: blur(10px);
}

.index .designer-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-weight: 800;
  height: 180px;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: 180px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 405px;
  transform: translate(0, 25px);
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.index .designer-IO3Fu5.animate-enter33 {
  animation: animate-enter33-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter33-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .designer-IO3Fu5:hover {
  filter: blur(10px);
}

.index .rectangle-IO3Fu5 {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.index .image-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1308px;
  opacity: 0;
  position: absolute;
  top: 6464px;
  transform: translate(0, 25px);
  width: 33px;
}

.index .image-IO3Fu5.animate-enter34 {
  animation: animate-enter34-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter34-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
