/* screen - index */

.index {
  background-color: var(--black);
  height: 6591px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.index .group-3-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1244px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 1493px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 95px;
}

.index .group-3-IO3Fu5.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .group-3-IO3Fu5:hover {
  filter: blur(10px);
}

.index .view-all-iyzWYA {
  background-color: transparent;
  font-weight: 500;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .path-6-iyzWYA {
  background-color: transparent;
  height: 2px;
  left: 2px;
  position: absolute;
  top: 24px;
  width: 94px;
}

.index .select-work-2016-2-IO3Fu5 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: var(--font-family-archivoexpanded-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  height: 80px;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1455px;
  transform: translate(0, 25px);
  width: auto;
}

.index .select-work-2016-2-IO3Fu5.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .group-2-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 267px;
  left: 1341px;
  opacity: 0;
  position: absolute;
  top: 661px;
  transform: translate(0, 25px);
  width: 50px;
}

.index .group-2-IO3Fu5.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 2.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .scroll-CDExF9 {
  background-color: transparent;
  font-weight: 400;
  height: 50px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 216px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: auto;
}

.index .path-2-CDExF9 {
  background-color: transparent;
  height: 196px;
  left: 24px;
  position: absolute;
  top: -2px;
  width: 2px;
}

.index .full-bleed-lifestyle1-copy-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 98px;
  position: absolute;
  top: 1600px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-OJF0dx {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.index .thumbnail-copy-4-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 100px;
  position: absolute;
  top: 2303px;
  width: 1236px;
}

.index .thumbnail-copy-4-YJFhSQ {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1236px;
}

.index .full-bleed-lifestyle1-copy-2-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 98px;
  position: absolute;
  top: 3705px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-2-HMIxzb {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-3-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 99px;
  position: absolute;
  top: 4406px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-3-tOGbVE {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-4-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 97px;
  position: absolute;
  top: 5104px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-4-t8QccF {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.index .sheep-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 5687px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .sheep-copy-IO3Fu5.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copy-9-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 5685px;
  white-space: nowrap;
  width: auto;
}

.index .plex-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1288px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4990px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .plex-copy-IO3Fu5.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copy-10-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 4987px;
  white-space: nowrap;
  width: auto;
}

.index .google-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1255px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4289px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .google-copy-IO3Fu5.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .dlight-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 3588px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .dlight-copy-IO3Fu5.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copy-11-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 4286px;
  white-space: nowrap;
  width: auto;
}

.index .copy-12-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 3585px;
  white-space: nowrap;
  width: auto;
}

.index .ava-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1290px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 2888px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .ava-copy-IO3Fu5.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copy-13-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 2884px;
  white-space: nowrap;
  width: auto;
}

.index .benchling-copy-IO3Fu5 {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1224px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2181px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.index .benchling-copy-IO3Fu5.animate-enter8 {
  animation: animate-enter8-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .copy-14-IO3Fu5 {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 2181px;
  white-space: nowrap;
  width: auto;
}

.index .full-bleed-lifestyle1-copy-5-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 97px;
  position: absolute;
  top: 3004px;
  width: 1240px;
}

.index .full-bleed-lifestyle1-copy-5-B51MHc {
  background-color: transparent;
  cursor: pointer;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.index .group-4-IO3Fu5 {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: 182px;
  left: 485px;
  opacity: 0;
  position: absolute;
  top: 6005px;
  width: 466px;
}

.index .group-4-IO3Fu5.animate-enter9 {
  animation: animate-enter9-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.index .group-2-xlggqe {
  background-color: transparent;
  height: 182px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 466px;
}

.index .sayhi-gGSxNk {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.index .path-gGSxNk {
  background-color: transparent;
  height: 7px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.index .textlabel-gGSxNk {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .textlabel-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 59px;
  left: 1306px;
  letter-spacing: 0.00px;
  line-height: 59px;
  position: absolute;
  text-align: left;
  top: 6466px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}

.index .about-copy-2-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1267px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 78px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.index .about-copy-2-IO3Fu5:hover {
  filter: blur(10px);
}

.index .work-copy-2-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1128px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 78px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.index .work-copy-2-IO3Fu5:hover {
  filter: blur(10px);
}

.index .ash-cui-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  height: 26px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: auto;
}

.index .group-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 1080px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 252px;
  transform: translate(0, 25px);
  width: 1078px;
}

.index .group-IO3Fu5.animate-enter10 {
  animation: animate-enter10-frames 3.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index .digital-product-de-2bwwTc {
  background-color: transparent;
  font-weight: 800;
  height: 1080px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 180px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.index .span1-D13kkx {
}

.index .span2-D13kkx {
}

.index .span3-D13kkx {
}

.index .span4-D13kkx {
}

.index .span5-D13kkx {
  color: var(--storm-dust);
  font-family: var(--font-family-pingfangsc-semibold);
  font-size: var(--font-size-xxxxl);
}

.index .span6-D13kkx {
}

.index .span7-D13kkx {
  color: #a5a5a5;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
}

.index .span8-D13kkx {
}

.index .rectangle-IO3Fu5 {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}
