/* screen - paulrand */

.paulrand {
  background-color: var(--black);
  height: 17077px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.paulrand .full-bleed-lifestyle1-ED6WlS {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.paulrand .full-bleed-lifestyle1-ED6WlS.animate-enter224 {
  animation: animate-enter224-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter224-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .full-bleed-lifestyle1-0kTWDG {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.paulrand .full-bleed-lifestyle1-0kTWDG.animate-enter223 {
  animation: animate-enter223-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter223-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .group-ED6WlS {
  background-color: transparent;
  display: block;
  height: 110px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.paulrand .group-ED6WlS.animate-enter225 {
  animation: animate-enter225-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter225-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .interior-design-sd7dLh {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.paulrand .design-direction-sd7dLh {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.paulrand .brand-identity-sd7dLh {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.paulrand .paul-rand-ram-ED6WlS {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.paulrand .paul-rand-ram-ED6WlS.animate-enter226 {
  animation: animate-enter226-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter226-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .rectangle-ED6WlS {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.paulrand .exhibition-design-ED6WlS {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1090px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.paulrand .exhibition-design-ED6WlS.animate-enter227 {
  animation: animate-enter227-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter227-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .inmemoryof-paul-rand-ED6WlS {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1228px;
  transform: translate(0, 25px);
  width: 362px;
}

.paulrand .inmemoryof-paul-rand-ED6WlS.animate-enter228 {
  animation: animate-enter228-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter228-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .x2016-ED6WlS {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.paulrand .x2016-ED6WlS.animate-enter229 {
  animation: animate-enter229-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter229-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .role-ED6WlS {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1229px;
  transform: translate(0, 25px);
  width: 86px;
}

.paulrand .role-ED6WlS.animate-enter230 {
  animation: animate-enter230-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter230-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .this-exhiibition-is-ED6WlS {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1304px;
  transform: translate(0, 25px);
  width: 595px;
}

.paulrand .this-exhiibition-is-ED6WlS.animate-enter231 {
  animation: animate-enter231-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter231-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .path-5-ED6WlS {
  background-color: transparent;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 406px;
  width: 1237px;
}

.paulrand .wix-01-ED6WlS {
  background-color: transparent;
  height: 872px;
  left: 100px;
  position: absolute;
  top: 1694px;
  width: 1242px;
}

.paulrand .wix-01-wLiu9q {
  background-color: transparent;
  height: 872px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}

.paulrand .wix-01-copy-ED6WlS {
  background-color: transparent;
  height: 2108px;
  left: 100px;
  position: absolute;
  top: 2566px;
  width: 1242px;
}

.paulrand .wix-01-copy-aGwBWj {
  background-color: transparent;
  height: 2108px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}

.paulrand .bigboldtypeface-fulcolorpalette-ED6WlS {
  background-color: transparent;
  display: block;
  height: 64px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 5283px;
  transform: translate(0, 25px);
  width: 350px;
}

.paulrand .bigboldtypeface-fulcolorpalette-ED6WlS.animate-enter232 {
  animation: animate-enter232-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter232-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .path-5-copy-2-ED6WlS {
  background-color: transparent;
  height: 4px;
  left: 102px;
  position: absolute;
  top: 5230px;
  width: 1237px;
}

.paulrand .wix-03-ED6WlS {
  background-color: transparent;
  height: 3238px;
  left: 99px;
  position: absolute;
  top: 5613px;
  width: 1240px;
}

.paulrand .wix-04-ED6WlS {
  background-color: transparent;
  height: 3825px;
  left: 100px;
  position: absolute;
  top: 8757px;
  width: 1240px;
}

.paulrand .rectangle-xmEcem {
  background-color: transparent;
  height: 804px;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 11798px;
  width: 1241px;
}

.paulrand .wix-05-ED6WlS {
  background-color: transparent;
  height: 1257px;
  left: 100px;
  position: absolute;
  top: 12602px;
  width: 1241px;
}

.paulrand .wix-05-eLVrwb {
  background-color: transparent;
  height: 1257px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1241px;
}

.paulrand .interiordesign-ED6WlS {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 14061px;
  transform: translate(0, 25px);
  width: 217px;
}

.paulrand .interiordesign-ED6WlS.animate-enter233 {
  animation: animate-enter233-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter233-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .path-5-copy-2-xmEcem {
  background-color: transparent;
  height: 4px;
  left: 100px;
  position: absolute;
  top: 14008px;
  width: 1237px;
}

.paulrand .material6-ED6WlS {
  background-color: transparent;
  height: 338px;
  left: 102px;
  position: absolute;
  top: 4743px;
  width: 620px;
}

.paulrand .material6-J2Iamx {
  background-color: transparent;
  height: 338px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 620px;
}

.paulrand .getty-images-946509292-ED6WlS {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 15657px;
  transform: translate(0, 25px);
  width: 1238px;
}

.paulrand .getty-images-946509292-ED6WlS.animate-enter235 {
  animation: animate-enter235-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter235-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .getty-images-946509292-BMQuzM {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.paulrand .getty-images-946509292-BMQuzM.animate-enter234 {
  animation: animate-enter234-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter234-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .thanks-for-scrolling-ED6WlS {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 15421px;
  white-space: nowrap;
  width: auto;
}

.paulrand .thanks-for-scrolling-ED6WlS.animate-enter236 {
  animation: animate-enter236-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter236-frames {
  from{}
to{}
}

.paulrand .group-2-ED6WlS {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1183px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 15501px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.paulrand .group-2-ED6WlS.animate-enter237 {
  animation: animate-enter237-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter237-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .group-2-ED6WlS:hover {
  filter: blur(10px);
}

.paulrand .nextproject-RluBeu {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.paulrand .path-6-RluBeu {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.paulrand .path-6-RluBeu:hover {
  filter: blur(10px);
}

.paulrand .path-5-xmEcem {
  background-color: transparent;
  height: 3px;
  left: 102px;
  position: absolute;
  top: 15604px;
  width: 1238px;
}

.paulrand .material3-ED6WlS {
  background-color: transparent;
  height: 337px;
  left: 722px;
  position: absolute;
  top: 4744px;
  width: 620px;
}

.paulrand .material3-xaG0tA {
  background-color: transparent;
  height: 337px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 620px;
}

.paulrand .wix-0sss6-01-ED6WlS {
  background-color: transparent;
  height: 925px;
  left: 103px;
  position: absolute;
  top: 14400px;
  width: 620px;
}

.paulrand .material2-ED6WlS {
  background-color: transparent;
  height: 355px;
  left: 740px;
  position: absolute;
  top: 14372px;
  width: 589px;
}

.paulrand .material2-2t6uxj {
  background-color: transparent;
  height: 355px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 589px;
}

.paulrand .material1-ED6WlS {
  background-color: transparent;
  height: 431px;
  left: 740px;
  position: absolute;
  top: 14904px;
  width: 575px;
}

.paulrand .paul-rand-always-emp-ED6WlS {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 150px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 5371px;
  transform: translate(0, 25px);
  width: 512px;
}

.paulrand .paul-rand-always-emp-ED6WlS.animate-enter238 {
  animation: animate-enter238-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter238-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .the-area-of-this-exh-ED6WlS {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 14127px;
  transform: translate(0, 25px);
  width: 512px;
}

.paulrand .the-area-of-this-exh-ED6WlS.animate-enter239 {
  animation: animate-enter239-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter239-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .clean-open-layouts-ED6WlS {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 80px;
  left: -828px;
  letter-spacing: 0.00px;
  line-height: 80px;
  position: absolute;
  text-align: left;
  top: 3565px;
  white-space: nowrap;
  width: 910px;
}

.paulrand .path-5-copy-3-ED6WlS {
  background-color: transparent;
  height: 4px;
  left: -832px;
  position: absolute;
  top: 3032px;
  width: 1237px;
}

.paulrand .path-5-copy-10-ED6WlS {
  background-color: transparent;
  height: 4px;
  left: -832px;
  position: absolute;
  top: 3266px;
  width: 1237px;
}

.paulrand .about-ED6WlS {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.paulrand .about-ED6WlS:hover {
  transform: translate(0, -5px);
}

.paulrand .work-ED6WlS {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.paulrand .work-ED6WlS:hover {
  transform: translate(0, -5px);
}

.paulrand .ashcui-ED6WlS {
  background-color: transparent;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.paulrand .group-2-xmEcem {
  background-color: transparent;
  height: 182px;
  left: 488px;
  position: absolute;
  top: 16491px;
  width: 466px;
}

.paulrand .sayhi-aY4P4Y {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.paulrand .path-aY4P4Y {
  background-color: transparent;
  height: 6px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.paulrand .textlabel-aY4P4Y {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.paulrand .copyright-2021-ash-ED6WlS {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 16976px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.paulrand .copyright-2021-ash-ED6WlS.animate-enter240 {
  animation: animate-enter240-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter240-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.paulrand .textlabel-ED6WlS {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 66px;
  left: 1301px;
  letter-spacing: 0.00px;
  line-height: 66px;
  position: absolute;
  text-align: left;
  top: 16942px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}

.paulrand .rectangle-KK6yEy {
  background-color: transparent;
  height: 872px;
  left: 722px;
  overflow: hidden;
  position: absolute;
  top: 1694px;
  width: 618px;
}

.paulrand .rectangle-copy-ED6WlS {
  background-color: transparent;
  height: 872px;
  left: 101px;
  overflow: hidden;
  position: absolute;
  top: 2567px;
  width: 621px;
}
