/* screen - plex */

.plex {
  background-color: var(--cod-gray);
  height: 13582px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.plex .full-bleed-lifestyle1-6fzTlM {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.plex .full-bleed-lifestyle1-6fzTlM.animate-enter181 {
  animation: animate-enter181-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter181-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .full-bleed-lifestyle1-4Xt0du {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.plex .full-bleed-lifestyle1-4Xt0du.animate-enter180 {
  animation: animate-enter180-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter180-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.plex .plex-6fzTlM.animate-enter182 {
  animation: animate-enter182-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter182-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .rectangle-6fzTlM {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.plex .about-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.plex .about-6fzTlM:hover {
  transform: translate(0, -5px);
}

.plex .work-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.plex .work-6fzTlM:hover {
  transform: translate(0, -5px);
}

.plex .ashcui-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.plex .x2021-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.plex .x2021-6fzTlM.animate-enter183 {
  animation: animate-enter183-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter183-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-6fzTlM {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.plex .path-5-6fzTlM.animate-enter184 {
  animation: animate-enter184-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter184-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.plex .website-design-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.plex .website-design-6fzTlM.animate-enter185 {
  animation: animate-enter185-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter185-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .edgydigitaldesi-cturingplatform-6fzTlM {
  background-color: transparent;
  display: block;
  height: 64px;
  left: 732px;
  opacity: 0;
  position: absolute;
  top: 1235px;
  transform: translate(0, 25px);
  width: 463px;
}

.plex .edgydigitaldesi-cturingplatform-6fzTlM.animate-enter186 {
  animation: animate-enter186-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter186-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .role-6fzTlM {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1236px;
  transform: translate(0, 25px);
  width: 86px;
}

.plex .role-6fzTlM.animate-enter187 {
  animation: animate-enter187-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter187-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-systems-a-powe-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1345px;
  transform: translate(0, 25px);
  width: 608px;
}

.plex .plex-systems-a-powe-6fzTlM.animate-enter188 {
  animation: animate-enter188-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter188-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-desktop-comp1-6fzTlM {
  background-color: transparent;
  display: block;
  height: 5390px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1727px;
  transform: translate(0, 25px);
  width: 1237px;
}

.plex .plex-case-stud-desktop-comp1-6fzTlM.animate-enter189 {
  animation: animate-enter189-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter189-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .differentiation-ualstorytelling-6fzTlM {
  background-color: transparent;
  display: block;
  height: 64px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 7320px;
  transform: translate(0, 25px);
  width: 488px;
}

.plex .differentiation-ualstorytelling-6fzTlM.animate-enter190 {
  animation: animate-enter190-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter190-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .our-designers-explor-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7410px;
  transform: translate(0, 25px);
  width: 513px;
}

.plex .our-designers-explor-6fzTlM.animate-enter191 {
  animation: animate-enter191-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter191-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-yV6dm5 {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 98px;
  opacity: 1;
  position: absolute;
  top: 7264px;
  transform: scaleX(0);
  width: 1238px;
}

.plex .path-5-yV6dm5.animate-enter192 {
  animation: animate-enter192-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter192-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.plex .plex-case-stud-desktop-comp2-6fzTlM {
  background-color: transparent;
  display: block;
  height: 2072px;
  left: 785px;
  opacity: 0;
  position: absolute;
  top: 7317px;
  transform: translate(0, 25px);
  width: 550px;
}

.plex .plex-case-stud-desktop-comp2-6fzTlM.animate-enter194 {
  animation: animate-enter194-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter194-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-desktop-comp2-e8BWzE {
  background-color: transparent;
  display: block;
  height: 2072px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.plex .plex-case-stud-desktop-comp2-e8BWzE.animate-enter193 {
  animation: animate-enter193-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter193-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-desktop-comp3-6fzTlM {
  background-color: transparent;
  display: block;
  height: 1877px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 7848px;
  transform: translate(0, 25px);
  width: 550px;
}

.plex .plex-case-stud-desktop-comp3-6fzTlM.animate-enter196 {
  animation: animate-enter196-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter196-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-desktop-comp3-0AT2o8 {
  background-color: transparent;
  display: block;
  height: 1877px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 550px;
}

.plex .plex-case-stud-desktop-comp3-0AT2o8.animate-enter195 {
  animation: animate-enter195-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter195-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .makingelementspop-6fzTlM {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 9921px;
  transform: translate(0, 25px);
  width: 327px;
}

.plex .makingelementspop-6fzTlM.animate-enter197 {
  animation: animate-enter197-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter197-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .we-utilized-plexs-s-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9971px;
  transform: translate(0, 25px);
  width: 513px;
}

.plex .we-utilized-plexs-s-6fzTlM.animate-enter198 {
  animation: animate-enter198-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter198-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-JWRygj {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 9874px;
  transform: scaleX(0);
  width: 1238px;
}

.plex .path-5-JWRygj.animate-enter199 {
  animation: animate-enter199-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter199-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.plex .plex-case-stud--color-palette-6fzTlM {
  background-color: transparent;
  display: block;
  height: 806px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 10183px;
  transform: translate(0, 25px);
  width: 1240px;
}

.plex .plex-case-stud--color-palette-6fzTlM.animate-enter200 {
  animation: animate-enter200-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter200-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-v1-typography-6fzTlM {
  background-color: transparent;
  display: block;
  height: 807px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 11039px;
  transform: translate(0, 25px);
  width: 1242px;
}

.plex .plex-case-stud-v1-typography-6fzTlM.animate-enter201 {
  animation: animate-enter201-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter201-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-eed-lifestyle1-6fzTlM {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 12182px;
  transform: translate(0, 25px);
  width: 1240px;
}

.plex .plex-case-stud-eed-lifestyle1-6fzTlM.animate-enter203 {
  animation: animate-enter203-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter203-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-eed-lifestyle1-aifswv {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.plex .plex-case-stud-eed-lifestyle1-aifswv.animate-enter202 {
  animation: animate-enter202-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter202-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .group-6fzTlM {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.plex .group-6fzTlM.animate-enter204 {
  animation: animate-enter204-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter204-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .uiux-design-vjOYMa {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.plex .design-direction-vjOYMa {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.plex .icongraphy-vjOYMa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.plex .animation-vjOYMa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.plex .thanks-for-scrolling-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 11945px;
  white-space: nowrap;
  width: auto;
}

.plex .thanks-for-scrolling-6fzTlM.animate-enter205 {
  animation: animate-enter205-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter205-frames {
  from{}
to{}
}

.plex .path-5-72SLFl {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 12128px;
  transform: scaleX(0);
  width: 1238px;
}

.plex .path-5-72SLFl.animate-enter206 {
  animation: animate-enter206-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter206-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.plex .group-2-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 484px;
  opacity: 0;
  position: absolute;
  top: 13016px;
  width: 290px;
}

.plex .group-2-6fzTlM.animate-enter207 {
  animation: animate-enter207-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter207-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.plex .sayhi-l0UA34 {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.plex .copyright-2021-ash-6fzTlM {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 13482px;
  white-space: nowrap;
  width: auto;
}

.plex .group-2-yV6dm5 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1179px;
  pointer-events: auto;
  position: absolute;
  top: 12025px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.plex .group-2-yV6dm5:hover {
  transform: translate(0, -5px);
}

.plex .nextproject-ErsYtf {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.plex .path-6-ErsYtf {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.plex .path-6-ErsYtf:hover {
  filter: blur(10px);
}

.plex .x-6fzTlM {
  background-color: transparent;
  display: block;
  height: 26px;
  left: 876px;
  position: absolute;
  top: 11991px;
  transform: rotate(0deg);
  width: 26px;
}

.plex .x-6fzTlM.animate-enter208 {
  animation: animate-enter208-frames 5.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter208-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.plex .image-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1309px;
  opacity: 0;
  position: absolute;
  top: 13453px;
  transform: translate(0, 25px);
  width: 33px;
}

.plex .image-6fzTlM.animate-enter209 {
  animation: animate-enter209-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter209-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .hi-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 812px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 12997px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.plex .hi-6fzTlM.animate-enter210 {
  animation: animate-enter210-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter210-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.plex .hi-6fzTlM:hover {
  transform: translate(0, -20px);
}
