/* screen - plex */

.plex {
  background-color: var(--black);
  height: 13582px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.plex .full-bleed-lifestyle1-6fzTlM {
  background-color: transparent;
  height: 550px;
  left: 98px;
  position: absolute;
  top: 545px;
  width: 1240px;
}

.plex .full-bleed-lifestyle1-4Xt0du {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.plex .plex-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.plex .plex-6fzTlM.animate-enter84 {
  animation: animate-enter84-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter84-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .rectangle-6fzTlM {
  background-color: var(--black);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.plex .about-copy-2-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1267px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 78px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.plex .about-copy-2-6fzTlM:hover {
  filter: blur(10px);
}

.plex .work-copy-2-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 17px;
  left: 1128px;
  letter-spacing: 0.00px;
  line-height: 17px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 78px;
  transition: all 1s ease-in-out;
  white-space: nowrap;
  width: auto;
}

.plex .work-copy-2-6fzTlM:hover {
  filter: blur(10px);
}

.plex .ash-cui-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  height: 26px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: auto;
}

.plex .x2021-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.plex .x2021-6fzTlM.animate-enter85 {
  animation: animate-enter85-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter85-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-6fzTlM {
  background-color: transparent;
  height: 2px;
  left: 100px;
  position: absolute;
  top: 406px;
  width: 1237px;
}

.plex .website-design-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1137px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.plex .website-design-6fzTlM.animate-enter86 {
  animation: animate-enter86-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter86-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .edgy-digital-design-6fzTlM {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 800;
  height: 80px;
  left: 730px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1225px;
  transform: translate(0, 25px);
  width: 584px;
}

.plex .edgy-digital-design-6fzTlM.animate-enter87 {
  animation: animate-enter87-frames 2.00s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter87-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .role-copy-6fzTlM {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 800;
  height: 40px;
  left: 102px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1225px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.plex .role-copy-6fzTlM.animate-enter88 {
  animation: animate-enter88-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter88-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-systems-a-powe-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1345px;
  transform: translate(0, 25px);
  width: 608px;
}

.plex .plex-systems-a-powe-6fzTlM.animate-enter89 {
  animation: animate-enter89-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter89-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .plex-case-stud-desktop-comp1-6fzTlM {
  background-color: transparent;
  height: 5390px;
  left: 102px;
  position: absolute;
  top: 1727px;
  width: 1237px;
}

.plex .differentiation-thro-6fzTlM {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 800;
  height: 80px;
  left: 102px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7310px;
  transform: translate(0, 25px);
  width: 557px;
}

.plex .differentiation-thro-6fzTlM.animate-enter90 {
  animation: animate-enter90-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter90-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .our-designers-explor-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 240px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 7410px;
  transform: translate(0, 25px);
  width: 513px;
}

.plex .our-designers-explor-6fzTlM.animate-enter91 {
  animation: animate-enter91-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter91-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-yV6dm5 {
  background-color: transparent;
  height: 4px;
  left: 98px;
  position: absolute;
  top: 7264px;
  width: 1238px;
}

.plex .plex-case-stud-desktop-comp2-6fzTlM {
  background-color: transparent;
  height: 2072px;
  left: 785px;
  position: absolute;
  top: 7317px;
  width: 550px;
}

.plex .plex-case-stud-desktop-comp2-e8BWzE {
  background-color: transparent;
  height: 2072px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 550px;
}

.plex .plex-case-stud-desktop-comp3-6fzTlM {
  background-color: transparent;
  height: 1877px;
  left: 102px;
  position: absolute;
  top: 7848px;
  width: 550px;
}

.plex .plex-case-stud-desktop-comp3-0AT2o8 {
  background-color: transparent;
  height: 1877px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 550px;
}

.plex .making-elements-pop-6fzTlM {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 800;
  height: 40px;
  left: 102px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9911px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 739px;
}

.plex .making-elements-pop-6fzTlM.animate-enter92 {
  animation: animate-enter92-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter92-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .we-utilized-plexs-s-6fzTlM {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: 102px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9971px;
  transform: translate(0, 25px);
  width: 513px;
}

.plex .we-utilized-plexs-s-6fzTlM.animate-enter93 {
  animation: animate-enter93-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter93-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .path-5-JWRygj {
  background-color: transparent;
  height: 4px;
  left: 100px;
  position: absolute;
  top: 9874px;
  width: 1238px;
}

.plex .plex-case-stud--color-palette-6fzTlM {
  background-color: transparent;
  height: 806px;
  left: 100px;
  position: absolute;
  top: 10183px;
  width: 1240px;
}

.plex .plex-case-stud-v1-typography-6fzTlM {
  background-color: transparent;
  height: 807px;
  left: 98px;
  position: absolute;
  top: 11039px;
  width: 1242px;
}

.plex .plex-case-stud-eed-lifestyle1-6fzTlM {
  background-color: transparent;
  height: 550px;
  left: 100px;
  position: absolute;
  top: 12182px;
  width: 1240px;
}

.plex .plex-case-stud-eed-lifestyle1-aifswv {
  background-color: transparent;
  height: 550px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1240px;
}

.plex .group-6fzTlM {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 138px;
}

.plex .group-6fzTlM.animate-enter94 {
  animation: animate-enter94-frames 2.00s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter94-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .uiux-design-vjOYMa {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.plex .design-direction-vjOYMa {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.plex .icongraphy-vjOYMa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.plex .animation-vjOYMa {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.plex .thanks-for-scrolling-6fzTlM {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 11945px;
  white-space: nowrap;
  width: auto;
}

.plex .thanks-for-scrolling-6fzTlM.animate-enter95 {
  animation: animate-enter95-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter95-frames {
  from{}
to{}
}

.plex .path-5-72SLFl {
  background-color: transparent;
  height: 3px;
  left: 102px;
  position: absolute;
  top: 12128px;
  width: 1238px;
}

.plex .x-6fzTlM {
  background-color: transparent;
  font-weight: 400;
  height: 56px;
  left: 897px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 11989px;
  white-space: nowrap;
  width: auto;
}

.plex .group-2-6fzTlM {
  background-color: transparent;
  height: 182px;
  left: 484px;
  position: absolute;
  top: 12996px;
  width: 466px;
}

.plex .sayhi-l0UA34 {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 462px;
}

.plex .path-l0UA34 {
  background-color: transparent;
  height: 6px;
  left: 332px;
  position: absolute;
  top: 172px;
  width: 136px;
}

.plex .textlabel-l0UA34 {
  background-color: transparent;
  font-weight: 400;
  height: 53px;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.plex .textlabel-6fzTlM {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: 59px;
  left: 1305px;
  letter-spacing: 0.00px;
  line-height: 59px;
  position: absolute;
  text-align: left;
  top: 13457px;
  transform: rotate(-45deg);
  white-space: nowrap;
  width: auto;
}

.plex .group-2-yV6dm5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 1178px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 12025px;
  transform: translate(0, 25px);
  transition: all 1.5s ease-in-out;
  width: 160px;
}

.plex .group-2-yV6dm5.animate-enter96 {
  animation: animate-enter96-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter96-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plex .group-2-yV6dm5:hover {
  filter: blur(10px);
}

.plex .next-project-ErsYtf {
  background-color: transparent;
  font-weight: 500;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.plex .path-6-ErsYtf {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 2px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.plex .path-6-ErsYtf:hover {
  filter: blur(10px);
}
