/* screen - sheep */

.sheep {
  background-color: var(--cod-gray);
  height: 32381px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.sheep .full-bleed-lifestyle1-f7gdTe {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 545px;
  transform: translate(0, 25px);
  width: 1240px;
}

.sheep .full-bleed-lifestyle1-f7gdTe.animate-enter271 {
  animation: animate-enter271-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter271-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .full-bleed-lifestyle1-ltBcyv {
  background-color: transparent;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.sheep .full-bleed-lifestyle1-ltBcyv.animate-enter270 {
  animation: animate-enter270-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter270-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .group-f7gdTe {
  background-color: transparent;
  display: block;
  height: 150px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 1306px;
  transform: translate(0, 25px);
  width: 143px;
}

.sheep .group-f7gdTe.animate-enter272 {
  animation: animate-enter272-frames 1.50s ease-in-out 1.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter272-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .uiux-design-eSka7i {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 40px;
  white-space: nowrap;
  width: auto;
}

.sheep .design-direction-eSka7i {
  background-color: transparent;
  color: var(--mercury);
  font-style: normal;
  font-weight: 400;
  height: 30px;
  left: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.sheep .brand-identity-eSka7i {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 80px;
  white-space: nowrap;
  width: auto;
}

.sheep .content-strategy-eSka7i {
  background-color: transparent;
  font-weight: 400;
  height: 30px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 120px;
  white-space: nowrap;
  width: auto;
}

.sheep .vertical-farming-is-f7gdTe {
  background-color: transparent;
  color: var(--mercury);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 390px;
  left: 730px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1329px;
  transform: translate(0, 25px);
  width: 568px;
}

.sheep .vertical-farming-is-f7gdTe.animate-enter273 {
  animation: animate-enter273-frames 1.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter273-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .role-f7gdTe {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 1229px;
  transform: translate(0, 25px);
  width: 86px;
}

.sheep .role-f7gdTe.animate-enter274 {
  animation: animate-enter274-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter274-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .sheep-f7gdTe {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 197px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.sheep .sheep-f7gdTe.animate-enter275 {
  animation: animate-enter275-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter275-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .rectangle-f7gdTe {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.sheep .x2019-f7gdTe {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 416px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 56px;
}

.sheep .x2019-f7gdTe.animate-enter276 {
  animation: animate-enter276-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter276-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .path-5-f7gdTe {
  background-color: transparent;
  display: block;
  height: 2px;
  left: 100px;
  opacity: 1;
  position: absolute;
  top: 406px;
  transform: scaleX(0);
  width: 1237px;
}

.sheep .path-5-f7gdTe.animate-enter277 {
  animation: animate-enter277-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter277-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .anelevatedwebpr-nlifescience-rd-f7gdTe {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 730px;
  opacity: 0;
  position: absolute;
  top: 1228px;
  transform: translate(0, 25px);
  width: 462px;
}

.sheep .anelevatedwebpr-nlifescience-rd-f7gdTe.animate-enter278 {
  animation: animate-enter278-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter278-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .getty-images-946509292-f7gdTe {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 30961px;
  transform: translate(0, 25px);
  width: 1238px;
}

.sheep .getty-images-946509292-f7gdTe.animate-enter280 {
  animation: animate-enter280-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter280-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .getty-images-946509292-DqNexR {
  background-color: transparent;
  display: block;
  height: 570px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1238px;
}

.sheep .getty-images-946509292-DqNexR.animate-enter279 {
  animation: animate-enter279-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter279-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .group-2-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1179px;
  pointer-events: auto;
  position: absolute;
  top: 30805px;
  transition: all 0.5s ease-in-out;
  width: 159px;
}

.sheep .group-2-f7gdTe:hover {
  transform: translate(0, -5px);
}

.sheep .nextproject-idopnx {
  background-color: transparent;
  height: 11px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 157px;
}

.sheep .path-6-idopnx {
  background-color: transparent;
  cursor: pointer;
  height: 2px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 24px;
  transition: all 1.5s ease-in-out;
  width: 159px;
}

.sheep .path-6-idopnx:hover {
  filter: blur(10px);
}

.sheep .thanks-for-scrolling-f7gdTe {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  position: absolute;
  text-align: left;
  top: 30725px;
  white-space: nowrap;
  width: auto;
}

.sheep .thanks-for-scrolling-f7gdTe.animate-enter281 {
  animation: animate-enter281-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
}

@keyframes animate-enter281-frames {
  from{}
to{}
}

.sheep .path-5-zxx4fw {
  background-color: transparent;
  display: block;
  height: 3px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 30908px;
  transform: scaleX(0);
  width: 1238px;
}

.sheep .path-5-zxx4fw.animate-enter282 {
  animation: animate-enter282-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter282-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .group-4-f7gdTe {
  background-color: transparent;
  display: block;
  height: 11467px;
  left: 96px;
  opacity: 0;
  position: absolute;
  top: 19160px;
  transform: translate(0, 25px);
  width: 1248px;
}

.sheep .group-4-f7gdTe.animate-enter283 {
  animation: animate-enter283-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter283-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-03-KbrNzf {
  background-color: transparent;
  height: 4853px;
  left: 0px;
  position: absolute;
  top: 3484px;
  width: 1244px;
}

.sheep .wix-recovered-03-CqAE6G {
  background-color: transparent;
  height: 4853px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1244px;
}

.sheep .wix-recovered-02-KbrNzf {
  background-color: transparent;
  height: 3490px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1248px;
}

.sheep .wix-recovered-02-JVA9Eg {
  background-color: transparent;
  height: 3490px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1248px;
}

.sheep .wix-recovered-08-KbrNzf {
  background-color: transparent;
  height: 2443px;
  left: 1px;
  position: absolute;
  top: 8333px;
  width: 1241px;
}

.sheep .wix-recovered-08-SRi7wT {
  background-color: transparent;
  height: 2443px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1241px;
}

.sheep .wix-recovered-01-KbrNzf {
  background-color: transparent;
  height: 691px;
  left: 0px;
  position: absolute;
  top: 10776px;
  width: 1242px;
}

.sheep .wix-recovered-01-GKPxOu {
  background-color: transparent;
  height: 691px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1242px;
}

.sheep .wix-recovered-04-f7gdTe {
  background-color: transparent;
  display: block;
  height: 2070px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 12949px;
  transform: translate(0, 25px);
  width: 1240px;
}

.sheep .wix-recovered-04-f7gdTe.animate-enter285 {
  animation: animate-enter285-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter285-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-04-8I3Tcn {
  background-color: transparent;
  display: block;
  height: 2070px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.sheep .wix-recovered-04-8I3Tcn.animate-enter284 {
  animation: animate-enter284-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter284-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-04-copy-f7gdTe {
  background-color: transparent;
  display: block;
  height: 3478px;
  left: 111px;
  opacity: 0;
  position: absolute;
  top: 15361px;
  transform: translate(0, 25px);
  width: 1229px;
}

.sheep .wix-recovered-04-copy-f7gdTe.animate-enter287 {
  animation: animate-enter287-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter287-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-04-copy-65x1fX {
  background-color: transparent;
  display: block;
  height: 3478px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1229px;
}

.sheep .wix-recovered-04-copy-65x1fX.animate-enter286 {
  animation: animate-enter286-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter286-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-05-f7gdTe {
  background-color: transparent;
  display: block;
  height: 3211px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 9377px;
  transform: translate(0, 25px);
  width: 1235px;
}

.sheep .wix-recovered-05-f7gdTe.animate-enter288 {
  animation: animate-enter288-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter288-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .informationarch-low-fiwireframe-f7gdTe {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 12789px;
  transform: translate(0, 25px);
  width: 376px;
}

.sheep .informationarch-low-fiwireframe-f7gdTe.animate-enter289 {
  animation: animate-enter289-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter289-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .designassets-gridsystem-f7gdTe {
  background-color: transparent;
  display: block;
  height: 63px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 15221px;
  transform: translate(0, 25px);
  width: 216px;
}

.sheep .designassets-gridsystem-f7gdTe.animate-enter290 {
  animation: animate-enter290-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter290-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .path-5-copy-2-f7gdTe {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 12736px;
  transform: scaleX(0);
  width: 1237px;
}

.sheep .path-5-copy-2-f7gdTe.animate-enter291 {
  animation: animate-enter291-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter291-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .path-5-copy-3-f7gdTe {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 15168px;
  transform: scaleX(0);
  width: 1237px;
}

.sheep .path-5-copy-3-f7gdTe.animate-enter292 {
  animation: animate-enter292-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter292-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .wix-recovered-06-f7gdTe {
  background-color: transparent;
  display: block;
  height: 822px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 1865px;
  transform: translate(0, 25px);
  width: 1241px;
}

.sheep .wix-recovered-06-f7gdTe.animate-enter294 {
  animation: animate-enter294-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter294-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-06-SMM1v5 {
  background-color: transparent;
  display: block;
  height: 822px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1241px;
}

.sheep .wix-recovered-06-SMM1v5.animate-enter293 {
  animation: animate-enter293-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter293-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .astreamlineduserexperience-f7gdTe {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 101px;
  opacity: 0;
  position: absolute;
  top: 4173px;
  transform: translate(0, 25px);
  width: 456px;
}

.sheep .astreamlineduserexperience-f7gdTe.animate-enter295 {
  animation: animate-enter295-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter295-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .humanizinggreentechnology-f7gdTe {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 2888px;
  transform: translate(0, 25px);
  width: 442px;
}

.sheep .humanizinggreentechnology-f7gdTe.animate-enter296 {
  animation: animate-enter296-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter296-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .one-of-the-key-objec-copy-f7gdTe {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 180px;
  left: 101px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4233px;
  transform: translate(0, 25px);
  width: 519px;
}

.sheep .one-of-the-key-objec-copy-f7gdTe.animate-enter297 {
  animation: animate-enter297-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter297-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .when-developing-the-f7gdTe {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-style: normal;
  font-weight: 400;
  height: 210px;
  left: 103px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2954px;
  transform: translate(0, 25px);
  width: 519px;
}

.sheep .when-developing-the-f7gdTe.animate-enter298 {
  animation: animate-enter298-frames 1.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter298-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .path-5-UnfWS7 {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 2836px;
  transform: scaleX(0);
  width: 1236px;
}

.sheep .path-5-UnfWS7.animate-enter299 {
  animation: animate-enter299-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter299-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .path-5-copy-f7gdTe {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 4120px;
  transform: scaleX(0);
  width: 1236px;
}

.sheep .path-5-copy-f7gdTe.animate-enter300 {
  animation: animate-enter300-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter300-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .group-3-f7gdTe {
  background-color: transparent;
  display: block;
  height: 4628px;
  left: 97px;
  opacity: 0;
  position: absolute;
  top: 4423px;
  transform: translate(0, 25px);
  width: 1239px;
}

.sheep .group-3-f7gdTe.animate-enter301 {
  animation: animate-enter301-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter301-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .wix-recovered-06-copy-1YGZzG {
  background-color: transparent;
  height: 1729px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.sheep .wix-recovered-06-copy-qRTXI1 {
  background-color: transparent;
  height: 1729px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1238px;
}

.sheep .wix-recovered-07-copy-2-1YGZzG {
  background-color: transparent;
  height: 953px;
  left: 4px;
  position: absolute;
  top: 3675px;
  width: 1235px;
}

.sheep .wix-recovered-07-copy-2-9V1CTM {
  background-color: transparent;
  height: 953px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1235px;
}

.sheep .wix-recovered-07-copy-4-1YGZzG {
  background-color: transparent;
  height: 853px;
  left: 4px;
  position: absolute;
  top: 1569px;
  width: 1235px;
}

.sheep .wix-recovered-07-copy-4-KLTbdS {
  background-color: transparent;
  height: 853px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1235px;
}

.sheep .wix-recovered-07-copy-3-1YGZzG {
  background-color: transparent;
  height: 1572px;
  left: 4px;
  position: absolute;
  top: 2296px;
  width: 1235px;
}

.sheep .wix-recovered-07-copy-3-8GCzVZ {
  background-color: transparent;
  height: 1572px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1235px;
}

.sheep .designiterations-f7gdTe {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 9253px;
  transform: translate(0, 25px);
  width: 259px;
}

.sheep .designiterations-f7gdTe.animate-enter302 {
  animation: animate-enter302-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter302-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .path-5-copy-2-zxx4fw {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 9200px;
  transform: scaleX(0);
  width: 1237px;
}

.sheep .path-5-copy-2-zxx4fw.animate-enter303 {
  animation: animate-enter303-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter303-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .user-centereddesignresearch-f7gdTe {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 105px;
  opacity: 0;
  position: absolute;
  top: 19041px;
  transform: translate(0, 25px);
  width: 476px;
}

.sheep .user-centereddesignresearch-f7gdTe.animate-enter304 {
  animation: animate-enter304-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter304-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .path-5-copy-2-UnfWS7 {
  background-color: transparent;
  display: block;
  height: 4px;
  left: 102px;
  opacity: 1;
  position: absolute;
  top: 18988px;
  transform: scaleX(0);
  width: 1237px;
}

.sheep .path-5-copy-2-UnfWS7.animate-enter305 {
  animation: animate-enter305-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 1;
  transform: scaleX(0);
}

@keyframes animate-enter305-frames {
  from{opacity: 1;
transform: scaleX(0);
}
to{opacity: 1;
transform: scaleX(1);
}
}

.sheep .path-5-7mCZRr {
  background-color: transparent;
  height: 3px;
  left: -1242px;
  position: absolute;
  top: 16892px;
  width: 1243px;
}

.sheep .path-5-copy-6-f7gdTe {
  background-color: transparent;
  height: 3px;
  left: -1242px;
  position: absolute;
  top: 16130px;
  width: 1243px;
}

.sheep .path-5-copy-7-f7gdTe {
  background-color: transparent;
  height: 3px;
  left: -1242px;
  position: absolute;
  top: 15682px;
  width: 1243px;
}

.sheep .path-5-copy-8-f7gdTe {
  background-color: transparent;
  height: 3px;
  left: -1242px;
  position: absolute;
  top: 15288px;
  width: 1243px;
}

.sheep .path-5-copy-9-f7gdTe {
  background-color: transparent;
  height: 3px;
  left: -1242px;
  position: absolute;
  top: 14688px;
  width: 1243px;
}

.sheep .app-design-f7gdTe {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 80px;
  left: 1090px;
  letter-spacing: 0.00px;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 414px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 248px;
}

.sheep .app-design-f7gdTe.animate-enter306 {
  animation: animate-enter306-frames 2.00s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter306-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .rectangle-zxx4fw {
  background-color: #d7d7d7;
  border: 1px solid #969696;
  height: 100px;
  left: 166px;
  position: absolute;
  top: 13876px;
  width: 341px;
}

.sheep .about-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.sheep .about-f7gdTe:hover {
  transform: translate(0, -5px);
}

.sheep .work-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.sheep .work-f7gdTe:hover {
  transform: translate(0, -5px);
}

.sheep .ashcui-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.sheep .group-2-zxx4fw {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 487px;
  opacity: 0;
  position: absolute;
  top: 31815px;
  width: 290px;
}

.sheep .group-2-zxx4fw.animate-enter307 {
  animation: animate-enter307-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter307-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.sheep .sayhi-fttqRL {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.sheep .copyright-2021-ash-f7gdTe {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 652px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 32280px;
  white-space: nowrap;
  width: auto;
}

.sheep .x-f7gdTe {
  background-color: transparent;
  display: block;
  height: 24px;
  left: 877px;
  position: absolute;
  top: 30772px;
  transform: rotate(0deg);
  width: 24px;
}

.sheep .x-f7gdTe.animate-enter308 {
  animation: animate-enter308-frames 5.00s linear 0.00s 1 normal forwards;
  display: block;
  transform: rotate(0deg);
}

@keyframes animate-enter308-frames {
  from{transform: rotate(0deg);
}
to{transform: rotate(359deg);
}
}

.sheep .image-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1309px;
  opacity: 0;
  position: absolute;
  top: 32253px;
  transform: translate(0, 25px);
  width: 33px;
}

.sheep .image-f7gdTe.animate-enter309 {
  animation: animate-enter309-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter309-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.sheep .rectangle-UnfWS7 {
  background-color: transparent;
  height: 746px;
  left: 97px;
  overflow: hidden;
  position: absolute;
  top: 3226px;
  width: 1241px;
}

.sheep .hi-f7gdTe {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 813px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 31795px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.sheep .hi-f7gdTe.animate-enter310 {
  animation: animate-enter310-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter310-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.sheep .hi-f7gdTe:hover {
  transform: translate(0, -20px);
}
