:root { 
  --cod-gray: #090909;
  --dove-gray: #707070;
  --mercury: #e7e7e7;
  --onyx: #393939;
  --onyx-2: #383838;
  --storm-dust: #646464;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 12px;
  --font-size-xl: 55px;
  --font-size-xxl: 80px;
  --font-size-xxxl: 100px;
  --font-size-xxxxl: 120px;
 
  --font-family-applecoloremoji: "AppleColorEmoji", Helvetica;
  --font-family-archivoexpanded-bold: "ArchivoExpanded-Bold", Helvetica;
  --font-family-archivoexpanded-regular: "ArchivoExpanded-Regular", Helvetica;
  --font-family-manrope: "Manrope", Helvetica;
  --font-family-pingfangsc-light: "PingFangSC-Light", Helvetica;
  --font-family-pingfangsc-regular: "PingFangSC-Regular", Helvetica;
  --font-family-pingfangsc-semibold: "PingFangSC-Semibold", Helvetica;
}
.h3 {
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.manrope-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.manrope-normal-mercury-18px {
  color: var(--mercury);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.manrope-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.manrope-bold-white-120px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.manrope-semi-bold-dove-gray-12px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.manrope-bold-white-55px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.manrope-bold-white-80px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.pingfangsc-regular-normal-mercury-18px {
  color: var(--mercury);
  font-family: var(--font-family-pingfangsc-regular);
  font-size: var(--font-size-m);
}

.manrope-bold-onyx-55px {
  color: var(--onyx);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.manrope-extra-bold-onyx-55px {
  color: var(--onyx);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-white-100px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-white-55px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-white-120px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-onyx-120px {
  color: var(--onyx-2);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-onyx-100px {
  color: var(--onyx);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-storm-dust-100px {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.manrope-bold-onyx-120px {
  color: var(--onyx);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

manrope-extra-bold-white-Esther {
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}
