:root { 
  --black: #000000;
  --coconut: #fefffe;
  --mercury: #e7e7e7;
  --storm-dust: #646464;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 25px;
  --font-size-xxxl: 55px;
  --font-size-xxxxl: 120px;
 
  --font-family-applecoloremoji: "AppleColorEmoji", Helvetica;
  --font-family-archivoexpanded-bold: "ArchivoExpanded-Bold", Helvetica;
  --font-family-archivoexpanded-extrabold: "ArchivoExpanded-ExtraBold", Helvetica;
  --font-family-archivoexpanded-medium: "ArchivoExpanded-Medium", Helvetica;
  --font-family-archivoexpanded-regular: "ArchivoExpanded-Regular", Helvetica;
  --font-family-archivoexpanded-semibold: "ArchivoExpanded-SemiBold", Helvetica;
  --font-family-manrope: "Manrope", Helvetica;
  --font-family-pingfangsc-light: "PingFangSC-Light", Helvetica;
  --font-family-pingfangsc-regular: "PingFangSC-Regular", Helvetica;
  --font-family-pingfangsc-semibold: "PingFangSC-Semibold", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.h3 {
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.h2 {
  font-family: var(--font-family-archivoexpanded-extrabold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
}

.archivoexpanded-regular-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-56px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
}

.manrope-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.manrope-bold-storm-dust-55px {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.manrope-normal-mercury-18px {
  color: var(--mercury);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.manrope-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.manrope-bold-white-120px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.manrope-bold-white-55px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.archivoexpanded-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.applecoloremoji-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-applecoloremoji);
  font-size: 40px;
}

.applecoloremoji-normal-coconut-45px {
  color: var(--coconut);
  font-family: var(--font-family-applecoloremoji);
  font-size: 45px;
}

.archivoexpanded-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.pingfangsc-regular-normal-mercury-18px {
  color: var(--mercury);
  font-family: var(--font-family-pingfangsc-regular);
  font-size: var(--font-size-m);
}

.archivoexpanded-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-archivoexpanded-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.manrope-bold-white-80px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
}

.manrope-extra-bold-white-100px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-white-120px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-extra-bold-storm-dust-120px {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.manrope-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.manrope-bold-storm-dust-120px {
  color: var(--storm-dust);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}
