/* screen - work */

.work {
  background-color: var(--cod-gray);
  height: 8005px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.work .uiux-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 202px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .uiux-vLgc0E.animate-enter29 {
  animation: animate-enter29-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter29-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 465px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-vLgc0E.animate-enter31 {
  animation: animate-enter31-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-ypQ9k3 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-ypQ9k3.animate-enter30 {
  animation: animate-enter30-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter30-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .thumbnail-copy-4-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 1168px;
  transform: translate(0, 25px);
  width: 1236px;
}

.work .thumbnail-copy-4-vLgc0E.animate-enter33 {
  animation: animate-enter33-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter33-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .thumbnail-copy-4-flU6CU {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1236px;
}

.work .thumbnail-copy-4-flU6CU.animate-enter32 {
  animation: animate-enter32-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-2-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 98px;
  opacity: 0;
  position: absolute;
  top: 2570px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-2-vLgc0E.animate-enter35 {
  animation: animate-enter35-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter35-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-2-0yuhxT {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-2-0yuhxT.animate-enter34 {
  animation: animate-enter34-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter34-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-3-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 99px;
  opacity: 0;
  position: absolute;
  top: 3271px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-3-vLgc0E.animate-enter37 {
  animation: animate-enter37-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter37-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-3-WNueUK {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-3-WNueUK.animate-enter36 {
  animation: animate-enter36-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter36-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-4-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 97px;
  opacity: 0;
  position: absolute;
  top: 3969px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-4-vLgc0E.animate-enter39 {
  animation: animate-enter39-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter39-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-4-BfIJGd {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-4-BfIJGd.animate-enter38 {
  animation: animate-enter38-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter38-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .sheep-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 4552px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .sheep-copy-vLgc0E.animate-enter40 {
  animation: animate-enter40-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter40-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-vLgc0E {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 4560px;
  width: 23px;
}

.work .plex-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1288px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 3855px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .plex-copy-vLgc0E.animate-enter41 {
  animation: animate-enter41-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter41-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-03nOWn {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 3862px;
  width: 23px;
}

.work .google-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1255px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 3154px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .google-copy-vLgc0E.animate-enter42 {
  animation: animate-enter42-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter42-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .dlight-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1263px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 2453px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .dlight-copy-vLgc0E.animate-enter43 {
  animation: animate-enter43-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter43-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-Ehflww {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 3161px;
  width: 23px;
}

.work .x-OITZyQ {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 2460px;
  width: 23px;
}

.work .ava-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1290px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 1753px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .ava-copy-vLgc0E.animate-enter44 {
  animation: animate-enter44-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter44-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-PcD1dS {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 1759px;
  width: 23px;
}

.work .benchling-copy-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1224px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1046px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .benchling-copy-vLgc0E.animate-enter45 {
  animation: animate-enter45-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter45-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-euu7qe {
  background-color: transparent;
  height: 23px;
  left: 100px;
  position: absolute;
  top: 1056px;
  width: 23px;
}

.work .full-bleed-lifestyle1-copy-5-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 97px;
  opacity: 0;
  position: absolute;
  top: 1869px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-5-vLgc0E.animate-enter47 {
  animation: animate-enter47-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter47-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-copy-5-SHv2XF {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-copy-5-SHv2XF.animate-enter46 {
  animation: animate-enter46-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter46-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .paul-rand-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1221px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 5703px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .paul-rand-vLgc0E.animate-enter48 {
  animation: animate-enter48-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter48-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .in-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1316px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 6403px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .in-vLgc0E.animate-enter49 {
  animation: animate-enter49-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter49-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .conversation-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 600;
  height: 50px;
  left: 1184px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: right;
  top: 7101px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .conversation-vLgc0E.animate-enter50 {
  animation: animate-enter50-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter50-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .x-XiEyoT {
  background-color: transparent;
  height: 23px;
  left: 103px;
  position: absolute;
  top: 5711px;
  width: 23px;
}

.work .x-A7xzkH {
  background-color: transparent;
  height: 23px;
  left: 103px;
  position: absolute;
  top: 6411px;
  width: 23px;
}

.work .x-0DesJA {
  background-color: transparent;
  height: 23px;
  left: 103px;
  position: absolute;
  top: 7109px;
  width: 23px;
}

.work .branding-vLgc0E {
  background-color: transparent;
  display: block;
  font-weight: 700;
  height: 160px;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 160px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 4831px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: auto;
}

.work .branding-vLgc0E.animate-enter51 {
  animation: animate-enter51-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter51-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 5119px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-vLgc0E.animate-enter53 {
  animation: animate-enter53-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter53-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-PkzIGd {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-PkzIGd.animate-enter52 {
  animation: animate-enter52-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter52-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-03nOWn {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 102px;
  opacity: 0;
  position: absolute;
  top: 6517px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-03nOWn.animate-enter55 {
  animation: animate-enter55-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter55-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-YRr0VO {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-YRr0VO.animate-enter54 {
  animation: animate-enter54-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter54-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .about-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1267px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 71px;
}

.work .about-vLgc0E:hover {
  transform: translate(0, -5px);
}

.work .work-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  height: 11px;
  left: 1128px;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.5s ease-in-out;
  width: 62px;
}

.work .work-vLgc0E:hover {
  transform: translate(0, -5px);
}

.work .ashcui-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 102px;
  position: absolute;
  top: 77px;
  width: 124px;
}

.work .sayhi-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 162px;
  left: 480px;
  opacity: 0;
  position: absolute;
  top: 7439px;
  width: 290px;
}

.work .sayhi-vLgc0E.animate-enter56 {
  animation: animate-enter56-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter56-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.work .copyright-2021-ash-vLgc0E {
  background-color: transparent;
  font-weight: 600;
  height: 50px;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: right;
  top: 7904px;
  white-space: nowrap;
  width: auto;
}

.work .rectangle-vLgc0E {
  background-color: var(--cod-gray);
  height: 11px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 311px;
}

.work .full-bleed-lifestyle1-Ehflww {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 100px;
  opacity: 0;
  position: absolute;
  top: 5827px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-Ehflww.animate-enter58 {
  animation: animate-enter58-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter58-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .full-bleed-lifestyle1-x5DbGU {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 550px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transform: translate(0, 25px);
  width: 1240px;
}

.work .full-bleed-lifestyle1-x5DbGU.animate-enter57 {
  animation: animate-enter57-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter57-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .image-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 69px;
  left: 1307px;
  opacity: 0;
  position: absolute;
  top: 7877px;
  transform: translate(0, 25px);
  width: 33px;
}

.work .image-vLgc0E.animate-enter59 {
  animation: animate-enter59-frames 1.50s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter59-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .hi-vLgc0E {
  background-color: transparent;
  cursor: pointer;
  display: block;
  filter: blur(10px);
  height: 177px;
  left: 812px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 7422px;
  transition: all 0.5s ease-in-out;
  width: 134px;
}

.work .hi-vLgc0E.animate-enter60 {
  animation: animate-enter60-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter60-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.work .hi-vLgc0E:hover {
  transform: translate(0, -20px);
}
