/* screen - work */

.work {
  align-items: center;
  background-color: var(--eerie-black);
  display: flex;
  flex-direction: column;
  height: 10184px;
  padding: 73px 95px;
  width: 1440px;
}

.work .image-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 7px;
  min-width: 1217px;
}

.work .image-46:hover {
  transform: translate(0, -10px);
}

.work .image-47:hover {
  transform: translate(0, -10px);
}

.work .image-48:hover {
  transform: translate(0, -10px);
}

.work .title {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 140px;
  margin-left: 1px;
  margin-top: 100px;
  opacity: 0;
  white-space: nowrap;
}

.work .title.animate-enter33 {
  animation: animate-enter33-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter33-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321973 {
  cursor: pointer;
  height: 644px;
  margin-top: 63px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321973.animate-enter41 {
  animation: animate-enter41-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter41-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321973:hover {
  transform: scale(1.02);
}

.work .frame-427322289 {
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

.work .frame-427322289.animate-enter40 {
  animation: animate-enter40-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter40-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.work .group-427321974 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321974.animate-enter42 {
  animation: animate-enter42-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter42-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321974:hover {
  transform: scale(1.02);
}

.work .brand {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1126px;
}

.work .group-427321975 {
  cursor: pointer;
  height: 647px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321975.animate-enter34 {
  animation: animate-enter34-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter34-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321975:hover {
  transform: scale(1.02);
}

.work .toast-consumer-bra {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 572px;
  width: 1017px;
}

.work .group-427321976 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1239px;
}

.work .group-427321976.animate-enter35 {
  animation: animate-enter35-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter35-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321976:hover {
  transform: scale(1.02);
}

.work .group-427321977 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1239px;
}

.work .group-427321977.animate-enter36 {
  animation: animate-enter36-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter36-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321977:hover {
  transform: scale(1.02);
}

.work .group-427321978 {
  cursor: pointer;
  height: 647px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321978.animate-enter37 {
  animation: animate-enter37-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter37-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321978:hover {
  transform: scale(1.02);
}

.work .baunfire-benchling {
  top: 572px;
}

.work .group-427321979 {
  cursor: pointer;
  height: 646px;
  margin-left: 3.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1243px;
}

.work .group-427321979.animate-enter47 {
  animation: animate-enter47-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter47-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321979:hover {
  transform: scale(1.02);
}

.work .baunfire-dlight {
  top: 571px;
}

.work .image-5 {
  height: 550px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1240px;
}

.work .group-427321980 {
  align-self: flex-end;
  cursor: pointer;
  height: 645px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1245px;
}

.work .group-427321980.animate-enter48 {
  animation: animate-enter48-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter48-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321980:hover {
  transform: scale(1.02);
}

.work .baunfire-plex {
  top: 570px;
}

.work .group-427321981 {
  cursor: pointer;
  height: 645px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1242px;
}

.work .group-427321981.animate-enter49 {
  animation: animate-enter49-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter49-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321981:hover {
  transform: scale(1.02);
}

.work .image-54 {
  height: 550px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1240px;
}

.work .visual {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 140px;
  margin-left: 1px;
  margin-top: 90px;
  opacity: 0;
  white-space: nowrap;
}

.work .visual.animate-enter43 {
  animation: animate-enter43-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter43-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321982 {
  cursor: pointer;
  height: 644px;
  margin-top: 63px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321982.animate-enter45 {
  animation: animate-enter45-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter45-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321982:hover {
  transform: scale(1.02);
}

.work .exhibition-in-the-memory-of-paul-rand {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 573px;
  width: 1017px;
}

.work .group-427321983 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321983.animate-enter46 {
  animation: animate-enter46-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter46-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321983:hover {
  transform: scale(1.02);
}

.work .group-427321984 {
  cursor: pointer;
  height: 647px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 1238px;
}

.work .group-427321984.animate-enter44 {
  animation: animate-enter44-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter44-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321984:hover {
  transform: scale(1.02);
}

.work .exhibition-a-great-conversation {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 572px;
  width: 1017px;
}

.work .image-container-1 {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  margin-right: 44.0px;
  margin-top: 269px;
  min-width: 662px;
}

.work .image-44.animate-enter38 {
  animation: animate-enter38-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter38-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .image-45.animate-enter39 {
  animation: animate-enter39-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter39-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .image-45:hover {
  transform: translate(0, -30px);
}

.work .baunfire {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 1017px;
}

.work .frame {
  height: 550px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1237px;
}

.work .personal {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1017px;
}
