/* screen - consumer-brand-style-guide */

.consumer-brand-style-guide {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 10588px;
  overflow: hidden;
  padding: 118px 0;
  width: 1440px;
}

.consumer-brand-style-guide .overlap-group {
  align-self: flex-end;
  height: 346px;
  margin-right: -20px;
  margin-top: 40px;
  position: relative;
  width: 1346px;
}

.consumer-brand-style-guide .number {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 390px;
}

.consumer-brand-style-guide .product-design {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 956px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 390px;
}

.consumer-brand-style-guide .toast-consumer-bra {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1017px;
}

.consumer-brand-style-guide .line-1173 {
  left: 0;
  position: absolute;
  top: 267px;
  width: 1238px;
}

.consumer-brand-style-guide .consumer-brand-style-guide-1 {
  height: 690px;
  margin-left: 35.0px;
  margin-top: 96px;
  width: 1237px;
}

.consumer-brand-style-guide .consumer-brand-style-guide-2 {
  align-self: flex-start;
  height: 698px;
  margin-left: 19px;
  margin-top: 46px;
  width: 1363px;
}

.consumer-brand-style-guide .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 259px;
  height: 29px;
  margin-left: 119px;
  margin-top: 144px;
  min-width: 898px;
}

.consumer-brand-style-guide .at-a-glance {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  white-space: nowrap;
  width: 249px;
}

.consumer-brand-style-guide .x202310-now {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 390px;
}

.consumer-brand-style-guide .flex-container-127 {
  height: 172px;
  margin-left: 398.0px;
  margin-top: 28px;
  width: 576px;
}

.consumer-brand-style-guide .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
}

.consumer-brand-style-guide .flex-row-1 {
  gap: 235px;
  height: 58px;
  margin-right: 47.0px;
  min-width: 1155px;
}

.consumer-brand-style-guide .vision {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  white-space: nowrap;
  width: 277px;
}

.consumer-brand-style-guide .consumer-brand-style {
  letter-spacing: 0;
  line-height: normal;
  min-height: 58px;
  width: 643px;
}

.consumer-brand-style-guide .create-a-seamless-co {
  letter-spacing: 0;
  line-height: 19.2px;
  margin-left: 400.0px;
  margin-top: 32px;
  min-height: 57px;
  width: 578px;
}

.consumer-brand-style-guide .flex-row-2 {
  align-self: flex-end;
  gap: 231px;
  height: 90px;
  margin-right: -48px;
  min-width: 1369px;
}

.consumer-brand-style-guide .role-contribution {
  letter-spacing: 0;
  line-height: normal;
  min-height: 90px;
  width: 277px;
}

.consumer-brand-style-guide .lead-product-design-design-system {
  letter-spacing: 0;
  line-height: normal;
  min-height: 58px;
  width: 861px;
}

.consumer-brand-style-guide .flex-container-129 {
  height: 290px;
  margin-left: 411.0px;
  margin-top: 9px;
  width: 587px;
}

.consumer-brand-style-guide .group-427321947 {
  height: 1994px;
  margin-right: 1.0px;
  margin-top: 109px;
  width: 1237px;
}

.consumer-brand-style-guide .group-427321944 {
  height: 696px;
  margin-right: 1.0px;
  margin-top: 91px;
  width: 1237px;
}

.consumer-brand-style-guide .group-427321945 {
  height: 699px;
  margin-left: 4.0px;
  margin-top: 63px;
  width: 1242px;
}

.consumer-brand-style-guide .group-427321946 {
  height: 697px;
  margin-right: 1.0px;
  margin-top: 59px;
  width: 1237px;
}

.consumer-brand-style-guide .group-427321942 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-left: 2.0px;
  margin-top: 101px;
  min-height: 102px;
  width: 1240px;
}

.consumer-brand-style-guide .line-117 {
  margin-top: -1px;
  width: 1238px;
}

.consumer-brand-style-guide .takeout-app-redesign {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 39px;
  width: 861px;
}

.consumer-brand-style-guide .consumer-brand-style-guide-3 {
  height: 549px;
  margin-top: 61px;
  width: 1440px;
}

.consumer-brand-style-guide .group-427321943 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-left: 2.0px;
  margin-top: 105px;
  min-height: 102px;
  width: 1240px;
}

.consumer-brand-style-guide .impact {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 39px;
  width: 861px;
}

.consumer-brand-style-guide .screen-shot-2024-02-19-at-415-1 {
  height: 698px;
  margin-left: 1.0px;
  margin-top: 60px;
  object-fit: cover;
  width: 1237px;
}

.consumer-brand-style-guide .overlap-group1 {
  height: 967px;
  margin-top: 208px;
  position: relative;
  width: 1238px;
}

.consumer-brand-style-guide .frame-57112 {
  height: 712px;
  left: 0;
  position: absolute;
  top: 255px;
  width: 1238px;
}

.consumer-brand-style-guide .thanks-for-scrolling {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1017px;
}

.consumer-brand-style-guide .line-1184 {
  left: 0;
  position: absolute;
  top: 142px;
  width: 1198px;
}

.consumer-brand-style-guide .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.consumer-brand-style-guide .flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-top: 83px;
}

.consumer-brand-style-guide .line {
  height: 1px;
  object-fit: cover;
}
