:root { 
  --black: #000000;
  --neutral-70: #6c6865;
 
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-xl: 32px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 64px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.sourcesanspro-normal-granite-gray-16px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
