/* screen - online-ordering-pro */

.online-ordering-pro {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 13676px;
  overflow: hidden;
  width: 1440px;
}

.online-ordering-pro .frame-427322292 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 820px;
  height: 118px;
  padding: 0 112px;
  width: 1440px;
}

.online-ordering-pro .ash-cui_-black {
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 152px;
}

.online-ordering-pro .ash-cui_-black:hover {
  transform: scale(1.5);
}

.online-ordering-pro .group-427322033 {
  align-items: flex-start;
  display: flex;
  gap: 64px;
  min-width: 244px;
}

.online-ordering-pro .work_-black {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 84px;
}

.online-ordering-pro .work_-black:hover {
  transform: scale(1.5);
}

.online-ordering-pro .about_-black {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 96px;
}

.online-ordering-pro .about_-black:hover {
  transform: scale(1.5);
}

.online-ordering-pro .overlap-group17 {
  height: 479px;
  margin-right: 55.0px;
  margin-top: 58px;
  position: relative;
  width: 1189px;
}

.online-ordering-pro .toast-branded-onli {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 800;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1186px;
}

.online-ordering-pro .toast-branded-onli.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .group-427322091 {
  height: 207px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 272px;
  width: 860px;
}

.online-ordering-pro .group-427322091.animate-enter22 {
  animation: animate-enter22-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .online-ordering-is-a {
  left: 0;
  letter-spacing: 0;
  line-height: 24.0px;
  position: absolute;
  top: 0;
  width: 856px;
}

.online-ordering-pro .flex-container-3102 {
  height: 72px;
  left: 3px;
  top: 135px;
  width: 845px;
}

.online-ordering-pro .text0-3102 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.online-ordering-pro .text1-3102 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -24.00px;
  position: relative;
}

.online-ordering-pro .span2 {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 400;
}

.online-ordering-pro .line-1173 {
  margin-top: 128px;
  width: 1238px;
}

.online-ordering-pro .line-1173.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322092 {
  align-self: flex-end;
  height: 623px;
  margin-right: -28px;
  margin-top: 35px;
  opacity: 0;
  position: relative;
  width: 1366px;
}

.online-ordering-pro .group-427322092.animate-enter7 {
  animation: animate-enter7-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .number {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 390px;
}

.online-ordering-pro .product-design {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 972px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 390px;
}

.online-ordering-pro .frame-427322287 {
  height: 550px;
  left: 0;
  position: absolute;
  top: 73px;
  width: 1237px;
}

.online-ordering-pro .group-427322093 {
  align-self: flex-end;
  height: 278px;
  margin-right: -40px;
  margin-top: 76px;
  opacity: 0;
  position: relative;
  width: 1380px;
}

.online-ordering-pro .group-427322093.animate-enter24 {
  animation: animate-enter24-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .lead-product-design {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 124px;
  width: 861px;
}

.online-ordering-pro .l-led-the-design-tea {
  left: 507px;
  letter-spacing: 0;
  line-height: 24.0px;
  position: absolute;
  top: 166px;
  width: 728px;
}

.online-ordering-pro .after-launching-onli {
  left: 507px;
  letter-spacing: 0;
  line-height: 24.0px;
  position: absolute;
  top: 0;
  width: 728px;
}

.online-ordering-pro .role-contribution {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 124px;
  width: 277px;
}

.online-ordering-pro .at-a-glance {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 249px;
}

.online-ordering-pro .group-427322094 {
  height: 542px;
  margin-left: 10.02px;
  margin-top: 67px;
  opacity: 0;
  width: 1358px;
}

.online-ordering-pro .group-427322094.animate-enter23 {
  animation: animate-enter23-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group5 {
  height: 542px;
  position: relative;
  width: 1356px;
}

.online-ordering-pro .group-427321988 {
  height: 539px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 1356px;
}

.online-ordering-pro .roadmap {
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 277px;
}

.online-ordering-pro .overlap-group15 {
  height: 1091px;
  margin-right: 126.0px;
  margin-top: 27px;
  position: relative;
  width: 1112px;
}

.online-ordering-pro .image-88 {
  display: block;
  height: 592px;
  left: 126px;
  opacity: 0;
  top: 475px;
  width: 986px;
}

.online-ordering-pro .image-88.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .ellipse-105 {
  background-color: var(--gold);
  border-radius: 8px;
  height: 16px;
  left: 308px;
  position: absolute;
  top: 774px;
  width: 16px;
}

.online-ordering-pro .ellipse-106 {
  background-color: var(--gold);
  border-radius: 8px;
  height: 16px;
  left: 528px;
  position: absolute;
  top: 720px;
  width: 16px;
}

.online-ordering-pro .ellipse-109 {
  background-color: var(--gold);
  border-radius: 13.5px;
  height: 27px;
  left: 467px;
  position: absolute;
  top: 1064px;
  width: 27px;
}

.online-ordering-pro .ellipse-107 {
  background-color: var(--gold);
  border-radius: 8px;
  height: 16px;
  left: 748px;
  position: absolute;
  top: 538px;
  width: 16px;
}

.online-ordering-pro .ellipse-108 {
  background-color: var(--gold);
  border-radius: 8px;
  height: 16px;
  left: 975px;
  position: absolute;
  top: 825px;
  width: 16px;
}

.online-ordering-pro .cost-per-acquisition {
  color: #303030;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 506px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1062px;
  width: 264px;
}

.online-ordering-pro .vector-47 {
  height: 298px;
  left: 315px;
  position: absolute;
  top: 543px;
  width: 674px;
}

.online-ordering-pro .rectangle-25153 {
  background-color: #cee741;
  border-radius: 50px;
  height: 196px;
  left: 588px;
  position: absolute;
  top: 692px;
  width: 127px;
}

.online-ordering-pro .vector-48 {
  height: 35px;
  left: 652px;
  position: absolute;
  top: 885px;
  width: 3px;
}

.online-ordering-pro .ellipse-110 {
  background-color: #cee741;
  border-radius: 6.5px;
  height: 13px;
  left: 647px;
  position: absolute;
  top: 914px;
  width: 13px;
}

.online-ordering-pro .milestone-launching-white-label-app {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 561px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 730px;
  width: 185px;
}

.online-ordering-pro .group-427322095 {
  height: 531px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 968px;
}

.online-ordering-pro .group-427322095.animate-enter26 {
  animation: animate-enter26-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter26-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group12 {
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 368px;
}

.online-ordering-pro .impact {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 368px;
}

.online-ordering-pro .subscription-metrics {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 85px;
  width: 270px;
}

.online-ordering-pro .overlap-group13 {
  height: 391px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 962px;
}

.online-ordering-pro .flex-container-3107 {
  height: 309px;
  left: 0;
  top: 0;
  width: 951px;
}

.online-ordering-pro .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24.0px;
  position: relative;
}

.online-ordering-pro .span-1 {
  line-height: 43.2px;
}

.online-ordering-pro .rectangle-25154 {
  background-color: var(--white);
  height: 91px;
  left: 276px;
  position: absolute;
  top: 300px;
  width: 686px;
}

.online-ordering-pro .image-89 {
  height: 26px;
  left: 637px;
  top: 698px;
  width: 27px;
}

.online-ordering-pro .group-427322096 {
  height: 548px;
  margin-right: 32.0px;
  margin-top: 101px;
  opacity: 0;
  position: relative;
  width: 1204px;
}

.online-ordering-pro .group-427322096.animate-enter25 {
  animation: animate-enter25-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .product-led-growth-metrics {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 510px;
}

.online-ordering-pro .overlap-group11 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -41px 50.78px 168px #ff33640d;
  display: flex;
  height: 199px;
  left: 829px;
  min-width: 335px;
  padding: 89.7px 31.9px;
  position: absolute;
  top: 99px;
}

.online-ordering-pro .metric {
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 217px;
}

.online-ordering-pro .overlap-group10 {
  border-radius: 39.85px;
  height: 199px;
  left: 72px;
  position: absolute;
  top: 99px;
  width: 335px;
}

.online-ordering-pro .metric-1 {
  left: 34px;
  position: absolute;
  top: 98px;
  width: 217px;
}

.online-ordering-pro .bounds {
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -41px 50.78px 168px #ff33640d;
  height: 199px;
  left: 0;
  position: absolute;
  top: 0;
  width: 335px;
}

.online-ordering-pro .primary-title {
  height: 34px;
  left: 106px;
  letter-spacing: -0.31px;
  line-height: normal;
  position: absolute;
  top: 127px;
}

.online-ordering-pro .primary-title-1 {
  height: 34px;
  left: 863px;
  top: 127px;
}

.online-ordering-pro .overlap-group6 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -41px 50.78px 200px #ff336426;
  display: flex;
  height: 199px;
  left: 449px;
  min-width: 337px;
  padding: 89.7px 33.9px;
  position: absolute;
  top: 99px;
}

.online-ordering-pro .metric-2 {
  width: 215px;
}

.online-ordering-pro .primary-title-2 {
  height: 34px;
  left: 482px;
  top: 127px;
}

.online-ordering-pro .overlap-group7 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -20px 50.78px 150px #346dff0d;
  display: flex;
  height: 199px;
  left: 72px;
  min-width: 335px;
  padding: 89.7px 31.9px;
  position: absolute;
  top: 349px;
}

.online-ordering-pro .overlap-group9 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -41px 50.78px 168px #ff33640d;
  display: flex;
  height: 199px;
  left: 449px;
  min-width: 337px;
  padding: 89.7px 33.9px;
  position: absolute;
  top: 349px;
}

.online-ordering-pro .overlap-group8 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1.99px solid;
  border-color: var(--stroke-color);
  border-radius: 39.85px;
  box-shadow: -20px 50.78px 150px #346dff0d;
  display: flex;
  height: 199px;
  left: 829px;
  min-width: 335px;
  padding: 89.7px 31.9px;
  position: absolute;
  top: 349px;
}

.online-ordering-pro .primary-title-3 {
  height: 34px;
  left: 106px;
  top: 377px;
}

.online-ordering-pro .primary-title-4 {
  height: 34px;
  left: 482px;
  top: 377px;
}

.online-ordering-pro .primary-title-5 {
  height: 34px;
  left: 863px;
  top: 377px;
}

.online-ordering-pro .primary-title-6 {
  color: var(--base-shade--70);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 500;
  height: 24px;
  left: 863px;
  top: 242px;
  white-space: nowrap;
}

.online-ordering-pro .primary-title-7 {
  color: var(--base-shade--70);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 500;
  height: 24px;
  left: 488px;
  top: 242px;
  white-space: nowrap;
}

.online-ordering-pro .line-1179 {
  margin-right: 2.0px;
  margin-top: 100px;
  width: 1238px;
}

.online-ordering-pro .line-1179.animate-enter9 {
  animation: animate-enter9-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322097 {
  height: 227px;
  margin-right: 180.0px;
  margin-top: 49px;
  opacity: 0;
  position: relative;
  width: 1060px;
}

.online-ordering-pro .group-427322097.animate-enter20 {
  animation: animate-enter20-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter20-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .branded-online-order {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1056px;
}

.online-ordering-pro .flex-container-395 {
  height: 164px;
  left: 0;
  top: 63px;
  width: 630px;
}

.online-ordering-pro .group-427321968 {
  background-image: url(../img/image-8.png);
  background-size: 100% 100%;
  height: 918px;
  margin-left: 1.0px;
  margin-top: 51px;
  opacity: 0;
  width: 1237px;
}

.online-ordering-pro .group-427321968.animate-enter6 {
  animation: animate-enter6-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group1 {
  height: 581px;
  left: 192px;
  position: relative;
  top: 120px;
  width: 872px;
}

.online-ordering-pro .homepage-preview-1 {
  height: 569px;
  left: 0;
  position: absolute;
  top: 0;
  width: 872px;
}

.online-ordering-pro .group-427321948 {
  align-items: flex-end;
  border: 6px solid;
  border-color: #ff4c0080;
  border-radius: 25px;
  display: flex;
  height: 286px;
  justify-content: flex-end;
  left: 341px;
  min-width: 300px;
  padding: 12.7px 13.3px;
  position: absolute;
  top: 295px;
}

.online-ordering-pro .overlap-group {
  align-items: flex-start;
  border: 6px solid;
  border-color: #ff4c004c;
  border-radius: 25px;
  display: flex;
  height: 260px;
  min-width: 273px;
  padding: 7.6px 8.3px;
}

.online-ordering-pro .rectangle-25135 {
  border: 6px solid;
  border-color: #ff4c001a;
  border-radius: 25px;
  height: 234px;
  width: 245px;
}

.online-ordering-pro .line-1187 {
  margin-right: 2.0px;
  margin-top: 88px;
  width: 1238px;
}

.online-ordering-pro .line-1187.animate-enter10 {
  animation: animate-enter10-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322098 {
  height: 1283px;
  margin-right: 1.0px;
  margin-top: 72px;
  opacity: 0;
  position: relative;
  width: 1243px;
}

.online-ordering-pro .group-427322098.animate-enter8 {
  animation: animate-enter8-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group2 {
  align-items: flex-end;
  background-image: url(../img/rectangle-25139.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1204px;
  left: 4px;
  min-width: 1237px;
  padding: 7px 154px;
  position: absolute;
  top: 79px;
}

.online-ordering-pro .group-427321969 {
  height: 1182px;
  width: 929px;
}

.online-ordering-pro .branded-online-ordering-pro {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro .line-1188 {
  margin-right: 2.0px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro .line-1188.animate-enter11 {
  animation: animate-enter11-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322099 {
  height: 1122px;
  margin-left: 1.0px;
  margin-top: 73px;
  opacity: 0;
  position: relative;
  width: 1241px;
}

.online-ordering-pro .group-427322099.animate-enter21 {
  animation: animate-enter21-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter21-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group4 {
  background-image: url(../img/image-8-1.png);
  background-size: 100% 100%;
  height: 1051px;
  left: 2px;
  position: absolute;
  top: 71px;
  width: 1237px;
}

.online-ordering-pro .homepage-preview-1-1 {
  height: 569px;
  left: 191px;
  position: absolute;
  top: 250px;
  width: 872px;
}

.online-ordering-pro .screen-shot-2024-02-21-at-710-1 {
  height: 569px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: 250px;
  width: 874px;
}

.online-ordering-pro .line-1189 {
  margin-right: 2.0px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro .line-1189.animate-enter12 {
  animation: animate-enter12-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .overlap-group14 {
  height: 1185px;
  margin-left: 4.0px;
  margin-top: 57px;
  position: relative;
  width: 1242px;
}

.online-ordering-pro .account-2 {
  height: 359px;
  left: 585px;
  object-fit: cover;
  position: absolute;
  top: 710px;
  width: 208px;
}

.online-ordering-pro .account-2-1 {
  height: 360px;
  left: 729px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 208px;
}

.online-ordering-pro .cart-4 {
  height: 360px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 209px;
}

.online-ordering-pro .cart-4-1 {
  height: 462px;
  left: 1024px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 208px;
}

.online-ordering-pro .home_0 {
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 208px;
}

.online-ordering-pro .loyalty-3 {
  height: 360px;
  left: 876px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 209px;
}

.online-ordering-pro .menu-1 {
  height: 360px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 209px;
}

.online-ordering-pro .menu-1-1 {
  height: 360px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 208px;
}

.online-ordering-pro .group-427322100 {
  height: 1185px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1242px;
}

.online-ordering-pro .group-427322100.animate-enter19 {
  animation: animate-enter19-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter19-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .group-427321970 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 342px;
  left: 0;
  min-width: 1226px;
  position: absolute;
  top: 184px;
}

.online-ordering-pro .sitemap-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 342px;
  width: 605px;
}

.online-ordering-pro .sitemap-1 {
  height: 36px;
  width: 605px;
}

.online-ordering-pro .sitemap-2 {
  height: 302px;
  width: 605px;
}

.online-ordering-pro .user-flows-high-level-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 342px;
  width: 605px;
}

.online-ordering-pro .user-flows-high-level-2 {
  height: 36px;
  width: 605px;
}

.online-ordering-pro .user-flows-high-level-1 {
  height: 303px;
  width: 605px;
}

.online-ordering-pro .rectangle-25138 {
  background-color: #e7e2db;
  height: 598px;
  left: 1px;
  position: absolute;
  top: 587px;
  width: 1237px;
}

.online-ordering-pro .milestone-white-label-app-mvp {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro .this-is-a-new-beta-p {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  width: 615px;
}

.online-ordering-pro .line-1190 {
  margin-top: 81px;
  width: 1238px;
}

.online-ordering-pro .line-1190.animate-enter13 {
  animation: animate-enter13-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322101 {
  height: 850px;
  margin-left: 1.0px;
  margin-top: 71px;
  opacity: 0;
  position: relative;
  width: 1239px;
}

.online-ordering-pro .group-427322101.animate-enter18 {
  animation: animate-enter18-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter18-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .overlap-group3 {
  align-items: flex-end;
  background-color: #d5e0ff;
  display: flex;
  height: 778px;
  justify-content: flex-end;
  left: 0;
  min-width: 1237px;
  padding: 27.5px 154.0px;
  position: absolute;
  top: 72px;
}

.online-ordering-pro .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/group-427321967.png);
  background-size: 100% 100%;
  display: flex;
  height: 715px;
  justify-content: flex-end;
  min-width: 929px;
  padding: 136px 243.6px;
}

.online-ordering-pro .x561708543226_-1 {
  height: 423px;
  width: 188px;
}

.online-ordering-pro .surname {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro .line-1191 {
  margin-top: 83px;
  width: 1238px;
}

.online-ordering-pro .line-1191.animate-enter14 {
  animation: animate-enter14-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322102 {
  height: 815px;
  margin-left: 1.0px;
  margin-top: 73px;
  opacity: 0;
  position: relative;
  width: 1241px;
}

.online-ordering-pro .group-427322102.animate-enter16 {
  animation: animate-enter16-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter16-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .group-427321975 {
  height: 739px;
  left: 2px;
  position: absolute;
  top: 76px;
  width: 1237px;
}

.online-ordering-pro .surname-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 979px;
}

.online-ordering-pro .line-1186 {
  margin-right: 2.0px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro .line-1186.animate-enter15 {
  animation: animate-enter15-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .group-427322103 {
  height: 805px;
  margin-right: 60.0px;
  margin-top: 76px;
  opacity: 0;
  position: relative;
  width: 1180px;
}

.online-ordering-pro .group-427322103.animate-enter17 {
  animation: animate-enter17-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter17-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .fukuryu-ramen-is-a-4 {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 99px;
  width: 608px;
}

.online-ordering-pro .fukuryu-ramen-went-l {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 303px;
  width: 628px;
}

.online-ordering-pro .challenge {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
  width: 745px;
}

.online-ordering-pro .first-live-app-fuk {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 745px;
}

.online-ordering-pro .x551708539624_-1 {
  height: 805px;
  left: 800px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 372px;
}

.online-ordering-pro .overlap-group16 {
  height: 856px;
  margin-top: 122px;
  position: relative;
  width: 1240px;
}

.online-ordering-pro .screen-shot-2024-02-19-at-1138-3 {
  display: block;
  height: 664px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 192px;
  width: 1237px;
}

.online-ordering-pro .screen-shot-2024-02-19-at-1138-3.animate-enter3 {
  animation: animate-enter3-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .thanks-for-scrolling {
  color: var(--base-shade--100);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1017px;
}

.online-ordering-pro .thanks-for-scrolling.animate-enter4 {
  animation: animate-enter4-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro .line-1176 {
  left: 0;
  position: absolute;
  top: 126px;
  width: 1237px;
}

.online-ordering-pro .line-1176.animate-enter5 {
  animation: animate-enter5-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
}

.online-ordering-pro .image {
  object-fit: cover;
  position: absolute;
}

.online-ordering-pro .line {
  display: block;
  height: 1px;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.1);
}

.online-ordering-pro .metric-3 {
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.online-ordering-pro .primary-title-8 {
  letter-spacing: -0.31px;
  line-height: normal;
  position: absolute;
}
