:root { 
  --black: #000000;
  --border--border-color-default: #0000001f;
  --gray110: #474747;
  --mercury: #e6e6e6;
  --neutral-70: #6c6865;
  --silver-chalice: #afafaf;
  --tuatara: #363636;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 32px;
  --font-size-xs: 16px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 64px;
 
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-lexend_mega: "Lexend Mega", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.sourcesanspro-normal-granite-gray-20px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.sourcesanspro-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 400;
}

.inter-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-granite-gray-20px {
  color: var(--neutral-70);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.lexendmega-bold-silver-chalice-24px {
  color: var(--silver-chalice);
  font-family: var(--font-family-lexend_mega);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lexendmega-medium-white-24px {
  color: var(--white);
  font-family: var(--font-family-lexend_mega);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-black-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 900;
}

.inter-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lexendmega-normal-silver-chalice-18px {
  color: var(--silver-chalice);
  font-family: var(--font-family-lexend_mega);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lexendmega-normal-tuatara-18px {
  color: var(--tuatara);
  font-family: var(--font-family-lexend_mega);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gravel-20px {
  color: var(--gray110);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-gravel-128px {
  color: var(--gray110);
  font-family: var(--font-family-helvetica-bold);
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
}

.sourcesanspro-semi-bold-granite-gray-48px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}
