/* screen - online-ordering-pro-u38-app */

.online-ordering-pro-u38-app {
  align-items: flex-end;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 148px;
  height: 13220px;
  overflow: hidden;
  padding: 76px 0;
  width: 1440px;
}

.online-ordering-pro-u38-app ._black-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 3.36px;
  min-width: 1239px;
}

.online-ordering-pro-u38-app .ash-cui_-black {
  cursor: pointer;
  height: 17px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 120px;
}

.online-ordering-pro-u38-app .ash-cui_-black:hover {
  transform: scale(1.3);
}

.online-ordering-pro-u38-app .work_-black {
  cursor: pointer;
  height: 17px;
  margin-left: 858px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 92px;
}

.online-ordering-pro-u38-app .work_-black:hover {
  transform: scale(1.3);
}

.online-ordering-pro-u38-app .about_-black {
  cursor: pointer;
  height: 17px;
  margin-left: 64px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  width: 105px;
}

.online-ordering-pro-u38-app .about_-black:hover {
  transform: scale(1.3);
}

.online-ordering-pro-u38-app .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -36px;
  min-height: 12661px;
  width: 1381px;
}

.online-ordering-pro-u38-app .overlap-group12 {
  align-self: center;
  height: 346px;
  position: relative;
  width: 1369px;
}

.online-ordering-pro-u38-app .group-427321972 {
  height: 346px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1369px;
}

.online-ordering-pro-u38-app .group-427321972.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group {
  height: 346px;
  position: relative;
  width: 1363px;
}

.online-ordering-pro-u38-app .number {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: absolute;
  top: 302px;
  width: 390px;
}

.online-ordering-pro-u38-app .number.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .product-design {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 973px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 390px;
}

.online-ordering-pro-u38-app .toast-branded-onli {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1186px;
}

.online-ordering-pro-u38-app .line-1173 {
  left: 0;
  position: absolute;
  top: 266px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1173.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .overlap-group14 {
  height: 550px;
  margin-left: 7px;
  margin-top: 89px;
  position: relative;
  width: 1237px;
}

.online-ordering-pro-u38-app .flex-container-2117 {
  height: 228px;
  left: 565px;
  top: 43px;
  width: 587px;
}

.online-ordering-pro-u38-app .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24.0px;
  position: relative;
}

.online-ordering-pro-u38-app .frame-427322287 {
  display: block;
  height: 550px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1237px;
}

.online-ordering-pro-u38-app .frame-427322287.animate-enter9 {
  animation: animate-enter9-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .group-427321973 {
  height: 453px;
  margin-left: 5px;
  margin-top: 96px;
  opacity: 0;
  position: relative;
  width: 1136px;
}

.online-ordering-pro-u38-app .group-427321973.animate-enter10 {
  animation: animate-enter10-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .branded-online-ordering-pro-admin {
  left: 509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 497px;
}

.online-ordering-pro-u38-app .surname {
  left: 509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 274px;
  width: 497px;
}

.online-ordering-pro-u38-app .flex-container-2113 {
  height: 164px;
  left: 509px;
  top: 43px;
  width: 593px;
}

.online-ordering-pro-u38-app .overlap-group3 {
  height: 136px;
  left: 509px;
  position: absolute;
  top: 317px;
  width: 615px;
}

.online-ordering-pro-u38-app .this-is-a-new-beta-p {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 615px;
}

.online-ordering-pro-u38-app .a-white-label-app-i {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 608px;
}

.online-ordering-pro-u38-app .vision {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 277px;
}

.online-ordering-pro-u38-app .group-427321974 {
  align-self: flex-end;
  height: 378px;
  margin-top: 98px;
  opacity: 0;
  position: relative;
  width: 1376px;
}

.online-ordering-pro-u38-app .group-427321974.animate-enter11 {
  animation: animate-enter11-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .lead-product-design {
  left: 509px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro-u38-app .flex-container-2114 {
  height: 300px;
  left: 507px;
  top: 78px;
  width: 625px;
}

.online-ordering-pro-u38-app .role-contribution {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 277px;
}

.online-ordering-pro-u38-app .group-427321990 {
  height: 539px;
  margin-top: 11px;
  opacity: 0;
  position: relative;
  width: 1245px;
}

.online-ordering-pro-u38-app .group-427321990.animate-enter31 {
  animation: animate-enter31-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .roadmap {
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 270px;
}

.online-ordering-pro-u38-app .software-requirements-document-frame-1-1 {
  height: 512px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 1243px;
}

.online-ordering-pro-u38-app .line-1179 {
  margin-left: 5px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1179.animate-enter15 {
  animation: animate-enter15-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321976 {
  height: 265px;
  margin-left: 5px;
  margin-top: 73px;
  opacity: 0;
  position: relative;
  width: 1060px;
}

.online-ordering-pro-u38-app .group-427321976.animate-enter30 {
  animation: animate-enter30-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter30-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .milestone-1-online {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 1056px;
}

.online-ordering-pro-u38-app .flex-container-2200 {
  height: 164px;
  left: 0;
  top: 101px;
  width: 630px;
}

.online-ordering-pro-u38-app .group-427321968 {
  background-image: url(../img/image-8.png);
  background-size: 100% 100%;
  height: 918px;
  margin-left: 7px;
  margin-top: 41px;
  opacity: 0;
  width: 1237px;
}

.online-ordering-pro-u38-app .group-427321968.animate-enter7 {
  animation: animate-enter7-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group1 {
  height: 581px;
  left: 192px;
  position: relative;
  top: 120px;
  width: 872px;
}

.online-ordering-pro-u38-app .homepage-preview-1 {
  height: 569px;
  left: 0;
  position: absolute;
  top: 0;
  width: 872px;
}

.online-ordering-pro-u38-app .group-427321948 {
  align-items: flex-end;
  border: 6px solid;
  border-color: #ff4c0080;
  border-radius: 25px;
  display: flex;
  height: 286px;
  justify-content: flex-end;
  left: 341px;
  min-width: 300px;
  padding: 12.7px 13.3px;
  position: absolute;
  top: 295px;
}

.online-ordering-pro-u38-app .overlap-group-1 {
  border: 6px solid;
  border-color: #ff4c004c;
  border-radius: 25px;
  height: 260px;
  min-width: 273px;
  padding: 7.6px 8.3px;
}

.online-ordering-pro-u38-app .rectangle-25135 {
  border: 6px solid;
  border-color: #ff4c001a;
  border-radius: 25px;
  height: 234px;
  width: 245px;
}

.online-ordering-pro-u38-app .line-1187 {
  margin-left: 5px;
  margin-top: 88px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1187.animate-enter16 {
  animation: animate-enter16-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter16-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321978 {
  height: 1283px;
  margin-left: 3px;
  margin-top: 72px;
  opacity: 0;
  position: relative;
  width: 1243px;
}

.online-ordering-pro-u38-app .group-427321978.animate-enter12 {
  animation: animate-enter12-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/rectangle-25139.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1204px;
  left: 4px;
  min-width: 1237px;
  padding: 7px 154px;
  position: absolute;
  top: 79px;
}

.online-ordering-pro-u38-app .group-427321969 {
  height: 1182px;
  width: 929px;
}

.online-ordering-pro-u38-app .branded-online-ordering-pro-admin-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro-u38-app .line-1188 {
  margin-left: 5px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1188.animate-enter17 {
  animation: animate-enter17-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter17-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .overlap-group16 {
  height: 1122px;
  margin-left: 5px;
  margin-top: 73px;
  position: relative;
  width: 1239px;
}

.online-ordering-pro-u38-app .group-427321980 {
  height: 1122px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1239px;
}

.online-ordering-pro-u38-app .group-427321980.animate-enter14 {
  animation: animate-enter14-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .group-427321979 {
  height: 1122px;
  opacity: 0;
  position: relative;
  width: 1241px;
}

.online-ordering-pro-u38-app .group-427321979.animate-enter13 {
  animation: animate-enter13-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .image-8 {
  height: 1051px;
  left: 2px;
  position: absolute;
  top: 71px;
  width: 1237px;
}

.online-ordering-pro-u38-app .branded-online-ordering-pro-live-site {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro-u38-app .homepage-preview-1-1 {
  height: 569px;
  left: 193px;
  position: absolute;
  top: 321px;
  width: 872px;
}

.online-ordering-pro-u38-app .screen-shot-2024-02-21-at-710-1 {
  height: 569px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 874px;
}

.online-ordering-pro-u38-app .line-1189 {
  margin-left: 5px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1189.animate-enter18 {
  animation: animate-enter18-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter18-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321981 {
  height: 260px;
  margin-left: 7px;
  margin-top: 51px;
  opacity: 0;
  width: 1197px;
}

.online-ordering-pro-u38-app .group-427321981.animate-enter32 {
  animation: animate-enter32-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group11 {
  height: 260px;
  position: relative;
  width: 1193px;
}

.online-ordering-pro-u38-app .impact {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 861px;
}

.online-ordering-pro-u38-app .flex-container-2204 {
  height: 260px;
  left: 504px;
  top: 0;
  width: 689px;
}

.online-ordering-pro-u38-app .text0-2204 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -32.00px;
  position: relative;
}

.online-ordering-pro-u38-app .text1-2204 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.online-ordering-pro-u38-app .span8 {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}

.online-ordering-pro-u38-app .group-427321982 {
  height: 237px;
  margin-left: 7px;
  margin-top: 59px;
  opacity: 0;
  width: 1173px;
}

.online-ordering-pro-u38-app .group-427321982.animate-enter8 {
  animation: animate-enter8-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group2 {
  height: 237px;
  position: relative;
  width: 1171px;
}

.online-ordering-pro-u38-app .feedback {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 61px;
  width: 861px;
}

.online-ordering-pro-u38-app .screen-shot-2024-02-20-at-1141-1 {
  height: 237px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 686px;
}

.online-ordering-pro-u38-app .group-427321983 {
  height: 136px;
  margin-left: 7px;
  margin-top: 47px;
  opacity: 0;
  width: 1220px;
}

.online-ordering-pro-u38-app .group-427321983.animate-enter27 {
  animation: animate-enter27-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter27-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group10 {
  height: 136px;
  position: relative;
  width: 1216px;
}

.online-ordering-pro-u38-app .inspiration-next-step {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 861px;
}

.online-ordering-pro-u38-app .flex-container-2198 {
  height: 136px;
  left: 506px;
  top: 0;
  width: 710px;
}

.online-ordering-pro-u38-app .line-1177 {
  margin-left: 6px;
  margin-top: 38px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1177.animate-enter19 {
  animation: animate-enter19-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter19-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321985 {
  height: 162px;
  margin-left: 7px;
  margin-top: 73px;
  opacity: 0;
  width: 861px;
}

.online-ordering-pro-u38-app .group-427321985.animate-enter29 {
  animation: animate-enter29-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter29-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .group-427321984 {
  height: 162px;
  opacity: 0;
  position: relative;
  width: 865px;
}

.online-ordering-pro-u38-app .group-427321984.animate-enter28 {
  animation: animate-enter28-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter28-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .milestone-2-white-label-app-mvp {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.online-ordering-pro-u38-app .this-is-a-new-beta-p-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  width: 615px;
}

.online-ordering-pro-u38-app .group-427321970 {
  height: 342px;
  margin-left: 6px;
  margin-top: 22px;
  opacity: 0;
  position: relative;
  width: 1226px;
}

.online-ordering-pro-u38-app .group-427321970.animate-enter6 {
  animation: animate-enter6-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .sitemap-1 {
  height: 36px;
  top: 0;
}

.online-ordering-pro-u38-app .sitemap-2 {
  height: 302px;
  top: 40px;
}

.online-ordering-pro-u38-app .user-flows-high-level-1 {
  height: 303px;
  top: 39px;
}

.online-ordering-pro-u38-app .user-flows-high-level-2 {
  height: 36px;
  top: 0;
}

.online-ordering-pro-u38-app .group-427321986 {
  background-color: #e7e2db;
  height: 598px;
  margin-left: 7px;
  margin-top: 61px;
  opacity: 0;
  width: 1237px;
}

.online-ordering-pro-u38-app .group-427321986.animate-enter24 {
  animation: animate-enter24-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group6 {
  height: 462px;
  left: -1px;
  position: relative;
  top: 119px;
  width: 1232px;
}

.online-ordering-pro-u38-app .account-2 {
  height: 359px;
  left: 585px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 208px;
}

.online-ordering-pro-u38-app .account-2-1 {
  height: 360px;
  left: 729px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.online-ordering-pro-u38-app .cart-4 {
  height: 360px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 209px;
}

.online-ordering-pro-u38-app .cart-4-1 {
  height: 462px;
  left: 1024px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.online-ordering-pro-u38-app .home_0 {
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.online-ordering-pro-u38-app .loyalty-3 {
  height: 360px;
  left: 876px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 209px;
}

.online-ordering-pro-u38-app .menu-1 {
  height: 360px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 209px;
}

.online-ordering-pro-u38-app .menu-1-1 {
  height: 360px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.online-ordering-pro-u38-app .line-1190 {
  margin-left: 6px;
  margin-top: 81px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1190.animate-enter20 {
  animation: animate-enter20-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter20-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321987 {
  height: 850px;
  margin-left: 6px;
  margin-top: 71px;
  opacity: 0;
  position: relative;
  width: 1239px;
}

.online-ordering-pro-u38-app .group-427321987.animate-enter26 {
  animation: animate-enter26-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter26-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group9 {
  align-items: flex-end;
  background-color: #d5e0ff;
  display: flex;
  height: 778px;
  justify-content: flex-end;
  left: 0;
  min-width: 1237px;
  padding: 27.5px 154.0px;
  position: absolute;
  top: 72px;
}

.online-ordering-pro-u38-app .overlap-group-2 {
  background-image: url(../img/group-427321967.png);
  background-size: 100% 100%;
  height: 715px;
  justify-content: flex-end;
  min-width: 929px;
  padding: 136px 243.6px;
}

.online-ordering-pro-u38-app .x561708543226_-1 {
  height: 423px;
  width: 188px;
}

.online-ordering-pro-u38-app .surname-1 {
  left: 1px;
  width: 861px;
}

.online-ordering-pro-u38-app .line-1191 {
  margin-left: 6px;
  margin-top: 83px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1191.animate-enter21 {
  animation: animate-enter21-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter21-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .overlap-group13 {
  height: 815px;
  margin-left: 5px;
  margin-top: 73px;
  position: relative;
  width: 1241px;
}

.online-ordering-pro-u38-app .ellipse-80 {
  left: 943px;
  top: 426px;
}

.online-ordering-pro-u38-app .group-427321988 {
  height: 815px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1241px;
}

.online-ordering-pro-u38-app .group-427321988.animate-enter23 {
  animation: animate-enter23-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group5 {
  background-color: var(--black);
  height: 739px;
  left: 2px;
  position: absolute;
  top: 76px;
  width: 1237px;
}

.online-ordering-pro-u38-app .ellipse-79 {
  left: 573px;
  top: 358px;
}

.online-ordering-pro-u38-app .screen-shot-2024-02-20-at-141-1 {
  height: 654px;
  left: 402px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 434px;
}

.online-ordering-pro-u38-app .surname-2 {
  left: 0;
  width: 979px;
}

.online-ordering-pro-u38-app .line-1186 {
  margin-left: 5px;
  margin-top: 80px;
  width: 1238px;
}

.online-ordering-pro-u38-app .line-1186.animate-enter22 {
  animation: animate-enter22-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .group-427321989 {
  height: 809px;
  margin-left: 5px;
  margin-top: 72px;
  opacity: 0;
  width: 1180px;
}

.online-ordering-pro-u38-app .group-427321989.animate-enter25 {
  animation: animate-enter25-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .overlap-group8 {
  height: 809px;
  position: relative;
  width: 1172px;
}

.online-ordering-pro-u38-app .fukuryu-ramen-is-a-4 {
  left: 2px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 138px;
  width: 608px;
}

.online-ordering-pro-u38-app .fukuryu-ramen-was-li {
  left: 2px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 398px;
  width: 628px;
}

.online-ordering-pro-u38-app .challenge {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 343px;
  width: 745px;
}

.online-ordering-pro-u38-app .overlap-group7 {
  height: 809px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1170px;
}

.online-ordering-pro-u38-app .impact-first-live-ap {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 927px;
}

.online-ordering-pro-u38-app .x551708539624_-1 {
  height: 805px;
  left: 798px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 372px;
}

.online-ordering-pro-u38-app .overlap-group15 {
  height: 856px;
  margin-left: 5px;
  margin-top: 122px;
  position: relative;
  width: 1240px;
}

.online-ordering-pro-u38-app .screen-shot-2024-02-19-at-1138-3 {
  display: block;
  height: 664px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 192px;
  width: 1237px;
}

.online-ordering-pro-u38-app .screen-shot-2024-02-19-at-1138-3.animate-enter3 {
  animation: animate-enter3-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .thanks-for-scrolling {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1017px;
}

.online-ordering-pro-u38-app .thanks-for-scrolling.animate-enter4 {
  animation: animate-enter4-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.online-ordering-pro-u38-app .line-1176 {
  left: 0;
  position: absolute;
  top: 126px;
  width: 1237px;
}

.online-ordering-pro-u38-app .line-1176.animate-enter5 {
  animation: animate-enter5-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.online-ordering-pro-u38-app .ellipse {
  background-color: #05ff00;
  border-radius: 45px;
  height: 90px;
  position: absolute;
  width: 90px;
}

.online-ordering-pro-u38-app .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
}

.online-ordering-pro-u38-app .line {
  display: block;
  height: 1px;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.1);
}

.online-ordering-pro-u38-app .overlap-group-3 {
  align-items: flex-start;
  display: flex;
}

.online-ordering-pro-u38-app .sitemap {
  left: 0;
  position: absolute;
  width: 605px;
}

.online-ordering-pro-u38-app .surname-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.online-ordering-pro-u38-app .user-flows-high-level {
  left: 621px;
  position: absolute;
  width: 605px;
}
