:root { 
  --black: #000000;
  --neutral-70: #6c6865;
  --silver-chalice: #afafaf;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 32px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 64px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-lexend_mega: "Lexend Mega", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.sourcesanspro-normal-granite-gray-20px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.sourcesanspro-semi-bold-granite-gray-48px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.lexendmega-medium-silver-chalice-24px {
  color: var(--silver-chalice);
  font-family: var(--font-family-lexend_mega);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.sourcesanspro-normal-granite-gray-24px {
  color: var(--neutral-70);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
