/* screen - work */

.work {
  align-items: center;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  height: 10184px;
  width: 1440px;
}

.work .frame-427322291 {
  align-items: center;
  background-color: #212020;
  display: flex;
  gap: 821px;
  height: 118px;
  padding: 0 102px;
  width: 1440px;
}

.work .image-46 {
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 151px;
}

.work .image-46:hover {
  transform: scale(1.5);
}

.work .group-427322032 {
  align-items: flex-start;
  display: flex;
  gap: 63px;
  min-width: 245px;
}

.work .image-47 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 85px;
}

.work .image-47:hover {
  transform: scale(1.5);
}

.work .image-48 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 97px;
}

.work .image-48:hover {
  transform: scale(1.5);
}

.work .title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 140px;
  margin-right: 23.0px;
  margin-top: 77px;
  opacity: 0;
  white-space: nowrap;
  width: 1225px;
}

.work .title.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322037 {
  cursor: pointer;
  height: 644px;
  margin-top: 63px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1238px;
}

.work .group-427322037.animate-enter5 {
  animation: animate-enter5-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322037:hover {
  transform: scale(1.05);
}

.work .frame-4273222 {
  height: 550px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1237px;
}

.work .toast-website-buil {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 573px;
  width: 1017px;
}

.work .group-427321956 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1238px;
}

.work .group-427321956.animate-enter6 {
  animation: animate-enter6-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321956:hover {
  transform: scale(1.05);
}

.work .brand {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1126px;
}

.work .group-427321960 {
  cursor: pointer;
  height: 647px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1240px;
}

.work .group-427321960.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321960:hover {
  transform: scale(1.05);
}

.work .toast-consumer-bra {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 572px;
  width: 1017px;
}

.work .group-427321959 {
  cursor: pointer;
  height: 645px;
  margin-right: 1.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1239px;
}

.work .group-427321959.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321959:hover {
  transform: scale(1.05);
}

.work .baunfire-google-san-jose {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1017px;
}

.work .image-42 {
  height: 549px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1237px;
}

.work .group-427321958 {
  cursor: pointer;
  height: 645px;
  margin-left: 1.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1241px;
}

.work .group-427321958.animate-enter3 {
  animation: animate-enter3-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321958:hover {
  transform: scale(1.05);
}

.work .image-43 {
  height: 550px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1237px;
}

.work .group-427321961 {
  cursor: pointer;
  height: 647px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1240px;
}

.work .group-427321961.animate-enter4 {
  animation: animate-enter4-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321961:hover {
  transform: scale(1.05);
}

.work .baunfire-benchling {
  top: 572px;
}

.work .group-427322038 {
  cursor: pointer;
  height: 646px;
  margin-left: 3.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1243px;
}

.work .group-427322038.animate-enter11 {
  animation: animate-enter11-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322038:hover {
  transform: scale(1.05);
}

.work .baunfire-dlight {
  top: 571px;
}

.work .image-5 {
  height: 550px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1240px;
}

.work .group-427322039 {
  cursor: pointer;
  height: 645px;
  margin-left: 5.0px;
  margin-top: 90px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1245px;
}

.work .group-427322039.animate-enter12 {
  animation: animate-enter12-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322039:hover {
  transform: scale(1.05);
}

.work .baunfire-plex {
  top: 570px;
}

.work .group-427322040 {
  cursor: pointer;
  height: 645px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1242px;
}

.work .group-427322040.animate-enter13 {
  animation: animate-enter13-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322040:hover {
  transform: scale(1.05);
}

.work .image-54 {
  height: 550px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1240px;
}

.work .visual {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 140px;
  margin-right: 23.0px;
  margin-top: 90px;
  opacity: 0;
  white-space: nowrap;
  width: 1225px;
}

.work .visual.animate-enter7 {
  animation: animate-enter7-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322041 {
  cursor: pointer;
  height: 644px;
  margin-top: 63px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1238px;
}

.work .group-427322041.animate-enter9 {
  animation: animate-enter9-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427322041:hover {
  transform: scale(1.05);
}

.work .exhibition-in-the-memory-of-paul-rand {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 573px;
  width: 1017px;
}

.work .group-427321964 {
  cursor: pointer;
  height: 645px;
  margin-top: 93px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1238px;
}

.work .group-427321964.animate-enter10 {
  animation: animate-enter10-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321964:hover {
  transform: scale(1.05);
}

.work .group-427321962 {
  cursor: pointer;
  height: 647px;
  margin-left: 2.0px;
  margin-top: 91px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 1240px;
}

.work .group-427321962.animate-enter8 {
  animation: animate-enter8-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .group-427321962:hover {
  transform: scale(1.05);
}

.work .exhibition-a-great-conversation {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 572px;
  width: 1017px;
}

.work .image-container {
  align-items: flex-end;
  display: flex;
  gap: 60px;
  margin-top: 227px;
  min-width: 662px;
}

.work .image-44 {
  display: block;
  height: 230px;
  object-fit: cover;
  opacity: 0;
  width: 412px;
}

.work .image-44.animate-enter14 {
  animation: animate-enter14-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .image-45 {
  cursor: pointer;
  display: block;
  height: 251px;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 190px;
}

.work .image-45.animate-enter15 {
  animation: animate-enter15-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.work .image-45:hover {
  transform: scale(1.3);
}

.work .baunfire {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 1017px;
}

.work .personal {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 570px;
  width: 1017px;
}
