/* screen - about */

.about {
  align-items: flex-end;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  height: 3266px;
  overflow: hidden;
  width: 1440px;
}

.about .frame-427322291 {
  align-items: center;
  background-color: #212020;
  display: flex;
  gap: 821px;
  height: 118px;
  padding: 0 102px;
  width: 1440px;
}

.about .image-46 {
  cursor: pointer;
  height: 22px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 151px;
}

.about .image-46:hover {
  transform: scale(1.5);
}

.about .group-427322032 {
  align-items: flex-start;
  display: flex;
  gap: 63px;
  min-width: 245px;
}

.about .image-47 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 85px;
}

.about .image-47:hover {
  transform: scale(1.5);
}

.about .image-48 {
  cursor: pointer;
  height: 16px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  width: 97px;
}

.about .image-48:hover {
  transform: scale(1.5);
}

.about .group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 144px;
  height: 528px;
  margin-left: 111.25px;
  margin-top: 117px;
  min-width: 1085px;
}

.about .overlap-group5 {
  height: 486px;
  position: relative;
  width: 926px;
}

.about .greatness-cannot-be {
  color: var(--white);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 80px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 926px;
}

.about .greatness-cannot-be.animate-enter {
  animation: animate-enter-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .group-427322042 {
  cursor: pointer;
  height: 90px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 396px;
  transition: all 0.3s ease-in-out;
  width: 270px;
}

.about .group-427322042.animate-enter3 {
  animation: animate-enter3-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .group-427322042:hover {
  transform: scale(1.3);
}

.about .overlap-group1 {
  height: 86px;
  left: -1px;
  position: relative;
  width: 269px;
}

.about .vector-20 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 238px;
}

.about .download-resume {
  color: var(--white);
  font-family: var(--font-family-nats-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 264px;
}

.about .group-427321953 {
  align-self: flex-end;
  height: 435px;
  opacity: 0;
  position: relative;
  transform: scale(0.1);
  width: 16px;
}

.about .group-427321953.animate-enter2 {
  animation: animate-enter2-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(0.1);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: scale(0.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.about .line-1186 {
  height: 348px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.about .image-50 {
  height: 64px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 371px;
  width: 16px;
}

.about .group-427322043 {
  height: 217px;
  margin-right: -201px;
  margin-top: 141px;
  opacity: 0;
  position: relative;
  width: 1399px;
}

.about .group-427322043.animate-enter7 {
  animation: animate-enter7-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .toast {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 191px;
}

.about .overlap-group3 {
  height: 29px;
  left: 466px;
  position: absolute;
  top: 0;
  width: 925px;
}

.about .staff-product-designer {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .name {
  left: 418px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 0;
  width: 507px;
}

.about .flex-container-3320 {
  height: 154px;
  top: 63px;
}

.about .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
}

.about .group-427322044 {
  height: 157px;
  margin-right: -142px;
  margin-top: 105px;
  opacity: 0;
  position: relative;
  width: 1340px;
}

.about .group-427322044.animate-enter6 {
  animation: animate-enter6-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .baunfire {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 279px;
}

.about .overlap-group2 {
  height: 29px;
  left: 466px;
  position: absolute;
  top: 0;
  width: 866px;
}

.about .creative-director {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .sep-2019-may-2022 {
  left: 359px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 0;
  width: 507px;
}

.about .flex-container-3323 {
  height: 96px;
  top: 61px;
}

.about .overlap-group {
  height: 100px;
  margin-right: -135px;
  margin-top: 122px;
  position: relative;
  width: 1333px;
}

.about .group-427322045 {
  height: 99px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 1333px;
}

.about .group-427322045.animate-enter4 {
  animation: animate-enter4-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .mccann {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 279px;
}

.about .x-designer {
  left: 466px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 861px;
}

.about .user-research-and {
  left: 466px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 61px;
  width: 507px;
}

.about .jun-201 {
  left: 825px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 0;
  width: 507px;
}

.about .group-427322046 {
  height: 99px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 1333px;
}

.about .group-427322046.animate-enter5 {
  animation: animate-enter5-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .wunderman {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 376px;
}

.about .created-brand-styl {
  left: 466px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 61px;
  width: 507px;
}

.about .group-427322047 {
  align-self: center;
  height: 603px;
  margin-left: 33.0px;
  margin-top: 98px;
  opacity: 0;
  width: 1027px;
}

.about .group-427322047.animate-enter1 {
  animation: animate-enter1-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .overlap-group-1 {
  height: 603px;
  position: relative;
  width: 1025px;
}

.about .image-60 {
  height: 454px;
  left: 407px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 618px;
}

.about .lve-been-to16-coun {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  width: 986px;
}

.about .image-container {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 60px;
  margin-right: 24.0px;
  margin-top: 195px;
  min-width: 662px;
}

.about .image-44 {
  display: block;
  height: 230px;
  object-fit: cover;
  opacity: 0;
  width: 412px;
}

.about .image-44.animate-enter8 {
  animation: animate-enter8-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .image-45 {
  cursor: pointer;
  display: block;
  height: 251px;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 190px;
}

.about .image-45.animate-enter9 {
  animation: animate-enter9-frames 2.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.about .image-45:hover {
  transform: scale(1.3);
}

.about .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 466px;
  position: absolute;
  width: 507px;
}
